{{<govuk_template}}

{{$pageTitle}}
	MVP Prototype
{{/pageTitle}}

{{$head}}
	<link href="/public/stylesheets/application-v4.css" media="screen" rel="stylesheet" type="text/css" />
{{/head}}

{{$content}}

<main id="content" role="main">
	<h1 class="heading-xlarge">
		Digital Mortgages MVP Prototype
	</h1>

	<p class="lede">Version 4, Dec 3rd 2015... End Dec 2015 (Not user tested)</p>

	<ul>
		<li><a href="/v4/citizen"><b>Full Journey</b> Including Verify</a>
			<br/><span style="color:grey; font-size:16px;">(Link back from Verify is out of date - use two links below)</span></li>		
		<li><a href="/v4/citizen/identity-verified"><b>Happy Path</b> Journey AFTER Verify</a></li>
		<li><a href="/v4/citizen/identity-unverified"><b>Sad Path</b> Part Journey AFTER Verify</a></li>
		<br>
		<li><a href="/v4/non-verify-journeys">Full Journey WITHOUT Verify</a> (mid Dec)</li>
		<!-- design by ??? given to UR/Design to make a proto version -->
		<br>
		<li><a href="/v4/non-verify-journeys-alt">Full Journey without Verify - alternate 'concept' idea</a> (late Dec very different idea - borrower 'token' and code to mobile, no 'code to sign deed')</li>
		<!-- design by Andy, John B and Nigel - after hearing about DOB flow, and considering previous UR -->
	</ul>

	<h2 class="heading-medium">
		Other journeys in the MVP Prototype
	</h1>
	<ul>
		<li><a href="/v4/deed-journeys/deed-transaction/deed-agreed_single"><b>Deed Signed</b> by a single individual</a></li>
		<li><a href="/v4/deed-journeys/deed-transaction/deed-agreed"><b>Deed Signed</b> by 2nd individual of a couple</a></li>
	</ul>

	<h2 class="heading-medium">
		Historic links to previous prototypes
	</h1>
	<ul>
		<li><a href="/historic">older links</a></li>
	</ul>
</main>

{{/content}}

{{$bodyEnd}}
  {{>includes/scripts}}
{{/bodyEnd}}

{{/govuk_template}}
