{{<govuk_template}}

{{$pageTitle}}
  Page cannot be found
{{/pageTitle}}

{{$head}}
  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css">
{{/head}}

{{$content}}

<main id="wrapper" role="main">

  <div id="content">
    {{>includes/beta_banner}}


    <div class="grid-row">
      <div class="column-two-thirds">

      	<h1 class="heading-xlarge">This page cannot be found</h1>

		    <p class="text">
          We could not find the page you requested. This could be because the
          address was mistyped, or a link you followed was pointing at a page
          that no longer exists.
        </p>

    		<p>
          If you are here to view your mortgage then please
          <a href="../sign-my-mortgage">start from the beginning</a>
        </p>

    		<p>
          Please report any broken links by
          <a href="mailto:team@emailaddress">contacting us via email</a>
        </p>

      </div>
    </div>

  </div>

</main>

{{/content}}

{{/govuk_template}}
