{{<govuk_template}}

{{$head}}
	<link href="/public/lr-style-guide/lr-styleguide/css/styleguide.css" media="screen" rel="stylesheet" type="text/css">
  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css">
{{/head}}

{{$pageTitle}}
  View your mortgage deed
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
	{{>includes/beta_banner}}

	<h1 class="heading-xlarge">What we are building</h1>

	<div class="text">

		<p>
			Version of what we're building - for Sprint - from 24th Feb to 8th Mar 2016
		</p>

		<h2 class="heading-medium">View mortgage deed flow</h2>
		<ul>
			<li><a href="/building-v1-4/sign-my-mortgage">Viewing mortgage deed - happy path</a></li>
			<ul>
				<li><a href="/building-v1-4/mortgage-deed">mortgage deed - nobody confirmed</a></li>
				<li><a href="/building-v1-4/mortgage-deed-1-confirmed">mortgage deed - 1 borrower confirmed</a></li>
				<li><a href="/building-v1-4/mortgage-deed-both-confirmed">mortgage deed - both borrowers confirmed</a></li>
			</ul>
		</ul>
		<h2 class="heading-medium">Unhappy paths</h2>
		<ul>
			<li><a href="/building-v1-4/deed-not-found-error/borrower-reference">Borrower reference / DOB does not match a deed</a></li>
			<li><a href="/building-v1-4/incorrect-dob/date-of-birth">Invalid date of birth</a></li>
			<li><a href="/building-v1-4/invalid-authentication-code/enter-authentication-code">Invalid authentication code</a></li>
		</ul>
		<h2 class="heading-medium">Errors</h2>
		<ul>
			<li><a href="/building-v1-4/server-errors/session-ended">Session has timed out or ended</a></li>
		</ul>

	</div>

</main>

{{/content}}

{{$bodyEnd}}
  {{>includes/scripts}}
  <script type="text/javascript" src="/public/lr-style-guide/lr-styleguide/js/styleguide.min.js"></script>
{{/bodyEnd}}

{{/govuk_template}}
