{{<layout-v1}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
  <div class="inner-block">
  
    {{>includes/alpha_banner}}

    <p><u>Create Case</u> > <u>Confirm Transaction</u> > <u><b>Create Mortgage</b></u> > <u>Sign Mortgage</u> > <u>Date and Submit</u></p>

    <h1 class="heading-xlarge">Mortgage Details</h1>

    <form action="step-5-mortgage-summary" method="get" class="form">

    	<div class="form-group">
			  <label for="mortgage-ref" class="form-label">MD Reference</label>
			  <p class='form-hint'>E.g. MD1234F</p>
			  <input type="text" class="form-control" id="mortgage-ref">
			</div>

      <section class="panel-indent">
        <h2 class="heading-medium">Mortgage lender</h2>

        <p itemscope="" itemtype="http://schema.org/Corporation">
          <span itemprop="name">General UK PLC</span><br>
          <span itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress" class="address-inline">
            <span itemprop="streetAddress">12 Trinity Place, Regents Street</span>
            <span itemprop="addressLocality">London</span>
            <span itemprop="postalCode">NW10 6TQ</span>
          </span>
        </p>
        <dl class="definition-inline">
          <dt>Company registration number</dt>
          <dd>2347676</dd>
          <dt>Account number</dt>
          <dd>1007-789654</dd>
        </dl>
      </section>

      <button class="button final-btn">Confirm mortgage details</button>
      <p><a href="conveyancer-case-list">Save draft</a></p>

    </form>

  </div>
</main>

{{/content}}

{{/layout-v1}}
