{{<govuk_template}}

{{$head}}
  {{>includes/head}}
  <link rel="stylesheet" type="text/css" href="/public/stylesheets/alphagov-static.css">
  <link rel="stylesheet" type="text/css" href="/public/stylesheets/case-details-v1-2.css">
{{/head}}


{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

  {{>includes/alpha_banner}}

  <div class="global-breadcrumb">
    <nav role="navigation">
      <ol>
        <li><a href="step-2-case-list">Case list</a></li>
        <li><a href="step-7-case-summary">Case details</a></li>
        <li><strong>Add a borrower</strong></li>
      </ol>
    </nav>
  </div>

  <h1 class="heading-large collapse-top">Add a borrower</h1>

  <form class="form" action="">

    <h2 class="heading-medium form-heading">Personal details</h2>
    <div class="form-group">
      <label class="form-label-bold" for="name">Full name</label>
      <input type="text" class="form-control" id="name">
    </div>

    <div class="form-group">
      <fieldset>
        <legend class="form-label-bold">Date of birth</legend>
        <div class="form-date">

          <p class="form-hint">For example, 31 3 1980</p>

          <div class="form-group form-group-day">
            <label for="dob-day">Day</label>
            <input class="form-control" id="dob-day" type="number" pattern="[0-9]*" min="0" max="31">
          </div>

          <div class="form-group form-group-month">
            <label for="dob-month">Month</label>
            <input class="form-control" id="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
          </div>

          <div class="form-group form-group-year">
            <label for="dob-year">Year</label>
            <input class="form-control" id="dob-year" type="number" pattern="[0-9]*" min="0" max="2014">
          </div>
        </div>
      </fieldset>
    </div>

    <div class="form-group">
      <fieldset>
        <legend class="form-label-bold">Gender</legend>
        <label class="block-label" for="radio-1">
          <input id="radio-1" type="radio" name="radio-group" value="Northern Ireland">
          Female
        </label>
        <label class="block-label" for="radio-2">
          <input id="radio-2" type="radio" name="radio-group" value="Isle of Man or the Channel Islands">
          Male
        </label>
        <p class="form-block">or</p>
        <label class="block-label" for="radio-3">
          <input id="radio-3" type="radio" name="radio-group" value="I am a British citizen living abroad">
          Other
        </label>
      </fieldset>
    </div>

    <h2 class="heading-medium">Correspondance address</h2>
    <div class="form-group" id="correspondance">
      <label class="form-label" for="address-1">Full address</label>
      <textarea rows="6" class="form-control" id="address-1"></textarea>
      <p><a href="#" class="font-xsmall duplicator">Add another correspondance address</a></p>
    </div>

    <h2 class="heading-medium">Contact details</h2>

    <div class="form-group" id="email">
      <label class="form-label" for="email-1">Email address</label>
      <p class="form-hint">Try to avoid shared email addresses</p>
      <input type="text" class="form-control" id="email-1">
      <p class="collapse-bottom"><a href="#" class="font-xsmall duplicator">Add another email address</a></p>
    </div>

    <div class="form-group tel">
      <label class="form-label" for="mobile-1">Mobile phone number</label>
      <input type="text" class="form-control-1-4" id="mobile-1">
      <p class="collapse-bottom"><a href="#" class="font-xsmall duplicator">Add another mobile number</a></p>
    </div>

    <div class="form-group tel">
      <label class="form-label" for="landline-1">Landline phone number</label>
      <input type="text" class="form-control-1-4" id="landline-1">
      <p class="collapse-bottom"><a href="#" class="font-xsmall duplicator">Add another landline number</a></p>
    </div>

    <div class="form-group">
      <button class="button">Add borrower</button>
      <p class="collapse-bottom"><a href="step-7-case-summary">Cancel and go back to case details</a></p>
    </div>

  </form>

</main>

{{/content}}


{{$bodyEnd}}
  {{>includes/scripts}}
  <script type="text/javascript" src="/public/javascripts/jquery-1.11.2.js"></script>
  <script type="text/javascript">
    $(function() {

      var templateStart = '<div style="margin-top:15px;">';

      var textarea = '<textarea rows="6" class="form-control"></textarea>';
      var inputLrg = '<input type="text" class="form-control">';
      var inputSml = '<input type="text" class="form-control-1-4">';

      var templateEnd = '<a href="#" class="font-xsmall remover" style="margin-left:15px;">Remove</a>';
      templateEnd += '</div>';

      $('body')

        .on('click', '.form-group a[href=#]', function(e) {
          e.preventDefault();
        })

        .on('click', '#correspondance .duplicator', function() {
          var template = templateStart + textarea + templateEnd;
          $(this).parents('.form-group').children(':last-child').before(template);
        })

        .on('click', '#email .duplicator', function() {
          var template = templateStart + inputLrg + templateEnd;
          $(this).parents('.form-group').children(':last-child').before(template);
        })

        .on('click', '.tel .duplicator', function() {
          var template = templateStart + inputSml + templateEnd;
          $(this).parents('.form-group').children(':last-child').before(template);
        })

        .on('click', '.form-group .remover', function() {
          $(this).parent().remove();
        });

    });
  </script>
{{/bodyEnd}}

{{/govuk_template}}
