{{<layout-v1-2}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<div class="outer-block">
			<div class="inner-block">
				{{>includes/alpha_banner}}
				<form class="form" action="step-9-second-borrower" method="get">

					<h1 class="form-title heading-large">
						<span class="progress">Step 3 of 3</span>
					</h1>
					<h1 class="form-title heading-large">
						First borrower
					</h1>

					<div class="form-group">
						<label class="form-label" for="full-name">Full name</label>
						<input type="text" class="form-control" id="full-name" name="full-name">
					</div>

					<div class="form-group">
						<label class="form-label" for="gender">Gender</label>
						<input type="text" class="form-control form-control-1-2" id="gender" name="gender">
					</div>

					<!-- Date of birth -->
					<div class="form-group">
						<fieldset>
							<legend class="form-label">Date of birth</legend>

							<div class="date-of-birth">
								<p class="form-hint">For example, 08 04 2014</p>

								<div class="form-group form-group-day">
									<label for="dob-day">Day</label>
									<input type="text" class="form-control" id="dob-day">
								</div>
								<div class="form-group form-group-month">
									<label for="dob-month">Month</label>
									<input type="text" class="form-control" id="dob-month">
								</div>
								<div class="form-group form-group-year">
									<label for="dob-year">Year</label>
									<input type="text" class="form-control" id="dob-year">
								</div>
							</div>

						</fieldset>
					</div>

					<div class="form-group">
						<label class="form-label" for="address">Address</label>
						<textarea class="form-control" id="address" name="address" rows="6"></textarea>
					</div>

					<div class="form-group">
						<label class="form-label" for="tel">Mobile phone number</label>
						<p class="form-hint">this may be used to send security codes to</p>
						<input type="tel" pattern="[0-9]{10}" class="form-control form-control-1-2" id="tel" name="tel">
					</div>

					<div class="form-group">
						<label class="form-label" for="email">Email address</label>
						<input type="email" class="form-control form-control-1-2" id="email" name="email">
					</div>

					<div class="form-group">
						<input type="submit" class="button" value="Add borrower">
					</div>

				</form>

			</div>
		</div>
</main>

{{/content}}

{{/layout-v1-2}}
