{{<govuk_template}}

{{$head}}
  {{>includes/head}}
  <link rel="stylesheet" type="text/css" href="/public/stylesheets/alphagov-static.css">
  <link rel="stylesheet" type="text/css" href="/public/stylesheets/case-system-v1-2.css">
{{/head}}


{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

  {{>includes/alpha_banner}}

  <div class="global-breadcrumb">
    <nav role="navigation">
      <ol>
        <li><a href="step-2-case-list">Case list</a></li>
        <li><strong>Case details</strong></li>
      </ol>
    </nav>
  </div>

  <h1 class="heading-xlarge">Case details</h1>

  <dl class="definition-inline legal-division--bottom">
    <dt>Case reference</dt>
    <dd><b>ABCDE123</b><a href="#" class="font-xsmall" style="margin-left:8px;">edit</a></dd>
    <dt>Case task</dt>
    <dd><b>Remortgage</b><a href="#" class="font-xsmall" style="margin-left:8px;">edit</a></dd>
  </dl>

  <h2 class="heading-large collapse-top">Property</h2>
  <p itemscope itemtype="http://schema.org/PostalAddress">
    <span itemprop="streetAddress">
      Flat 18 Kingman Court<br>
      Verdant Road<br>
    </span>
    <span itemprop="addressLocality">London</span><br>
    <span itemprop="postalCode">SV19 9BT</span>
  </p>

  <dl class="definition-inline">
    <dt>Title number</dt>
    <dd>GHR67834</dd>
  </dl>

  <h2 class="heading-large division--top">Borrowers</h2>

  <h3 class="heading-medium">Borrower 1 <a href="#" class="font-xsmall">Edit details</a></h3>

  <div class="grid-row">
    <div class="column-half">
      <dl class="definition-tabular--1-2--b">
        <dt>Name</dt>
        <dd>Sarah Jane Spencer</dd>
        <dt>Date of birth</dt>
        <dd>26 May 1988</dd>
        <dt>Gender</dt>
        <dd>Female</dd>
      </dl>
    </div>
  </div>

  <h4 class="heading-small">Address(es)</h4>
  <div class="grid-row">
    <div class="column-quarter">
      Flat 18 Kingman Court<br>
      Verdant Road<br>
      London<br>
      SV19 9BT
    </div>
    <div class="column-quarter">
      22A Cedar Court<br>
      Ealing<br>
      London<br>
      W5 9ER
    </div>
  </div>

  <h4 class="heading-small">Contact information</h4>
  <div class="grid-row">
    <div class="column-half">
      <dl class="definition-tabular--1-2">
        <dt>Email</dt>
        <dd>sarah@anemailaddress.co.uk</dd>
        <dt>Mobile phone number</dt>
        <dd>07964 123 321</dd>
        <dt class="missing-info">Landline number</dt>
        <dd class="missing-info-placeholder">Not held</dd>
      </dl>
    </div>
  </div>

  <br>

  <p><a href="#">Edit this borrower’s details</a></p>

  <h3 class="heading-medium" style="border-top:1px dotted #eee; padding-top: 30px;">Borrower 2 <a href="#" class="font-xsmall">Edit details</a></h3>

  <div class="grid-row">
    <div class="column-half">
      <dl class="definition-tabular--1-2--b">
        <dt>Name</dt>
        <dd>Peter Smith</dd>
        <dt>Date of birth</dt>
        <dd>2 December 1986</dd>
        <dt>Gender</dt>
        <dd>Male</dd>
      </dl>
    </div>
  </div>

  <h4 class="heading-small">Address(es)</h4>
  <div class="grid-row">
    <div class="column-quarter">
      Flat 18 Kingman Court<br>
      Verdant Road<br>
      London<br>
      SV19 9BT
    </div>
  </div>


  <h4 class="heading-small">Contact information</h4>
  <div class="grid-row">
    <div class="column-half">
      <dl class="definition-tabular--1-2">
        <dt>Email</dt>
        <dd>peter.smith@anemailaddress.co.uk</dd>
        <dt>Mobile phone number</dt>
        <dd>07964 123 321</dd>
        <dt class="missing-info">Landline number</dt>
        <dd class="missing-info-placeholder">Not held</dd>
      </dl>
    </div>
  </div>

  <br>

  <p><a href="#">Edit this borrower’s details</a></p>

  <div class="division--top">
    <p><a href="#">Add another borrower</a></p>
  </div>

  <div class="actions legal-division--top">
    <a href="step-12-case-list" class="button">Save case details</a>
  </div>

</main>

{{/content}}


{{$bodyEnd}}
  {{>includes/scripts}}
{{/bodyEnd}}

{{/govuk_template}}
