{{<layout-v1-2}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
	<div class="inner-block">

    {{>includes/alpha_banner}}

    <h1 class="heading-large">Confirm case details</h1>
    <p class="lede text">Please check all the details carefully before confirming.</p>


		<article class="legal-document--bounds">

		  <section class="document-section">
    		<h2 class="heading-medium document-section__heading">Property</h2>
    		<div class="grid-wrapper document-section__item">
		      <div class="grid grid-1-4">
		        <div class="inner-block">Address</div>
		      </div>
		      <div class="grid grid-1-3">
		        <div class="inner-block">
		          <p itemscope itemtype="http://schema.org/PostalAddress" class="addr-collapse">
		    				<span itemprop="streetAddress">
			    				Flat 18 Kingman Court<br>
			    				Verdant Road<br>
		    				</span>
		    				<span itemprop="addressLocality">London</span><br>
		    				<span itemprop="postalCode">SV19 9BT</span>
		    			</p>
		        </div>
		      </div>
    		</div>

		    <div class="grid-wrapper document-section__item">
		      <div class="grid grid-1-4">
		        <div class="inner-block">Title</div>
		      </div>
		      <div class="grid grid-1-3">
		        <div class="inner-block">GHR67834</div>
		      </div>
		    </div>

		  </section><!--  end property section -->

		  <section class="document-section document-section--bordered">
		  	<h2 class="heading-medium">Borrowers </h2>

			  <div class="grid-wrapper document-section__item">
			    <div class="grid grid-1-4">
			      <p class="inner-block">No. of borrowers</p>
			    </div>
			    <div class="grid grid-1-4">
			      <div class="inner-block">2</div>
			    </div>
			  </div>


  <div class="grid-wrapper document-section__item">
    <div class="grid">
      <p class="inner-block"><b>Borrower 1</b></p>
    </div>
  </div>
  <div class="grid-wrapper document-section__item">
    <div class="grid grid-1-4">
      <div class="inner-block">Name</div>
    </div>
    <div class="grid grid-1-4">
      <p class="inner-block">Jason Amilio Smith</p>
    </div>
  </div>

  <div class="grid-wrapper document-section__item ">
    <div class="grid grid-1-4">
      <div class="inner-block">Address(es)</div>
    </div>

    <div class="grid grid-1-4">
      <div class="inner-block">
	      <p itemscope itemtype="http://schema.org/PostalAddress" class="addr-collapse">
	    		<span itemprop="streetAddress">118 Leafy Way<br></span>
	    		<span itemprop="addressLocality">Thale</span><br>
	    		<span itemprop="">Berks</span><br>
	    		<span itemprop="postalCode">RG12 9AB</span>
	    	</p>
     	</div>

      <div class="inner-block">
        <a href="#" class="button-secondary">Change<span class="visuallyhidden"> address details</span></a>
      </div>
    </div>

    <div class="grid grid-1-4">
      <div class="inner-block">
        <a href="#" class="button-secondary">Add<span class="visuallyhidden"> another</span> address</a>
      </div>
    </div>

  </div>

  <div class="grid-wrapper document-section__item">
    <div class="grid grid-1-4">
      <div class="inner-block">Email</div>
    </div>

    <div class="grid grid-1-4">
      <p class="inner-block">jasmith@gmail.com</p>
    </div>

    <div class="grid grid-1-4">
      <div class="inner-block">
        <a href="#" class="button-secondary">Change<span class="visuallyhidden"> email address</span></a>
      </div>
    </div>
  </div>


  <div class="grid-wrapper document-section__item">
    <div class="grid">
      <p class="inner-block"><b>Borrower 2</b></p>
    </div>
  </div>
  <div class="grid-wrapper document-section__item">
    <div class="grid grid-1-4">
      <div class="inner-block">Name</div>
    </div>
    <div class="grid grid-1-4">
      <p class="inner-block">Peter Smith</p>
    </div>
  </div>

  <div class="grid-wrapper document-section__item ">
    <div class="grid grid-1-4">
      <div class="inner-block">Address(es)</div>
    </div>

    <div class="grid grid-1-4">
      <div class="inner-block">
        <p itemscope itemtype="http://schema.org/PostalAddress" class="addr-collapse">
    <span itemprop="streetAddress">118 Leafy Way<br>

    </span>
    <span itemprop="addressLocality">Thale</span><br>

    <span itemprop="">Berks</span><br>

    <span itemprop="postalCode">RG12 9AB</span>
  </p>
      </div>

      <div class="inner-block">
        <a href="#" class="button-secondary">Change<span class="visuallyhidden"> address details</span></a>
      </div>

    </div>

    <div class="grid grid-1-4">
      <div class="inner-block">
        <p itemscope itemtype="http://schema.org/PostalAddress" class="addr-collapse">
    <span itemprop="streetAddress">12 Spring Road<br>

    </span>
    <span itemprop="addressLocality">Wakefield</span><br>

    <span itemprop="">Yorks</span><br>

    <span itemprop="postalCode">WK12 9AB</span>
  </p>
      </div>

      <div class="inner-block">
        <a href="#" class="button-secondary">Change<span class="visuallyhidden"> address details</span></a>
      </div>

    </div>



      <div class="grid grid-1-4">
        <div class="inner-block">
          <a href="#" class="button-secondary">Add<span class="visuallyhidden"> another</span> address</a>
        </div>
      </div>


  </div>

  <div class="grid-wrapper document-section__item">
    <div class="grid grid-1-4">
      <div class="inner-block">Email</div>
    </div>

    <div class="grid grid-1-4">
      <p class="inner-block">p.smithy@aol.com</p>
    </div>

      <div class="grid grid-1-4">
        <div class="inner-block">
          <a href="#" class="button-secondary">Change<span class="visuallyhidden"> email address</span></a>
        </div>
      </div>


  </div>


</section><!-- end buyers section -->

  </section><!-- end mortgage section -->


</article>

    <form action="step-8-case-list-created" method="get" class="form">
      <div class="form-group">
        <label for="check-1" class="block-label">
          <input id="check-1" type="checkbox" name="agree-execution">
          I confirm the above is correct
        </label>
      </div>
      <div class="form-group">
        <button type="submit" class="button">Confirm mortgage details</button>
        <p><a href="conveyancer-case-list">Save draft</a></p>
      </div>
    </form>

  </div>
</main>

{{/content}}

{{/layout-v1-2}}
