{{<govuk_template}}

{{$head}}
  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css">
{{/head}}

{{$pageTitle}}
  Identity verification
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

 
	<h1 class="heading-xlarge">
		<!-- <span class="heading-secondary">Sign your mortgage deed</span> -->
		[Certified company] was unable to verify your identity.
	</h1>

	<div class="text">
		<p>
			There are a few reasons why this might happen, including:
		</p>
		<ul>
			<li>you’ve recently had a change of circumstances that your lender or conveyancer is not yet aware of</li>
			<li>you live outside the UK</li>
			<li>this is a new service and we are still improving how people can be verified</li>
		</ul>
	</div>

	<h2 class="heading-medium">What to do next</h2>
 	<div class="text">
		<p>You can try the following:</p>
		<ul>
			<li>contact [certified company] for more information</li>
			<li>try another certified company</li>
			<li>contact your lender or conveyancer dealing with your new mortgage</li>
		</ul>
	</div>


<!-- 		<div class="inner-block">
			<div class="text">
				<p>If you are happy with the details shown on your mortgage deed above, please continue.</p>
				<p>If something is wrong you should contact your conveyancer</p>
				<a href="finished" class="button">Continue</a>
			</div>
		</div> -->
 

</main>

{{/content}}

{{$bodyEnd}}
  {{>includes/scripts}}
  <script type="text/javascript" src="/public/lr-style-guide/lr-styleguide/js/styleguide.min.js"></script>
{{/bodyEnd}}

{{/govuk_template}}
