{{<govuk_template}}

{{$head}}
	<link href="/public/lr-style-guide/lr-styleguide/css/styleguide.css" media="screen" rel="stylesheet" type="text/css">
  <link href="/public/stylesheets/application-v3.css" media="screen" rel="stylesheet" type="text/css">
{{/head}}

{{$pageTitle}}
  Case list
{{/pageTitle}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$propositionHeader}}
  <div class="account">
    <div>Andrew Turner (Ross Clulow Solicitors)</div>
    <a href="#">My account</a>
    <a href="login">Sign out</a>
  </div>
{{/propositionHeader}}

{{$content}}

<main id="content" role="main">

  <div class="global-breadcrumb">
    <nav role="navigation">
      <ol>
        <li>Case list</li>
      </ol>
    </nav>
  </div><!-- global-breadcrumb -->

  <h1 class="heading-xlarge">Case List</h1>

  <div>
    <a href="case">Create a new case</a>
  </div>

  <table class="case-list">
    <thead>
      <tr>
        <th scope="col">Reference</th>
        <th scope="col">Borrower(s)</th>
        <th scope="col">Status</th>
        <th scope="col">Last updated</th>
        <th scope="col">Next action</th>
      </tr>
    </thead>
    <tbody>

      {{#new_case}}
      <tr class="summary"><!-- .new-case class should go after first load -->
        <td>
					<a href="case">
	          {{^case_reference}}83 Lordship Park{{/case_reference}}
	          {{#case_reference}}{{case_reference}}{{/case_reference}}
					</a>
        </td>
        <td>
          Sarah Jane Smith<br>
          Peter James Smith
        </td>
        <td>
					{{^case_status}}
						Draft
					{{/case_status}}
					{{#case_status}}
						{{{case_status}}}
					{{/case_status}}
				</td>
        <td>
					{{^completion_date}}
						<script type="text/javascript">
							var today = new Date();
							var monthNames = [
								"January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"
							];
							document.write(today.getDate() + ' ' + monthNames[today.getMonth()] + ' ' + today.getFullYear());
						</script>
					{{/completion_date}}
					{{#completion_date}}
						{{completion_date}}
					{{/completion_date}}
				</td>
        <td>
					{{^deed_signed}}
						<a href="case">Case details</a>
					{{/deed_signed}}
					{{#deed_signed}}
						{{^completion_date}}
							<a href="case-confirm-completion">Complete mortgage</a>
						{{/completion_date}}
						{{#completion_date}}
							{{^applied}}
								<a href="case-apply-deed">Apply to register</a>
							{{/applied}}
							{{#applied}}
								n/a
							{{/applied}}
						{{/completion_date}}
					{{/deed_signed}}
				</td>
      </tr>
      {{/new_case}}

      <tr class="summary">
        <td><a href="#">10 High Street, Plymouth</a></td>
        <td>
          Simeon Rad<br>
          Or&eacute; Sanderson
        </td>
        <td>Draft</td>
        <td>2 March 2015</td>
        <td><a href="#">Case details</a></td>
      </tr>

      <tr class="summary">
        <td><a href="#">SHWY289</a></td>
        <td>
          James Cameron
        </td>
        <td>Draft</td>
        <td>20 February 2015</td>
        <td><a href="#">Case details</a></td>
      </tr>

    </tbody>
  </table>

  <div class="expand-top">
    <a href="case">Create a new case</a>
  </div>

</main>

{{/content}}


{{$bodyEnd}}
  {{>includes/scripts}}
  <!--<script type="text/javascript" src="/public/lr-style-guide/lr-styleguide/js/styleguide.min.js"></script>-->
{{/bodyEnd}}

{{/govuk_template}}
