{{<govuk_template}}

{{$head}}
	<link href="/public/lr-style-guide/lr-styleguide/css/styleguide.css" media="screen" rel="stylesheet" type="text/css">
  <link href="/public/stylesheets/application-v3.css" media="screen" rel="stylesheet" type="text/css">
{{/head}}

{{$pageTitle}}
  Create mortgage
{{/pageTitle}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$propositionHeader}}
  <div class="account">
    <div>Andrew Turner (Ross Clulow Solicitors)</div>
    <a href="#">My account</a>
    <a href="login">Sign out</a>
  </div>
{{/propositionHeader}}

{{$content}}

<main id="content" role="main">
	<div class="inner-block">

    <div class="global-breadcrumb">
      <nav role="navigation">
        <ol>
          <li><a href="case-list">Case list</a></li>
  	      <li>
  					<a href="case">
            {{^case_reference}}New case{{/case_reference}}
            {{#case_reference}}{{case_reference}}{{/case_reference}}
  					</a>
          </li>
  	      <li>Create mortgage</li>
        </ol>
      </nav>
    </div><!-- global-breadcrumb -->

    <h1 class="heading-xlarge">
      <span class="heading-secondary">Create mortgage</span>
      Mortgage deed
    </h1>

		<div class="text">
			<p>
				Ensure all details on this deed are correct, then create the mortgage.
			</p>
			<div class="panel-indent">
				<p>
					If any details are incorrect, go back to the <a href="case">case</a>
					and make the required changes.
				</p>
			</div>
		</div>

		<div class="division-primary">

			<h2 class="heading-large collapse-top">Mortgage deed</h2>
			<div class="text">
				<h2 class="heading-medium">Property</h2>
				<p>
					83 Lordship Park<br>
					London<br>
					N16 5UP
				</p>
				<dl class="definition-inline">
					<dt>Title number</dt>
					<dd>GHR67832</dd>
				</dl>

				<h2 class="heading-medium">Lender</h2>
				<p>
					Bank of England Plc<br>
					12 Trinity Place, Regents Street, London, NW10 6TQ
				</p>
				<dl class="definition-inline">
					<dt>Company registration number</dt>
					<dd>2347676</dd>
				</dl>
			</div>

      <h3 class="heading-medium">Borrowers</h3>
      <div class="grid-row">
        <div class="column-third">
          <p>
            <b>Peter Smith</b><br>
            83 Lordship Park,<br>
            London<br>
						N16 5UP
          </p>
        </div>
        <div class="column-third">
          <p>
            <b>Sarah Jane Smith</b><br>
						83 Lordship Park,<br>
            London<br>
						N16 5UP
          </p>
        </div>
      </div>

			<h3 class="heading-medium">Charging clause</h3>
			<div class="text">
				<p>
					The Mortgagor with full title guarantee charges the Property by way
					of legal mortgage with payment of all moneys, obligation and
					liabilities whatsoever whether for principal interest or otherwise
					which may now or at any time in the future be due owing or incurred
					by the Mortgagor and/or Borrower to the Lender (the “Secured
					Liabilities” as defined in the Conditions).
				</p>
			</div>

			<h3 class="heading-medium">Restrictions</h3>
			<div class="text">
				<p>
					If the property is, or includes, registered land, the Lender and the
					Mortgagor(s) apply to the Chief Land Registrar for a restriction to
					be entered on the register that, no disposition of the registered
					estate by the proprietor of the registered estate is to be registered
					without a written consent signed by the proprietor for the time being
					of the Charge date ___________ in favour of Bank of England Ltd
					referred to in the Charges Register.
				</p>
			</div>

			<h3 class="heading-medium">Obligations</h3>
			<div class="text">
				<p>
					The Society has power under the mortgage conditions to make further
					advances secured by the mortgage and is obliged to do so.
				</p>
			</div>

			<h3 class="heading-medium">Other terms and conditions</h3>
			<div class="text">
				<p>
					The charge created by this Mortgage Deed (the “Mortgage”) is made
					subject to, and incorporates, all of the Mortgage Conditions in
					Part C of the Conditions.
				</p>
			</div>

		</div>

		<div class="expand-top">
			<div class="panel-indent text">
				<p>
					If any details are incorrect, go back to the <a href="case">case</a>
					and make the required changes.
				</p>
			</div>

			<a href="create-mortgage-confirmed"><button type="submit" class="button">Create mortgage deed</button></a>
			<div>
				<a href="case">Back to case</a>
			</div>
		</div>

  </div>
</main>

{{/content}}


{{$bodyEnd}}
  {{>includes/scripts}}
  <script type="text/javascript" src="/public/lr-style-guide/lr-styleguide/js/styleguide.min.js"></script>
{{/bodyEnd}}

{{/govuk_template}}
