{{<govuk_template}}

{{$pageTitle}}
	MVP Prototype
{{/pageTitle}}

{{$head}}
	<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
{{/head}}

{{$content}}

<main id="content" role="main">
	<h1 class="heading-xlarge">
		Changes Notes for v4.2-proposed - Work in progress
	</h1>

  <ul>todo
    <li>include verify feedback</li>
    <li>include deed from latest build - view</li>
    <li>include beta banner</li>
    <li>higlight legal / requirement things - some sort of toggle view (record who owns that copy - just initials)</li>
    <li>stub out verify, until we agree this version</li>
    <li>proper / proposed url's</li>
    <li>add server errors, and other endpoints</li>
  </ul>

  <ul>done
    <li></li>
    <li></li>
  </ul>
</main>

{{/content}}

{{$bodyEnd}}
  {{>includes/scripts}}
{{/bodyEnd}}

{{/govuk_template}}
