{{<govuk_template}}

{{$pageTitle}}
	MVP Prototype
{{/pageTitle}}

{{$head}}
	<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
{{/head}}

{{$content}}

<main id="content" role="main">
	<h1 class="heading-xlarge">
		Changes Notes for v4.2-proposed - Work in progress
	</h1>

  <ul>todo:
    <li>higlight legal / requirement things ? - some sort of toggle view (record who owns that copy - just initials) - can we do some sort of stylesheet toggle / switch?</li>
    <li>parameterise versions - like drv - routes....</li>
    <li>tidy up style sheets - all pages to have same stylesheet link(s) (4.2).  go back to using gov / +build with a shame sheet - remove this application.css</li>
    <li>improve template - beta banner and other common bits</li>
    <li>legal info (LM) - get copy for start page form CToth / latest build - go back to LM / CToth for wording needed for signing flow</li>
    <li>stylesheet - correct 4-2 link</li>
    <li>make authentication code expired/wrong error pages better http://govuk-elements.herokuapp.com/errors/</li>
  </ul>

</main>

{{/content}}

{{$bodyEnd}}
  {{>includes/scripts}}
{{/bodyEnd}}

{{/govuk_template}}
