{{<govuk_template}}

{{$pageTitle}}
	MVP Prototype
{{/pageTitle}}

{{$head}}
	<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
{{/head}}

{{$content}}

<main id="content" role="main">
	<h1 class="heading-xlarge">
		Digital Mortgages MVP Prototype
	</h1>
	<h3 class="heading-small">Main journey for the live milestone</h3>
	<p class="lede">version 4.2 - proposed version of flow - work in progress

	<ul>
		<li><a href="v4-2-proposed/citizen/sign-your-mortgage-deed"><b>Full Journey</b> Including Verify</a>
			<br/><span style="color:grey; font-size:16px;">(Link back from Verify is out of date - use link below)</span></li>
		<li><a href="v4-2-proposed/citizen/identity-verified"><b>Happy Path</b> Journey AFTER Verify</a></li>
		<ul>
			<li><a href="v4-2-proposed/deed-journeys/mortgage-deed">mortgage deed - nobody signed</a></li>
			<li><a href="v4-2-proposed/deed-journeys/mortgage-deed-1-signed">mortgage deed - 1 borrower signed</a></li>
			<li><a href="v4-2-proposed/deed-journeys/mortgage-deed-both-signed">mortgage deed - both borrowers signed</a></li>
		</ul>
	</ul>



	<h3 class="heading-small">Other journeys for the live milestone</h3>
	<ul>
		<li><a href="v4-2-proposed/citizen/identity-unverified"><b>Sad Path</b> Part Journey AFTER Verify</a> - can't be verified</li>
		<li><a href="v4-2-proposed/citizen/unable-to-match"><b>Sad Path</b> Part Journey AFTER Verify</a> - can't match to a mortgage</li>
		<li><a href="v4-2-proposed/deed-journeys/deed-agreed-single"><b>Deed Signed</b> by a single individual</a></li>
		<li><a href="v4-2-proposed/deed-journeys/deed-agreed"><b>Deed Signed</b> by both borrowers</a></li>
		<li>error pages, and other late journey alternate pages - code, resend code, code entered wrongly, code exopires?</li>
	</ul>
	<h3 class="heading-small">Errors</h3>
	<ul>
		<li><a href="v4-2-proposed/errors/invalid-authentication-code/enter-authentication-code">Invalid authentication code</a></li>
		<li><a href="v4-2-proposed/errors/404">Server error - 404 - page not found</a></li>
		<li><a href="v4-2-proposed/errors/503">Server error - 5xx - unexpected error</a></li>
		<li><a href="v4-2-proposed/errors/session-ended">Session has timed out or ended</a></li>
	</ul>


</main>

{{/content}}

{{$bodyEnd}}
  {{>includes/scripts}}
{{/bodyEnd}}

{{/govuk_template}}
