{{<govuk_template}}

	{{$pageTitle}}
		Borrower Reference
	{{/pageTitle}}

	{{$head}}
	<link href="/public/lr-style-guide/lr-styleguide/css/styleguide.css" media="screen" rel="stylesheet" type="text/css">
	  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css">
	{{/head}}

	{{$content}}
		<main id="content" role="main">
			{{>includes/beta_banner}}
			<div class="inner-block">

				<div class="text error-summary" role="group" aria-labelledby="error-deed-not-found" tabindex="-1">

					<h1 class="heading-medium error-summary-heading" id="error-deed-not-found">Unable to find your mortgage deed</h1>

					<p>This might be because:</p>
					<ul>
						<li>the borrower reference was mistyped</li>
						<li>or the date of birth was not in the format dd mm yyyy</li>
					</ul>
					<p>
						If you continue to experience problems please contact your
						conveyancer.
					</p>

				</div>

				<form class="form">
					<div class="form-group">
						<label class="form-label-bold" for="borrowerid">
							What is your borrower reference?
							<span class="form-hint">For example, 2eb47c</span>
						</label>
						<input type="text" class="form-control" id="borrowerid" name="borrowerid" >
					</div>

					<div class="form-group">
						<a href="date-of-birth" class="button">Continue</a>
					</div>
				</form>

				<details>
					<summary>
						I don't have a borrower reference
					</summary>
					<p>If you don't have a reference your should contact your conveyancer.</p>
				</details>

			</div>
		</main>
	{{/content}}

	{{$bodyEnd}}
	  {{>includes/scripts}}
	  <script type="text/javascript" src="/public/lr-style-guide/lr-styleguide/js/styleguide.min.js"></script>
	{{/bodyEnd}}

{{/govuk_template}}
