{{<layout-v2}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}


<main id="content" role="main">
	<div class="inner-block">

		{{>includes/alpha_banner}}

    <h1 class="heading-xlarge">Sign your mortgage deed</h1>

    <div class="text">
      <div class="alert-inline">
        <p><b>This is a legal document &mdash; please check all details carefully.</b></p>
      </div>
    </div>

    <article class="deed-document--bounds">

      <h2 class="heading-large">Mortgage deed</h2>

      <h2 class="heading-medium">Property:</h2>

      <p itemscope itemtype="http://schema.org/PostalAddress">
        <span itemprop="streetAddress">
          83 Lordship Park<br>
        </span>
        <span itemprop="addressLocality">London</span><br>
        <span itemprop="postalCode">N16 5UP</span>
      </p>

      <dl class="definition-inline">
        <dt>Title number</dt>
        <dd>GHR67832</dd>
      </dl>

      <h2 class="heading-medium">Lender:</h2>

      <p itemscope itemtype="http://schema.org/Corporation">
        <span itemprop="name">Bank of England Plc</span><br>
        <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress" class="address-inline">
          <span itemprop="streetAddress">
            12 Trinity Place, Regents Street,
          </span>
          <span itemprop="addressLocality">London</span>
          <span itemprop="postalCode">NW10 6TQ</span>
        </span>
        <dl class="definition-inline">
          <dt>Company registration number</dt>
          <dd>2347676</dd>
        </dl>
      </p>

      <h2 class="heading-large">Mortgage agreement</h2>

      <h3 class="heading-medium">Borrowers:</h3>

      <div class="grid-row">
        <div class="column-third">
          <p>
            <b>Peter Smith</b> <span class="alert-flag">you</span><br>
            83 Lordship Park,<br>
            London<br>
            N16 5UP
          </p>
        </div>

        <div class="column-third">
          <p>
            <b>Sarah Jane Smith</b><br>
						83 Lordship Park,<br>
            London<br>
            N16 5UP
          </p>
        </div>

      </div>

      <div class="text">

        <h3 class="heading-small">Charging clause:</h3>
        <p>You, the borrower, with full title guarantee, charge property to the lender by way of legal mortgage with the payment of all money secured by this charge.</p>

        <h3 class="heading-small">Additional provisions:</h3>
        <ul class="list-bullet">
          <li>
            <p>This Mortgage Deed incorporates the <a href="#" rel="external">Lenders Mortgage Conditions and Explanation 2006</a>, a copy of which has been received by the Borrower.</p>
          </li>
          <li>
            <p>The lender is under an obligation to make further advances and applies for the obligation to be entered in the register.</p>
          </li>
          <li>
            <p>No disposition of the registered estate by the proprietor of the registered estate is to be registered without a written consent signed by Bank of England Plc.</p>
          </li>
        </ul>

      </div>

			<div class="form ">
				<div class="form-group">
					<label class="heading-small" for="signature">Borrower electronic signature(s)</label></br>
					<input type="text" class="form-control" id="signature" name="signature" disabled="true" value="Peter Smith ">&nbsp;<input type="text" class="form-control" id="signature" name="signature" disabled="true" value="Sarah Jane Smith ">
				</div>
				<div class="form-group">
					<label class="heading-small" for="auth-code">Effective date and time</label></br>
					<input type="text" class="form-control" id="auth-code" name="auth-code" disabled="true" value="11/06/2015 at 11:26">
				</div>
				<div class="form-group">
					<label class="heading-small" for="auth-code">Registrar electronic signature</label><br>
						<p class="form-hint">Electronic signature applied by the registrar</p>
					<input type="text" class="form-control" id="auth-code" name="auth-code" disabled="true" value="Signatures will be shown here">
				</div>
			</div>

      <div class="text">

        <h3 class="heading-small">Effective date and time:</h3>
        <p>This charge takes effect when the registrar receives notification from Ross Clulow Solicitors, who prepared this charge. The effective date and time is applied by the registrar on completion.</p>

      </div>

    </article>

    <form action="step-7-case-list" class="form text">
      <div class="form-group">
        <button type="submit" class="button">Apply to register</button>
      </div>
    </form>

  </div>
</main>

{{/content}}

{{/layout-v2}}
