{{<layout-v2}}

{{$pageTitle}}
  GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

  <div class="inner-block">

    {{>includes/alpha_banner}}


    <div class="text">

      <h1 class="heading-large">Mortgage deed</h1>

      <p class="lede">Please check all the details carefully before dating and submitting to Land Registry.</p>
    </div>

    <article class="legal-document--bounds">
      <section class="legal-document--item legal-document--item">
        <div class="form-group">
          <h2 class="heading-medium">Mortgage Date</h2>
          <input type="text" class="form-control" id="full-name" name="full-name">
        </div>
      </section>
      <section class="legal-document--bordered">
        <h2 class="heading-medium">Property details</h2>

        <p class="lede" itemscope itemtype="http://schema.org/PostalAddress">
          <span itemprop="streetAddress">
            83 Lordship Park<br>
          </span>
          <span itemprop="addressLocality">London</span><br>
          <span itemprop="postalCode">N16 5UP</span>
        </p>

        <dl class="lede definition-inline">
          <dt>Title number</dt>
          <dd>GHR67832</dd>
        </dl>

      </section><!-- end item -->

      <section class="legal-document--item legal-document--bordered">
        <h2 class="heading-medium">Mortgage lender</h2>

        <p itemscope itemtype="http://schema.org/Corporation">
          <span itemprop="name">General UK PLC</span><br>
          <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress" class="address-inline">
            <span itemprop="streetAddress">
              12 Trinity Place, Regents Street
            </span>
            <span itemprop="addressLocality">London</span>
            <span itemprop="postalCode">NW10 6TQ</span>
          </span>
          <dl class="definition-inline">
            <dt>Company registration number</dt>
            <dd>2347676</dd>
            <dt>Account number</dt>
            <dd>1007-789654</dd>
          </dl>
        </p>

      </section><!-- end item -->

      <section class="legal-document--item legal-document--bordered">

        <h2 class="heading-medium">Agreement</h2>

        <h3 class="heading-small">You, the borrowers:</h3>

        <div class="grid grid-1-2">
          <p>
            <b>Peter Smith</b><br>
            83 Lordship Park,<br>
            London<br>
            N16 5UP
          </p>
        </div>

        <div class="grid grid-1-2">
          <p>
            <b>Sarah Jane Smith</b><br>
            83 Lordship Park,<br>
            London<br>
            N16 5UP
          </p>
        </div>

      </section><!-- end item -->


      <section class="legal-document--item">

        <h3 class="heading-small">Make effective:</h3>
        <p class="text">This mortgage takes effect when General UK PLC notifies the registrar.</p>

      </section><!-- end item -->


      <section class="legal-document--item">

        <h3 class="heading-small">Charging clause:</h3>
        <p class="text">You, the borrower, with full title guarantee, charge property to the lender by way of legal mortgage with the payment of all money secured by this charge</p>

      </section><!-- end item -->


      <section class="legal-document--item">

        <h3 class="heading-small">Obligation:</h3>
        <p class="text">The lender is under an obligation to make further advances and applies for the obligation to be entered in the register</p>

      </section><!-- end item -->


      <section class="legal-document--item">

        <h3 class="heading-small">Restriction:</h3>
        <p class="text">You apply to the Chief Land Registrar that no disposition of the registered estate by the owner is to be done so without written consent by the owner for the duration of the mortgage.</p>

      </section>

    </article>

    <div class="panel-indent text">
      <div class="footnote">
        <p>Form of mortgage deed filed at Land Registry under <a href="#" rel="external">MD859K</a>.</p>
        <p>This Mortgage Deed incorporates the <a href="#" rel="external">Lenders Mortgage Conditions and Explanation 2006</a>, a copy of which has been received by the Borrower</p>
      </div>
    </div>


    <form action="step-4-charge-submitted" method="get" class="form">
      <div class="form-group">
        <label for="check-1" class="block-label">
          <input id="check-1" type="checkbox" name="agree-execution">
          I have read the information and confirm it’s correct
        </label>
      </div>
      <div class="form-group">
        <button type="submit" class="button">Submit to Land Registry</button>
      </div>
    </form>

  </div>


</main>

{{/content}}

{{/layout-v2}}
