{{<govuk_template}}

{{$pageTitle}}
  Page cannot be found
{{/pageTitle}}

{{$head}}
  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css">
{{/head}}

{{$content}}

<main id="wrapper" role="main">

  <div id="content">
{{>includes/beta_banner}}


    <div class="inner-block">

      	<h1 class="heading-xlarge">This page cannot be found</h1>

		<p class="text">
            Please check that you have entered the correct web address, or try:
        </p>

       <ul>
    		<li><a href="/building/sign-my-mortgage">Sign my mortgage</a></li>
    		<li><a href="https://www.gov.uk">GOV.UK home page</a></li>
  		</ul>

    </div>

  </div>

</main>

{{/content}}

{{/govuk_template}}
