// Import GOV.UK elements, this will import the frontend toolkit and some base styles.
// Take a look at elements.scss to see which files are imported.
@import 'elements';

// Set up your main content area <main id="content">
// This will give you a full width content block
// See elements _layout.scss line 7.

// If you need it, set up your grid layout - refer to the grid layout usage example
// See elements _layout.scss line 28.

// If you need a phase banner, put this inside the main content area
// See elements _layout.scss line 22.
.alpha-banner  {
  @include phase-banner(alpha); // Change this to (beta) for a beta banner
}
.alpha-tag {
  @include phase-tag(alpha); // Change this to (beta) for a beta tag
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you,
// either add and import new partial files, or modify those in GOV.UK elements to fit your user needs.
.deed-summary {
  padding: 15px;
  border: 8px solid #DEE0E2;
}
.deed-successful {
width: 100%;
margin-bottom: 10px;
margin-top: 10px;
padding-top: 2px;
padding-bottom: 40px;
background-color: #30a197;
text-align: center; }

.deed-successful h3 {
color: white;
font-size: 2em;
font-weight: bold; }

.deed-successful p {
color: white;
margin-top: 10px;
margin-bottom: 10px; }
// Lists
// ==========================================================================

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 20px;
}

// Bulleted lists
ul {
  list-style-type: disc;
  padding-left: 20px;
}

// Numbered lists
ol {
  list-style-type: decimal;
  padding-left: 20px;

  @include ie-lte(7) {
    padding-left: 28px;
  }
}

// "Plain" list
ol.list-plain,
ul.list-plain {
  list-style: none;
  padding-left: 0;
}

// list items
ul li,
ol li {
  margin-bottom: 5px;
}

// Definition lists

dl {
  margin-top: 5px;
  margin-bottom: 20px;
}

// A tabular definition list mixin - name:value pairs for example
@mixin dl-tabular($col1: $one-quarter, $col2: $three-quarters) {
  @extend %contain-floats;

  dt {
    @include media(tablet) {
      float: left;
      clear: left;
      width: $col1;
      margin-bottom: $gutter-one-third;
    }
    &:after {
      content: ':';
    }
  }

  dd {
    margin-bottom: $gutter-one-third;
    @include media(tablet) {
      float: left;
      width: $col2;
    }
  }

  ol, ul {
    margin-top: 0;
    margin-bottom: 0;
  }

}

/* dl */.definition-tabular {
  @include dl-tabular;
}

/* dl */.definition-tabular-bold {
  @extend .definition-tabular;

  dd {
    font-weight: bold;
  }
}

/* dl */.definition-tabular-1-3 {
  @include dl-tabular($col1: $one-third, $col2: $two-thirds);
}

/* dl */.definition-tabular-1-3-bold {
  @extend .definition-tabular-1-3;

  dd {
    font-weight: bold;
  }
}

// An inline definition list - name:value pairs for example

/* dd */.definition-inline {
  @extend %contain-floats;

  dt {
    clear: left;
    float: left;
    margin-right: 0.2em;
    &:after {
      content: ':';
    }
  }

  dd {
    float: left;
  }
}

.verified-container{
margin-top:30px;

}
.verified-bullets{
padding-left:60px;
margin-bottom:30px;

}
.verified-bullets-img{
float: left;

}
