// Import GOV.UK frontend toolkit
@import "colours";
@import "measurements";
@import "conditionals";
@import "shims";
@import "typography";
@import "css3";
@import "design-patterns/alpha-beta";
@import "design-patterns/buttons";

// Import Land Registry elements
@import 'land-registry-elements/maps';
@import 'land-registry-elements/typography';
@import 'land-registry-elements/tags';
@import 'land-registry-elements/callouts';
@import 'land-registry-elements/navigation';
@import 'land-registry-elements/utilities';

.account-area {
  @include core-16;

  padding: $gutter 0;
  text-align: right;

  a {
    border-left: 1px solid $grey-3;
    margin-left: $gutter-half/2;
    padding-left: $gutter-half/2;
  }
}

// Daylist area (an awful non-semantic prototype)
table.daylist-dashboard {
  margin: $gutter 0;
  td {
    font-family: 'ntatabularnumbers';
  }
  .summary {
    cursor: pointer;
    td {
      vertical-align: top;
    }
  }
  .summary.open td {
    border-bottom: none;
  }
  .details {
    td {
      padding-top: 0;
      padding-bottom: $gutter;
    }
  }
  .details.hidden {
    td {
      padding-bottom: 0;
    }
    td > .container {
      display: none;
    }
  }
  .definition-tabular {
    margin-top: $gutter-half;
  }
}

.missing-info-placeholder {
  color: $grey-2;
}

.fleft {
  float: left;
  padding-right: $gutter*2;
}

table thead th:first-child,
table tbody td:first-child {
  border: 0;
}

table thead th:first-child {
  width: $gutter;
}
