{{<govuk_template}}

{{$head}}
  <link href="/public/stylesheets/application-v4.css" media="screen" rel="stylesheet" type="text/css">
{{/head}}

{{$pageTitle}}
  Identity verification failed
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<h1 class="heading-xlarge">
		<!-- <span class="heading-secondary">Sign your mortgage deed</span> -->
		Identity verification failed
	</h1>

	<div class="text">
		<p>
			We cannot verify your identity. <br/>Please get back in touch with the person who asked you to sign the deed.
		</p>
	</div>
	<!--div class="text" style="margin-top:30px;">
		<ol class="list-plain">
			<li>
				<img style="float:left;" src="/public/lr-style-guide/lr-styleguide/images/icon-steps/icon-step-1-2x.png">
				<div style="padding-left:60px; margin-bottom:30px;">
					<h3 class="heading-small">Read your mortgage details</h3>
					<p>You’ll need to check the details of your mortgage deed and read through the legal clauses.</p>
				</div>
			</li>
			<li>
				<img style="float:left;" src="/public/lr-style-guide/lr-styleguide/images/icon-steps/icon-step-2-2x.png">
				<div style="padding-left:60px; margin-bottom:30px;">
					<h3 class="heading-small">Request a code</h3>
					<p>When you're ready to sign your mortgage deed, you'll need to request an authentication code.</p>
				</div>
			</li>
			<li>
				<img style="float:left;" src="/public/lr-style-guide/lr-styleguide/images/icon-steps/icon-step-3-2x.png">
				<div style="padding-left:60px; margin-bottom:30px;">
					<h3 class="heading-small">Use the code to sign your mortgage deed</h3>
					<p>Enter your code to sign the deed. Doing so means that you <b>don't need to sign a paper document</b>, or get your signature witnessed.</p>
				</div>
			</li>
		</ol>
	</div>
	<div class="text">
		<p>
			<a href="/v3-6/deed-journeys/deed-transaction/property-details" class="button">
				Continue to mortgage
			</a>
		</p>
	</div-->

</main>

{{/content}}

{{$bodyEnd}}
  {{>includes/scripts}}
  <script type="text/javascript" src="/public/lr-style-guide/lr-styleguide/js/styleguide.min.js"></script>
{{/bodyEnd}}

{{/govuk_template}}
