{{<layout-v1-1}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
<div class="outer-block">
	<div class="inner-block">
		{{>includes/alpha_banner}}


					<h1>Add new case</h1>

					<div class="text">
						<p>To use this service you’ll need to confirm:</p>
						<ul class="list-bullet">
							<li>the address of the property or land</li>
							<li>what the borrower(s) want to do</li>
							<li>the contact details of the borrower(s)</li>
						</ul>
						<p>When complete, you will be able to complete actions from your case list, such as veiwing the title and sending an electronic mortgage deed.</p>
					</div>

					<p>
						<a href="step-4-find-property" class="button button-get-started">Start now</a>
					</p>

			</div>

</div>
</main>

{{/content}}

{{/layout-v1-1}}
