{{<layout-v1-1}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
	<div class="outer-block">
				<div class="inner-block">
					{{>includes/alpha_banner}}


					<div class="callout callout--action-notice callout--generated-token">

						<h1>
							Relationship codes created
							</h1>

						</div>
						<h3 class="heading-medium">Relationship codes</h3>
						<p>Matthew Jameson <b>USNV</b></p>
						<p>Jennifer Spencer <b>AJLQ</b></p>

						<div class="text">
							<h2 class="heading-medium">What happens next</h2>
							<p>You must tell your borrower(s) the code so they can enter it on GOV.UK</p>
							<p>The relationship will only be confirmed once all parties on the transaction have entered the unique code.</p>
						</div>
					</div>
				</div>
</main>

{{/content}}

{{/layout-v1-1}}
