{{<layout-v1-1}}

{{$pageTitle}}
GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
	<div class="inner-block">
  {{>includes/alpha_banner}}

  <h1 class="form-title heading-large">Case List</h1>


	<div class="grid-wrapper">
		<div class="grid grid-1-2">
			<div class="inner-block">
				<a href="step-3-create-case-begin" class="button">Add new case</a>
			</div>
		</div>
		<div class="grid grid-1-2">
			<div class="inner-block">
				<form id="search" class="site-search" action="/search" method="get" role="search">
					<div class="content">
						<label for="site-search-text">Search</label>
						<input type="search" name="q" id="site-search-text" title="Search" class="js-search-focus">
						<button class="button" type="submit">Go</button>
					</div>
				</form>
			</div>
		</div>
	</div>
  <div class="grid-wrapper">

    <ul class="grid case-list">

      <li class="case-list__item case-list__item--border">
        <details class="inner-block">
          <summary>
            <h3 class="lede">GHT46758</h3>
            <p itemscope itemtype="http://schema.org/PostalAddress">
              <span itemprop="streetAddress">108 Spring Road, Bedford, BE9 3BS</span>
            </p>
          </summary>
          <div class="inner-block">
            <div class="grid-wrapper document-section__item">
              <div class="grid grid-1-4">
                <h2 class="inner-block heading-small">Clients</h2>
              </div>
              <div class="grid grid-3-4">
                <ul>

                  <li class="grid-wrapper">
                    <div class="inner-block">
                      <div class="grid grid-1-3">
                        <div class="inner-block">Sarah Spencer</div>
                      </div>
                      <div class="grid grid-1-3">
                        <div class="inner-block">Verified</div>
                      </div>
                    </div>
                  </li>

                </ul>
              </div>
            </div>

            <div class="grid-divider"></div>

            <div class="grid-wrapper document-section__item">
              <div class="grid grid-1-4">
                <h2 class="inner-block heading-small">Mortgage</h2>
              </div>
              <div class="grid grid-1-4">
                <div class="inner-block">drafted</div>
              </div>
              <div class="grid grid-1-4">
                <div class="inner-block">
                  <a href="transfer-empty-states" class="button-secondary">edit<span class="visuallyhidden"> a transfer</span></a>
                </div>
              </div>
            </div>

            <div class="grid-divider"></div>
            <div class="grid-wrapper document-section__item">
              <div class="grid grid-1-4">
                <h2 class="inner-block heading-small">Property</h2>
              </div>
              <div class="grid grid-1-4">
                <div class="inner-block">
                  <a href="/register-view/register-2" class="button-secondary">view title<span class="visuallyhidden"> a transfer</span></a>
                </div>
              </div>
              <div class="grid grid-1-4">
                <div class="inner-block">
                  <a href="/reserve-priority/select" class="button-secondary">reserve priority<span class="visuallyhidden"> a transfer</span></a>
                </div>
              </div>
            </div>

            <div class="grid-divider"></div>

            <div class="grid-wrapper document-section__item">
              <div class="grid grid-1-4">
                <div class="inner-block">
                  <a href="#" class="button-secondary">Remove case</a>
                </div>
              </div>
            </div>

          </details>
        </li>

				<li class="case-list__item case-list__item--border">
					<details class="inner-block">
						<summary>
							<h3 class="lede">GHN89712</h3>
							<p itemscope itemtype="http://schema.org/PostalAddress">
								<span itemprop="streetAddress">Shannon Cottage, Martlesham, Whitby, WH6 7MA</span>
							</p>
						</summary>
						<div class="inner-block">
							<div class="grid-wrapper document-section__item">
								<div class="grid grid-1-4">
									<h2 class="inner-block heading-small">Clients</h2>
								</div>
								<div class="grid grid-3-4">
									<ul>

										<li class="grid-wrapper">
											<div class="inner-block">
												<div class="grid grid-1-3">
													<div class="inner-block">Norma Jones</div>
												</div>
												<div class="grid grid-1-3">
													<div class="inner-block">Verified</div>
												</div>
												<div class="grid grid-1-3">
													<div class="inner-block">signed</div>
												</div>
											</div>
										</li>
										<li class="grid-wrapper">
											<div class="inner-block">
												<div class="grid grid-1-3">
													<div class="inner-block">Terry Jones</div>
												</div>
												<div class="grid grid-1-3">
													<div class="inner-block">Verified</div>
												</div>
												<div class="grid grid-1-3">
													<div class="inner-block">not signed</div>
												</div>
											</div>
										</li>

									</ul>
								</div>
							</div>

							<div class="grid-divider"></div>

							<div class="grid-wrapper document-section__item">
								<div class="grid grid-1-4">
									<h2 class="inner-block heading-small">Mortgage</h2>
								</div>
								<div class="grid grid-1-4">
									<div class="inner-block">ready to sign</div>
								</div>
								<div class="grid grid-1-4">
									<div class="inner-block">
										<a href="transfer-empty-states" class="button-secondary">view<span class="visuallyhidden"> a transfer</span></a>
									</div>
								</div>
							</div>

							<div class="grid-divider"></div>
							<div class="grid-wrapper document-section__item">
								<div class="grid grid-1-4">
									<h2 class="inner-block heading-small">Property</h2>
								</div>
								<div class="grid grid-1-4">
									<div class="inner-block">
										<a href="/register-view/register-2" class="button-secondary">view title<span class="visuallyhidden"> a transfer</span></a>
									</div>
								</div>
								<div class="grid grid-1-4">
									<div class="inner-block">
										<a href="/reserve-priority/select" class="button-secondary">reserve priority<span class="visuallyhidden"> a transfer</span></a>
									</div>
								</div>
							</div>

							<div class="grid-divider"></div>

							<div class="grid-wrapper document-section__item">
								<div class="grid grid-1-4">
									<div class="inner-block">
										<a href="#" class="button-secondary">Remove case</a>
									</div>
								</div>
							</div>

						</details>
					</li>

					<li class="case-list__item case-list__item--border">
						<details class="inner-block">
							<summary>
								<h3 class="lede">GHF11451</h3>
								<p itemscope itemtype="http://schema.org/PostalAddress">
									<span itemprop="streetAddress">32 Tentergate Road, Knaresborough, HG7 5HY</span>
								</p>
							</summary>
							<div class="inner-block">
								<div class="grid-wrapper document-section__item">
									<div class="grid grid-1-4">
										<h2 class="inner-block heading-small">Clients</h2>
									</div>
									<div class="grid grid-3-4">
										<ul>

											<li class="grid-wrapper">
												<div class="inner-block">
													<div class="grid grid-1-3">
														<div class="inner-block">Gerald Turner</div>
													</div>
													<div class="grid grid-1-3">
														<div class="inner-block">Verified</div>
													</div>
												</div>
											</li>
											<li class="grid-wrapper">
												<div class="inner-block">
													<div class="grid grid-1-3">
														<div class="inner-block">Bernadette Thomson</div>
													</div>
													<div class="grid grid-1-3">
														<div class="inner-block">Verified</div>
													</div>
												</div>
											</li>

										</ul>
									</div>
								</div>

								<div class="grid-divider"></div>

								<div class="grid-wrapper document-section__item">
									<div class="grid grid-1-4">
										<h2 class="inner-block heading-small">Mortgage</h2>
									</div>
									<div class="grid grid-1-4">
										<div class="inner-block">withdrawn</div>
									</div>
									<div class="grid grid-1-4">
										<div class="inner-block">
											<a href="transfer-empty-states" class="button-secondary">edit<span class="visuallyhidden"> a transfer</span></a>
										</div>
									</div>
								</div>

								<div class="grid-divider"></div>
								<div class="grid-wrapper document-section__item">
									<div class="grid grid-1-4">
										<h2 class="inner-block heading-small">Property</h2>
									</div>
									<div class="grid grid-1-4">
										<div class="inner-block">
											<a href="/register-view/register-2" class="button-secondary">view title<span class="visuallyhidden"> a transfer</span></a>
										</div>
									</div>
									<div class="grid grid-1-4">
										<div class="inner-block">
											<a href="/reserve-priority/select" class="button-secondary">reserve priority<span class="visuallyhidden"> a transfer</span></a>
										</div>
									</div>
								</div>

								<div class="grid-divider"></div>

								<div class="grid-wrapper document-section__item">
									<div class="grid grid-1-4">
										<div class="inner-block">
											<a href="#" class="button-secondary">Remove case</a>
										</div>
									</div>
								</div>

							</details>
						</li>
      </ul>
    </div>
	</div>
  </main>

  {{/content}}

  {{/layout-v1-1}}
