{{<layout-v1-1}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
<div class="outer-block">
	<div class="inner-block">
		{{>includes/alpha_banner}}
					<p><u><b>Create Case</b></u> > <u>Confirm Transaction</u> > <u>Create Mortgage</u> > <u>Sign Mortgage</u> > <u>Date and Submit</u></p>


					<h1>Get borrower assurance</h1>

					<div class="text">

						<p class="lede">If you’re acting on behalf of a borrower they must verify your relationship before you can proceed with a transaction.</p>

						<p>To verify the relationship you must use this service to generate a unique code to give to each borrower.</p>

						<p>The relationship will only be verified once each borrower on the transaction has entered the code on <a href="http://www.gov.uk">GOV.UK</a></p>

						<p>To use this service you’ll need to confirm:</p>
						<ul class="list-bullet">
							<li>your identity on GOV.UK</li>
							<li>the address of the property or land</li>
							<li>contact details of the borrower(s)</li>
							<li>what the borrower(s) wants to do</li>
						</ul>

					</div>

					<p>
						<a href="step-4-find-property" class="button button-get-started">Start now</a>
					</p>

			</div>

</div>
</main>

{{/content}}

{{/layout-v1-1}}
