{{<govuk_template}}

{{$pageTitle}}
  Your session has timed out
{{/pageTitle}}

{{$head}}
  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css">
{{/head}}

{{$content}}

<main id="wrapper" role="main">

  <div id="content">
    {{>includes/beta_banner}}

    <div class="grid-row">
      <div class="column-two-thirds">

    	<h1 class="heading-xlarge">Your deed is not confirmed</h1>

	    <p>
        You were not able to confirm your deed. This was not due to any mistake
        on your part, but because the service encountered technical issues.
      </p>

      <p>
        You will need to <a href="../sign-my-mortgage">start again</a>
      </p>

      <p>
        If you continue to experience this error please <a href="mailto:team@feedbackaddress">contact us</a>
      </p>

      </div>
    </div>

  </div>

</main>

{{/content}}

{{/govuk_template}}
