{{<govuk_template}}

{{$head}}
	<link href="/public/lr-style-guide/lr-styleguide/css/styleguide.css" media="screen" rel="stylesheet" type="text/css">
  <link href="/public/stylesheets/application-v3.css" media="screen" rel="stylesheet" type="text/css">
{{/head}}

{{$pageTitle}}
  Sign your mortgage deed
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<h1 class="heading-xlarge">
		<span class="heading-secondary">Sign your mortgage deed</span>
		Identity verified
	</h1>

	<div class="text">
		<p>
			You have successfully verified your identity using GOV.UK Verify.
		</p>
		<p>
			<a href="/deed-journeys/deed-transaction/property-details" class="button button-get-started">
				Continue
			</a>
		</p>
	</div>

</main>

{{/content}}

{{$bodyEnd}}
  {{>includes/scripts}}
  <script type="text/javascript" src="/public/lr-style-guide/lr-styleguide/js/styleguide.min.js"></script>
{{/bodyEnd}}

{{/govuk_template}}
