{{<govuk_template}}

	{{$pageTitle}}
		Borrower Reference
	{{/pageTitle}}

	{{$head}}
	  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css">
	{{/head}}

	{{$content}}
		<main id="content" role="main">
			{{>includes/beta_banner}}
			<div class="inner-block">

				<br><br>

				<form class="form">
					<div class="form-group">
						<label class="form-label-bold" for="borrowerid">
							What is your borrower reference?
							<span class="form-hint">For example, 2eb47c</span>
						</label>
						<input type="text" class="form-control" id="borrowerid" name="borrowerid" >
					</div>

					<div class="form-group">
						<a href="date-of-birth" class="button">Continue</a>
					</div>
				</form>

				<details>
					<summary>
						I don't have a borrower reference
					</summary>
					<p>If you don't have a reference your should contact your conveyancer.</p>
				</details>

			</div>
		</main>
	{{/content}}

	{{$bodyEnd}}
	  {{>includes/scripts}}
	  <script type="text/javascript" src="/public/lr-style-guide/lr-styleguide/js/styleguide.min.js"></script>
	{{/bodyEnd}}

{{/govuk_template}}
