{{<layout-v1-1}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
	<div class="inner-block">
	
		{{>includes/alpha_banner}}

    <div class="callout callout--action-notice callout--generated-token">
      <h1>Mortgage sent to borrowers</h1>
    </div>

    <div class="text">
      <h2 class="heading-medium">The borrowers have been emailed</h2>
      <p>the borrowers will have to follow the instructions in the email to sign the mortgage.</p>
      <p>Once all borrowers have signed the mortgage you will be notified of its completion.</p>
    </div>
    <nav role="navigation">
      <a href="conveyancer-case-list">Back to case list</a>
    </nav>

  </div>
</main>

{{/content}}

{{/layout-v1-1}}
