{{<layout-v1-1}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
	<div class="inner-block">
		{{>includes/alpha_banner}}

		<p><u>Create Case</u> > <u>Confirm Transaction</u> > <u><b>Create Mortgage</b></u> > <u>Sign Mortgage</u> > <u>Date and Submit</u></p>

    <div class="callout callout--action-notice callout--generated-token">
      <h1>Mortgage created</h1>
    </div>

    <div class="text">
      <h2 class="heading-medium">What happens next</h2>
      <p>The other parties involved need to review the mortgage and sign it.</p>
      <p>The mortgage will only be confirmed once all parties on the transaction have agreed and signed it.</p>
    </div>
    <form action="step-7-borrowers-alerted" method="get" class="form">
      <div class="form-group">
        <button type="submit" class="button">Send mortgage to borrowers</button>
      </div>
    </form>
    <nav role="navigation">
      <a href="conveyancer-case-list">Back to case list</a>
    </nav>

	</div>
</main>

{{/content}}

{{/layout-v1-1}}
