{{<layout-v1-1}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}


<main id="content" role="main">
	<div class="inner-block">

		{{>includes/alpha_banner}}

    <h1 class="heading-xlarge">Sign your mortgage deed</h1>

    <div class="text">
      <div class="alert-inline">
        <p><b>This is a legal document &mdash; please check all details carefully before signing.</b></p>
      </div>
    </div>

    <article class="deed-document--bounds">

      <h2 class="heading-large">Mortgage deed</h2>

      <h2 class="heading-medium">Property:</h2>

      <p itemscope itemtype="http://schema.org/PostalAddress">
        <span itemprop="streetAddress">
          Flat 18 Kingman Court<br>
          Verdant Road<br>
        </span>
        <span itemprop="addressLocality">London</span><br>
        <span itemprop="postalCode">SV19 9BT</span>
      </p>

      <dl class="definition-inline">
        <dt>Title number</dt>
        <dd>GHR67834</dd>
      </dl>

      <h2 class="heading-medium">Lender:</h2>

      <p itemscope itemtype="http://schema.org/Corporation">
        <span itemprop="name">Bank of England Plc</span><br>
        <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress" class="address-inline">
          <span itemprop="streetAddress">
            12 Trinity Place, Regents Street,
          </span>
          <span itemprop="addressLocality">London</span>
          <span itemprop="postalCode">NW10 6TQ</span>
        </span>
        <dl class="definition-inline">
          <dt>Company registration number</dt>
          <dd>2347676</dd>
        </dl>
      </p>

      <h2 class="heading-large">Mortgage agreement</h2>

      <h3 class="heading-medium">Borrowers:</h3>

      <div class="grid-row">
        <div class="column-third">
          <p>
            <b>Matthew Jameson</b> <span class="alert-flag">you</span><br>
            118 Leafy Way,<br>
            Thale,<br>
            Berks<br>
            RG12 9AB
          </p>
        </div>

        <div class="column-third">
          <p>
            Jennifer Spencer<br>
            88 Monad Road,<br>
            Slough,<br>
            Berks<br>
            SL20 3JD
          </p>
        </div>

      </div>

      <div class="text">

        <h3 class="heading-small">Charging clause:</h3>
        <p>You, the borrower, with full title guarantee, charge property to the lender by way of legal mortgage with the payment of all money secured by this charge.</p>

        <h3 class="heading-small">Additional provisions:</h3>
        <ul class="list-bullet">
          <li>
            <p>This Mortgage Deed incorporates the <a href="#" rel="external">Lenders Mortgage Conditions and Explanation 2006</a>, a copy of which has been received by the Borrower.</p>
          </li>
          <li>
            <p>The lender is under an obligation to make further advances and applies for the obligation to be entered in the register.</p>
          </li>
          <li>
            <p>No disposition of the registered estate by the proprietor of the registered estate is to be registered without a written consent signed by Bank of England Plc.</p>
          </li>
        </ul>

      </div>

      <div id="signature-area" class="js-hidden">
        <div class="form ">
          <div class="form-group">
            <label class="heading-small" for="signature">Signed:</label>
            <p class="form-hint">Enter your full name here</p>
            <input type="text" class="form-control" id="signature" name="signature">
          </div>
        </div>
      </div>

      <div class="text">

        <h3 class="heading-small">Effective date and time:</h3>
        <p>This charge takes effect when the registrar receives notification from Bailey &amp; Co Solicitors, who prepared this charge. The effective date and time is applied by the registrar on completion.</p>

        <div class="deed-document--divider">
          <p class="font-xsmall">Mortgage deed reference <a href="#" rel="external">MD859K</a>.</p>
        </div>

      </div>

    </article>

    <div id="request-code">

      <div class="text">
        <p>If any details are incorrect, or you require further assistance, please contact your lender or conveyancer.</p>
        <p>If you’re happy to sign the deed, you will be sent an authentication code. Enter this code and your name to sign.</p>
      </div>

      <div class="form">
        <div class="form-group">
          <h4 class="form-header heading-small">How would you like to receive your code?</h4>
          <label class="block-label" for="radio-1">
            <input id="radio-1" type="radio" name="radio-group" value="1">
            By SMS message, to my mobile number ending <b>4232</b>
          </label>
          <label class="block-label" for="radio-2">
            <input id="radio-2" type="radio" name="radio-group" value="2">
            By a phone call, to my phone number ending <b>1632</b>
          </label>
          <label class="block-label" for="radio-3">
            <input id="radio-3" type="radio" name="radio-group" value="3">
            By email, to <b>email@domain.co.uk</b>
          </label>
          <label class="block-label" for="radio-4">
            <input id="radio-4" type="radio" name="radio-group" value="4">
            By email, to <b>second-email@domain.co.uk</b>
          </label>
        </div>
        <div class="form-group">
          <button type="submit" class="button">Get authentication code</button>
        </div>
      </div>

    </div>

    <div id="enter-code" class="js-hidden">
      <form action="step-4-confirmation" class="form text">
        <div class="form-group">
          <label class="form-label" for="auth-code">Your authentication code:</label>
          <p class="form-hint">Example: ABC1234</p>
          <input type="text" class="form-control" id="auth-code" name="auth-code">
        </div>
        <p><a href="#">I haven't received my code, resend it</a></p>
        <div class="form-group">
          <button type="submit" class="button">Sign mortgage deed</button>
        </div>
      </form>
    </div>


  </div>
</main>

<script type="text/javascript">

  $(function() {

    var $signatureEl = $('#signature-area');
    var $requestEl = $('#request-code');
    var $enterEl = $('#enter-code');

    $requestEl.on('click', 'button', function(e) {
      e.preventDefault();

      $requestEl.addClass('js-hidden');
      $enterEl.removeClass('js-hidden');
      $signatureEl.removeClass('js-hidden');

      $('html, body')
        .animate({
          scrollTop: $signatureEl.offset().top - 60
        },
        750,
        function() {
          $signatureEl.find('label').focus();
        });

    });

  });

</script>

{{/content}}

{{/layout-v1-1}}
