{{<layout-verify}}

{{$pageTitle}}
  GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

  <main id="content" role="main">

    <div class="inner-block">

      {{>includes/alpha_banner}}

    </div>

<div class="sign-in">

  <header class="page-header intro-header">

    <p>
      <a href="javascript:window.history.back()"
        class="track"
        data-category="Sign in page - Back link"
        data-action="Clicked the Back link">&lt; Back
      </a>
    </p>

    <h2>Who verified you?</h2>

  </header>

  <div class="article-container full-width">

    <article>

    <p>If you haven't been verified, you can <a href="#">start now</a>.</p>
      <div class="valid-companies cf">

        <div class="company">

          <div class="company-inner">
            
            <div class="logo" style="background-image:url(/public/govuk-verify-dummy/images/post-office.png)">
            </div>

            <div class="button-wrap">

              <a class="button" href="verify-step-3?provider=post-office">
                Sign in with Post Office
              </a>

            </div>

          </div>

        </div>

        <div class="company">

          <div class="company-inner">
            
            <div class="logo" style="background-image:url(/public/govuk-verify-dummy/images/experian.png)">
            </div>

            <div class="button-wrap">

              <a class="button" href="verify-step-3?provider=experian">
                Sign in with Experian
              </a>

            </div>

          </div>

        </div>


        <div class="company">
          <div class="company-inner">
            
            <div class="logo" style="background-image:url(/public/govuk-verify-dummy/images/digidentity.png)"></div>

            <div class="button-wrap">

              <a class="button" href="verify-step-3?provider=digidentity">
                Sign in with Digidentity
              </a>

            </div>

          </div>

        </div>


        <div class="company">
          <div class="company-inner">
            
            <div class="logo" style="background-image:url(/public/govuk-verify-dummy/images/verizon.png)"></div>

            <div class="button-wrap">
              <a class="button" href="verify-step-3?provider=verizon">
                Sign in with Verizon
              </a>
            </div>

          </div>
        </div>

      </div>

      <div class="forgot-company">
        <a href="#">
          I can't remember which company verified me
        </a>
      </div>

    </article>

  </div>




    </main>

{{/content}}

{{/layout-verify}}