{{<layout-verify}}

{{$pageTitle}}
  GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

  <main id="content" role="main">

    <div class="inner-block">

      {{>includes/alpha_banner}}

    </div>

<div class="intro-wrap">

  <div class="intro">

    <div class="step-wrap" id="step-wrap">

      <section class="step step-1">

        <img class="verify-icon" src="/public/govuk-verify-dummy/images/icon-crown-shield-2.png">

        <div class="text-wrap">
          <h4>To renew or update your driving licence</h4>
          <h3>you need to verify your identity</h3>
          
          <p>
            GOV.UK Verify is the new way to verify your identity online
          </p>

          <p class="question">Is this your first time using GOV.UK Verify?</p>

          <div class="form-group">
            
            <label class="selectable binary" style="margin-bottom: 10px;background: none;">
              <input type="radio" name="beenVerified" value="false">
              Yes
            </label>
            
            <label class="selectable binary" style="margin-bottom: 10px;background: none;">
              <input type="radio" name="beenVerified" value="true">
              No
            </label>
          </div>

          <div class="actions">
            <a class="button next" href="verify-step-2">
              Continue
            </a>
          </div>

        </div>

      </section>

    </div>

  </div>

</div>


    </main>

{{/content}}

{{/layout-verify}}

