<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang=""><![endif]-->
<!--[if gt IE 8]><!--><html lang=""><!--<![endif]-->
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <title>Index</title>

    <script type="text/javascript">
      (function(){if(navigator.userAgent.match(/IEMobile\/10\.0/)){var d=document,c="appendChild",a=d.createElement("style");a[c](d.createTextNode("@-ms-viewport{width:auto!important}"));d.getElementsByTagName("head")[0][c](a);}})();
    </script>

    <!--[if lt IE 9]>
      <script src="/public/javascripts/ie.js?0.9.1" type="text/javascript"></script>
    <![endif]-->

    <!-- <link rel="shortcut icon" href="/public/images/favicon.ico?0.9.1" type="image/x-icon" /> -->

    <!-- Size for iPad and iPad mini (high resolution) -->
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/public/images/apple-touch-icon-152x152.png?0.9.1">
    <!-- Size for iPhone and iPod touch (high resolution) -->
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/public/images/apple-touch-icon-120x120.png?0.9.1">
    <!-- Size for iPad 2 and iPad mini (standard resolution) -->
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/public/images/apple-touch-icon-76x76.png?0.9.1">
    <!-- Default non-defined size, also used for Android 2.1+ devices -->
    <link rel="apple-touch-icon-precomposed" href="/public/images/apple-touch-icon-60x60.png?0.9.1">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="/public/images/opengraph-image.png?0.9.1">

      <!--[if lte IE 8]>
        <link rel="stylesheet" href="/public/stylesheets/application-oldie.css">
      <![endif]-->
      <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="/public/govuk-verify-dummy/stylesheets/provider.css">
      <!--<![endif]-->
  </head>

  <body class="">
    <script type="text/javascript">document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    <header role="banner" id="header">
      <div class="inner">
        <a href="verify-step-1" id="idp-logo" class="content">
          <script type="text/javascript">
          var provider = window.location.search.split('=')[1];
          document.write('<img src="/public/govuk-verify-dummy/images/' + provider + '.png" alt="">');
          </script>
        </a>
        <span style="float:right; font-size: 16px;">
          <a href="#">Contact us</a>
          <a style="display: inline-block; background:#005ea5; color: #fff; padding: 10px 14px; margin: 0 0 0 30px;" href="verify-step-1">Back to GOV.UK</a>
        </span>
      </div>
    </header>


<main id="page-container" role="main">

  <h1 class="heading-xlarge">Sign in</h1>

  <div class="grid-row">
    <div class="column-two-thirds">
      <form id="main-form" action="#" method="get">

        <div class="form-group">
          <label class="form-label" for="username">Username</label>
          <input class="form-control" id="username" type="text" autocomplete="off">
        </div>

        <div class="form-group">
          <label class="form-label" for="password">Password</label>
          <input class="form-control" id="password" type="text" autocomplete="off">

        </div>

        <button class="button">
          Continue
        </button>

      </form>
    </div>
    
  </div>

</main>


    <footer id="footer" role="contentinfo">
      <div class="inner" style="margin-top: 30px">

      </div>
    </footer>
    <!--end footer-->

    <script src="/public/javascripts/govuk-template.js?0.9.1" type="text/javascript"></script>

    <!-- govuk_frontend_toolkit js -->
    <script src="/public/javascripts/vendor/polyfills/bind.js"></script>
    <script src="/public/javascripts/govuk/selection-buttons.js"></script>


  </body>
</html>
