{{<govuk_template}}

{{$pageTitle}}
  Sending
{{/pageTitle}}

{{$head}}
  {{>includes/head}}
  <style type="text/css">
    #processing {
      text-align: center;
    }
    #processing img {
      width: 40px;
      margin: 0 auto;
    }
  </style>
{{/head}}

{{$content}}

<main id="content" role="main">

  {{>digital-register/includes/banner}}
  {{>includes/beta_banner}}

  <div id="processing" class="expand">
    <h1 class="heading-xlarge">Sending code...</h1>
    <div>
      <img src="/public/images/loader.gif">
    </div>
  </div>

</main>

{{/content}}

{{$bodyEnd}}
  {{>includes/scripts}}
  <script type="text/javascript">
   var timeoutID = window.setTimeout(move, 1000);
  function move() {
    window.location.href = 'enter-authentication-code';
  }
  </script>
{{/bodyEnd}}

{{/govuk_template}}
