{{<govuk_template}}

	{{$pageTitle}}
		Sign in
	{{/pageTitle}}

	{{$head}}
	  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css">
	{{/head}}

	{{$content}}
		<main id="content" role="main">
			{{>includes/beta_banner}}
			<div class="inner-block">

				<br><br>

				<form class="form" action="how-to-proceed">
			    <div class="form-group">
			      <fieldset>
			        <legend class="form-label-bold">What is your date of birth?</legend>
			        <div class="form-date">

			          <p class="form-hint">For example, 31 3 1980</p>

			          <div class="form-group form-group-day">
			            <label for="dob_day">Day</label>
			            <input class="form-control" id="dob_day" name="dob_day" type="number" pattern="[0-9]*" min="0" max="31">
			          </div>

			          <div class="form-group form-group-month">
			            <label for="dob_month">Month</label>
			            <input class="form-control" id="dob_month" name="dob_month" type="number" pattern="[0-9]*" min="0" max="12">
			          </div>

			          <div class="form-group form-group-year">
			            <label for="dob_year">Year</label>
			            <input class="form-control" id="dob_year" name="dob_year" type="number" pattern="[0-9]*" min="0" max="2015">
			          </div>
			        </div>
			      </fieldset>
			    </div>

					<div class="form-group">
						<input class="button" type="submit" value="Continue">
					</div>
				</form>

			</div>
		</main>
	{{/content}}

	{{$bodyEnd}}
	  {{>includes/scripts}}
	  <script type="text/javascript" src="/public/lr-style-guide/lr-styleguide/js/styleguide.min.js"></script>
	{{/bodyEnd}}

{{/govuk_template}}
