{{<layout-v1}}

{{$pageTitle}}
  GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

  <div class="inner-block">
  
    {{>includes/alpha_banner}}
  
    <p><u>Create Case</u> > <u>Confirm Transaction</u> > <u>Create Mortgage</u> > <u>Sign Mortgage</u> > <u><b>Date and Submit</b></u></p>

    <div class="callout callout--action-notice callout--generated-token">
      <h1>You've dated the mortgage deeds. Reference:123456</h1>
    </div>

    <div class="text">
      <p class="lede">You’ve dated the mortgage deeds for this property. This has now been submitted to Land Registry for processing</p>
      <h2 class="heading-medium">What happens next</h2>
      <p>Land Registry will now process the submitted mortgage and notify you when this is complete. if you need to contact Land Registry regarding this mortgage please quote the reference number above</p>
    </div>

  </div>

</main>

{{/content}}

{{/layout-v1}}
