{{<layout-v1-1}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
	<div class="inner-block">

				<h1 class="heading-xlarge">
					HTML Prototypes V1.1
				</h1>

				<h2 class="heading-large">Introduction</h2>
				<div class="text">
					<p>This is a place where we iterate wildly.</p>

					<p>This page acts as an index to the various prototypes and ideas we’re having.</p>

					<p>Full history resides in github repo, and not here as 'older' or previous versions</p>
				</div>

				<h3 class="heading-medium">Lender creates a case</h3>
				<ul>
					<li><strong>1.</strong> <a href="/v1-1/step1/step-1-login">Lender creates a Case</a></li>
				</ul>
				<h3 class="heading-medium">Lender creates a mortgage</h3>
				<ul>
					<li><strong>2.</strong> <a href="/v1-1/step1/step-1-login">Lender creates a mortgage</a></li>
				</ul>
				<h3 class="heading-medium">Signing Mortgage Deed</h3>
				<ul>
					<li><strong>3.</strong> <a href="/v1-1/step3/step-1-citizen-signs-deed">First citizen (of a couple) signs a mortgage deed</a></li>
				</ul>
				<h3 class="heading-medium">Submit Mortgage to Land Registry</h3>
				<ul>
					<li><strong>4.</strong> <a href="/v1-1/step4/step-1-login">Lender dates mortgage and submits it to Land Registry</a></li>
				</ul>
</div>
</main>

{{/content}}

{{/layout-v1-1}}
