{{<layout-v2}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
	<div class="inner-block">

				<p>&lt; <a href="/">Back to index</a></p>

				<h1 class="heading-xlarge">
					HTML Prototypes V2
				</h1>

				<h3 class="heading-medium">Create a case</h3>
				<ul>
					<li><strong>1.</strong> <a href="/v2/step1/login">Create a Case</a></li>
				</ul>
				<h3 class="heading-medium">Investigate title</h3>
				<ul>
					<li><strong>2.</strong> Investigate title (not in v2)</li>
				</ul>
				<h3 class="heading-medium">Create a mortgage</h3>
				<ul>
					<li><strong>3.</strong> <a href="/v2/step3/step-1-login">Create a mortgage</a></li>
				</ul>
				<h3 class="heading-medium">Signing Mortgage Deed</h3>
				<ul>
					<li><strong>4.</strong> <a href="/v2/step4/step-1-citizen-signs-deed">First borrower (of a couple) signs a mortgage deed</a></li>
					<li><em><a href="/v2/step4/step-2-identity-verified">skip verify steps</a></em></li>
				</ul>
				<h3 class="heading-medium">Reserve priority</h3>
				<ul>
					<li><strong>5.</strong> Reserve priority (not in v2)</li>
				</ul>
				<h3 class="heading-medium">Submit Mortgage to Land Registry</h3>
				<ul>
					<li><strong>6.</strong> <a href="/v2/step6/step-1-login">Date mortgage and submit to Land Registry</a></li>
				</ul>
</div>
</main>

{{/content}}

{{/layout-v2}}
