{{<govuk_template}}

	{{$pageTitle}}
		Borrower details
	{{/pageTitle}}

	{{$head}}
		<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
		<style type="text/css">
			b, strong {
				font-weight: bold;
			}
		</style>
	{{/head}}

	{{$content}}
		<main id="content" role="main">
			<div class="inner-block">

				<h1 class="heading-large">Are these borrower details correct?</h1>

				<div class="grid-row">
					<div class="column-third">
						<p class="lede">
							Peter Smith<br>
							83 Lordship Park,<br>
							London<br>
							N16 5UP
						</p>
					</div>
					<div class="column-third">
						<p class="lede">
							Sarah Jane Smith<br>
							83 Lordship Park,<br>
							London<br>
							N16 5UP
						</p>
					</div>
				</div>

				<form class="form">
					<div class="form-group">
						<fieldset class="inline">
					    <label class="block-label" for="radio-inline-1">
					      <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
					      Yes
					    </label>
					    <label class="block-label" for="radio-inline-2">
					      <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
					      No
					    </label>
					  </fieldset>
					</div>
					<div class="form-group">
						<a href="terms" class="button">Next</a>
					</div>
				</form>

			</div>
		</main>
	{{/content}}

	{{$bodyEnd}}
	  <script type="text/javascript" src="/public/javascripts/jquery-1.11.2.js"></script>
	  <script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>
		<script type="text/javascript">
			// Use GOV.UK selection-buttons.js to set selected
			// and focused states for block labels
			var $blockLabels = $(".block-label input[type='radio'], .block-label input[type='checkbox']");
			new GOVUK.SelectionButtons($blockLabels);
		</script>
	{{/bodyEnd}}

{{/govuk_template}}
