{{<govuk_template}}

	{{$pageTitle}}
		Borrower details
	{{/pageTitle}}

	{{$head}}
		<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
		<link href="/public/lr-style-guide/lr-styleguide/css/styleguide.css" media="screen" rel="stylesheet" type="text/css" />
	{{/head}}

	{{$content}}
		<main id="content" role="main">
			<div class="inner-block">

				<h1 class="heading-large">
					<span class="heading-secondary">Step 3 of 7</span>
					Borrower details
				</h1>

				<div class="text">
					<p>
						This should accurately show the details of anyone to be included on
						the mortgage.
					</p>
				</div>

				<div class="text division-primary">
					<div class="grid-row">
						<div class="column-half">
							<p class="lede">
								Peter Smith<br>
								83 Lordship Park,<br>
								London<br>
								N16 5UP
							</p>
						</div>
						<div class="column-half">
							<p class="lede">
								Sarah Jane Smith<br>
								83 Lordship Park,<br>
								London<br>
								N16 5UP
							</p>
						</div>
					</div>
				</div>

				<h2 class="heading-medium">
					Are these borrower details correct?
				</h2>

				<form class="form">
					<div class="form-group">
						<fieldset class="inline">
					    <label class="block-label" for="radio-inline-1">
					      <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
					      Yes
					    </label>
					    <label class="block-label" for="radio-inline-2">
					      <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
					      No
					    </label>
					  </fieldset>
					</div>
					<div class="form-group">
						<a href="charging-clause" class="button">Next</a>
						<p>
							<a href="lender-details">Back</a>
						</p>
					</div>
				</form>

			</div>
		</main>
	{{/content}}

	{{$bodyEnd}}
	  <script type="text/javascript" src="/public/javascripts/jquery-1.11.2.js"></script>
	  <script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>
		<script type="text/javascript">
			// Use GOV.UK selection-buttons.js to set selected
			// and focused states for block labels
			var $blockLabels = $(".block-label input[type='radio'], .block-label input[type='checkbox']");
			new GOVUK.SelectionButtons($blockLabels);
		</script>
	{{/bodyEnd}}

{{/govuk_template}}
