{{<govuk_template}}

	{{$pageTitle}}
		Charging clause
	{{/pageTitle}}

	{{$head}}
		<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
		<link href="/public/lr-style-guide/lr-styleguide/css/styleguide.css" media="screen" rel="stylesheet" type="text/css" />
	{{/head}}

	{{$content}}
		<main id="content" role="main">
			<div class="inner-block">

				<h1 class="heading-large">Charging clause</h1>

				<div class="text division-primary">
					<p class="lede">
						The Mortgagor with full title guarantee charges the Property by way of
						legal mortgage with payment of all moneys, obligation and liabilities
						whatsoever whether for principal interest or otherwise which may now
						or at any time in the future be due owing or incurred by the
						Mortgagor and/or Borrower to the Lender (the “Secured Liabilities” as
						defined in the Conditions.
					</p>
				</div>

				<div class="text">
					<p>
						This is your agreement to mortgage the property.
					</p>
				</div>

				<div class="text panel-indent">
					<p>
						If this is incorrect please contact your conveyancer, Ross Clulow
						Solicitors, on 0208 198 8943 before continuing further.
					</p>
				</div>

				<div class="form">
					<div class="form-group">
						<a href="restrictions" class="button">Next</a>
					</div>
				</div>

			</div>
		</main>
	{{/content}}

	{{$bodyEnd}}
		<script type="text/javascript" src="/public/lr-style-guide/lr-styleguide/js/styleguide.min.js"></script>
	  <script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>
		<script type="text/javascript">
			// Use GOV.UK selection-buttons.js to set selected
			// and focused states for block labels
			var $blockLabels = $(".block-label input[type='radio'], .block-label input[type='checkbox']");
			new GOVUK.SelectionButtons($blockLabels);
		</script>
	{{/bodyEnd}}

{{/govuk_template}}
