{{<govuk_template}}

	{{$pageTitle}}
		Borrower details
	{{/pageTitle}}

	{{$head}}
		<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
		<link href="/public/lr-style-guide/lr-styleguide/css/styleguide.css" media="screen" rel="stylesheet" type="text/css" />
	{{/head}}

	{{$content}}
		<main id="content" role="main">
			<div class="inner-block">

				<div class="text">

					<h1 class="heading-xlarge">Mortgage deed agreed</h1>

					<p class="lede">
						You’ve confirmed and agreed your mortgage deed.
					</p>

					<div class="service-notice expand-bottom">
		  			<p>
							Sarah Jane Smith <b>still needs to complete this service</b>.
						</p>
						<p>
							<a href="#"><b>Back to start</b></a>
						</p>
					</div>

					<p>
						A confirmation email has been sent to <b>peter.smith@gmail.com</b>,
						which you should keep for your records.
					</p>

					<h2 class="heading-large">What happens next</h2>

					<p>When everyone has signed the deed:</p>
					<ul>
						<li>
							Your conveyancer will attached any required supporting documents
							and submit the mortgage to the Land Registry
						</li>
						<li>
							The Land Registry will then update your title records to reflect the change
						</li>
					</ul>

					<p>
						The time this takes will vary depending on the complexity of the
						transaction, and your lender or conveyancer will contact you if
						there are any delays.
					</p>

					<div class="division-standard-top">
						<ul>
							<li><a href="#">What did you think of this service?</a> (Takes 30 seconds)</li>
							<li><a href="#">More about the land registry</a></li>
						</ul>
					</div>

				</div>

			</div>
		</main>
	{{/content}}

	{{$bodyEnd}}
	  {{>includes/scripts}}
	  <script type="text/javascript" src="/public/lr-style-guide/lr-styleguide/js/styleguide.min.js"></script>
	{{/bodyEnd}}

{{/govuk_template}}
