{{<govuk_template}}

	{{$pageTitle}}
		Lender details
	{{/pageTitle}}

	{{$head}}
		<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
		<link href="/public/lr-style-guide/lr-styleguide/css/styleguide.css" media="screen" rel="stylesheet" type="text/css" />
	{{/head}}

	{{$content}}
		<main id="content" role="main">
			<div class="inner-block">

				<h1 class="heading-large">
					<span class="heading-secondary">Step 2 of 7</span>
					Lender details
				</h1>

				<div class="text">
					<p>
						This should accurately show the details of the lender you are
						remortgaging with.
					</p>
				</div>

				<div class="text division-primary">
					<p class="lede">
						Bank of England PLC<br>
						12 Trinity Place,<br>
						Regents Street,<br>
						London<br>
						NW10 6TQ
					</p>
				</div>

				<h2 class="heading-medium">
					Are these lender details correct?
				</h2>

				<form class="form">
					<div class="form-group">
						<fieldset class="inline">
					    <label class="block-label" for="radio-inline-1">
					      <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
					      Yes
					    </label>
					    <label class="block-label" for="radio-inline-2">
					      <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
					      No
					    </label>
					  </fieldset>
					</div>
					<div class="form-group">
						<a href="borrower-details" class="button">Next</a>
						<p>
							<a href="property-details">Back</a>
						</p>
					</div>
				</form>

			</div>
		</main>
	{{/content}}

	{{$bodyEnd}}
	  <script type="text/javascript" src="/public/javascripts/jquery-1.11.2.js"></script>
	  <script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>
		<script type="text/javascript">
			// Use GOV.UK selection-buttons.js to set selected
			// and focused states for block labels
			var $blockLabels = $(".block-label input[type='radio'], .block-label input[type='checkbox']");
			new GOVUK.SelectionButtons($blockLabels);
		</script>
	{{/bodyEnd}}

{{/govuk_template}}
