{{<govuk_template}}

	{{$pageTitle}}
		Not happy to proceed
	{{/pageTitle}}

	{{$head}}
		<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
	{{/head}}

	{{$content}}
		<main id="content" role="main">
			<div class="inner-block">

				<h1 class="heading-xlarge">
					If you are not happy to proceed
				</h1>

				<div class="text">
					<p>
						If there's a mistake in your mortgage deed, or you are not happy to
						agree to the terms, inform your conveyancer as soon as possible.
					</p>
					<p>
						The best way to do this is to get back in touch with the person who
						asked you to sign the deed.
					</p>
					<p>
						If you have selected “No” in error, just go
						<a href="javascript:window.history.back();">back</a> to continue
						signing your mortgage deed.
					<p>
						<a href="javascript:window.history.back();">Back</a>
					</p>
				</div>

			</div>
		</main>
	{{/content}}

	{{$bodyEnd}}
	  {{>includes/scripts}}
	  <script type="text/javascript" src="/public/lr-style-guide/lr-styleguide/js/styleguide.min.js"></script>
	{{/bodyEnd}}

{{/govuk_template}}
