{{<govuk_template}}

	{{$pageTitle}}
		Obligations
	{{/pageTitle}}

	{{$head}}
		<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
		<link href="/public/lr-style-guide/lr-styleguide/css/styleguide.css" media="screen" rel="stylesheet" type="text/css" />
	{{/head}}

	{{$content}}
		<main id="content" role="main">
			<div class="inner-block">

				<h1 class="heading-large">
					<span class="heading-secondary">Step 6 of 7</span>
					Obligations
				</h1>

				<div class="text division-primary">
					<p class="lede">
						The Society has power under the mortgage conditions to make further
						advances secured by the mortgage and is obliged to do so.
					</p>
				</div>

				<div class="text">
					<p>
						This means that the lender is required to lend you additional money
						under specific conditions.
					</p>
				</div>

				<h2 class="heading-medium">
					Do you agree to these obligations?
				</h2>

				<form class="form">
					<div class="form-group">
						<fieldset class="inline">
					    <label class="block-label" for="radio-inline-1">
					      <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
					      Yes
					    </label>
					    <label class="block-label" for="radio-inline-2">
					      <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
					      No
					    </label>
					  </fieldset>
					</div>
					<div class="form-group">
						<a href="other" class="button">Next</a>
						<p>
							<a href="restrictions">Back</a>
						</p>
					</div>
				</form>

			</div>
		</main>
	{{/content}}

	{{$bodyEnd}}
	  {{>includes/scripts}}
	  <script type="text/javascript" src="/public/lr-style-guide/lr-styleguide/js/styleguide.min.js"></script>
	{{/bodyEnd}}

{{/govuk_template}}
