{{<govuk_template}}

	{{$pageTitle}}
		Other terms and conditions
	{{/pageTitle}}

	{{$head}}
		<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
		<link href="/public/lr-style-guide/lr-styleguide/css/styleguide.css" media="screen" rel="stylesheet" type="text/css" />
	{{/head}}

	{{$content}}
		<main id="content" role="main">
			<div class="inner-block">

				<h1 class="heading-large">
					<span class="heading-secondary">Step 7 of 7</span>
					Other terms and conditions
				</h1>

				<div class="text division-primary">
					<p class="lede">
						The charge created by this Mortgage Deed (the “Mortgage”) is made
						subject to, and incorporates, all of the Mortgage Conditions in
						Part C of the Conditions.
					</p>
				</div>

				<div class="text">
					<p>
						These are other terms and conditions that the Lender has asked to
						be included in the mortgage deed.
					</p>
				</div>

				<h2 class="heading-medium">
					Do you agree to these terms and conditions?
				</h2>

				<form class="form">
					<div class="form-group">
						<fieldset class="inline">
					    <label class="block-label" for="radio-inline-1">
					      <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
					      Yes
					    </label>
					    <label class="block-label" for="radio-inline-2">
					      <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
					      No
					    </label>
					  </fieldset>
					</div>
					<div class="form-group">
						<a href="summary" class="button">Next</a>
						<p>
							<a href="obligations">Back</a>
						</p>
					</div>
				</form>

			</div>
		</main>
	{{/content}}

	{{$bodyEnd}}
	  {{>includes/scripts}}
	  <script type="text/javascript" src="/public/lr-style-guide/lr-styleguide/js/styleguide.min.js"></script>
	{{/bodyEnd}}

{{/govuk_template}}
