{{<govuk_template}}

	{{$pageTitle}}
		Other terms and conditions
	{{/pageTitle}}

	{{$head}}
		<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
		<link href="/public/lr-style-guide/lr-styleguide/css/styleguide.css" media="screen" rel="stylesheet" type="text/css" />
	{{/head}}

	{{$content}}
		<main id="content" role="main">
			<div class="inner-block">

				<h1 class="heading-large">Other terms and conditions</h1>

				<div class="text">
					<p>
						These are other terms and conditions that the Lender has asked to
						be included in the mortgage deed.
					</p>
				</div>

				<div class="text division-primary">
					<p class="lede">
						The charge created by this Mortgage Deed (the “Mortgage”) is made
						subject to, and incorporates, all of the Mortgage Conditions in
						Part C of the Conditions.
					</p>
				</div>

				<div class="text panel-indent">
					<p>
						If this is incorrect please contact your conveyancer, Ross Clulow
						Solicitors, on 0208 198 8943 before continuing further.
					</p>
				</div>

				<div class="form">
					<div class="form-group">
						<a href="summary" class="button">Next</a>
					</div>
				</div>

			</div>
		</main>
	{{/content}}

	{{$bodyEnd}}
		<script type="text/javascript" src="/public/lr-style-guide/lr-styleguide/js/styleguide.min.js"></script>
	  <script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>
		<script type="text/javascript">
			// Use GOV.UK selection-buttons.js to set selected
			// and focused states for block labels
			var $blockLabels = $(".block-label input[type='radio'], .block-label input[type='checkbox']");
			new GOVUK.SelectionButtons($blockLabels);
		</script>
	{{/bodyEnd}}

{{/govuk_template}}
