{{<govuk_template}}

	{{$pageTitle}}
		Restrictions
	{{/pageTitle}}

	{{$head}}
		<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
		<link href="/public/lr-style-guide/lr-styleguide/css/styleguide.css" media="screen" rel="stylesheet" type="text/css" />
	{{/head}}

	{{$content}}
		<main id="content" role="main">
			<div class="inner-block">

				<h1 class="heading-large">
					<span class="heading-secondary">Step 5 of 7</span>
					Restrictions
				</h1>

				<div class="text division-primary">
					<p class="lede">
						If the property is, or includes, registered land, the Lender and the
						Mortgagor(s) apply to the Chief Land Registrar for a restriction to
						be entered on the register that, no disposition of the registered
						estate by the proprietor of the registered estate is to be registered
						without a written consent signed by the proprietor for the time being
						of the Charge date ___________ in favour of Bank of England Ltd
						referred to in the Charges Register.
					</p>
				</div>

				<div class="text">
					<p>
						This means that you cannot borrow money against the property from
						another lender, without your lender’s agreement.
					</p>
				</div>

				<div class="text panel-indent">
					<p>
						If this is incorrect please contact your conveyancer, Ross Clulow
						Solicitors, on 0208 198 8943 before continuing further.
					</p>
				</div>

				<div class="form">
					<div class="form-group">
						<a href="obligations" class="button">Next</a>
						<p>
							<a href="charging-clause">Back</a>
						</p>
					</div>
				</div>

			</div>
		</main>
	{{/content}}

	{{$bodyEnd}}
	  <script type="text/javascript" src="/public/lr-style-guide/lr-styleguide/js/styleguide.min.js"></script>
	{{/bodyEnd}}

{{/govuk_template}}
