{{<govuk_template}}

	{{$pageTitle}}
		Review your mortgage deed
	{{/pageTitle}}

	{{$head}}
		<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
		<link href="/public/lr-style-guide/lr-styleguide/css/styleguide.css" media="screen" rel="stylesheet" type="text/css" />
	{{/head}}

	{{$content}}
	<main id="content" role="main">
		<div class="inner-block">

			<h1 class="heading-large">Your mortgage deed</h1>

			<table>
				<tr>
					<th scope="row">Property</th>
					<td>
						83 Lordship Park,<br>
						London<br>
						N16 5UP
						<br><br>
						Title number: GHR67832
					</td>
				</tr>
				<tr>
					<th scope="row">We (the lender)</th>
					<td>
						Santander UK plc<br/>
						Deeds Services,<br/>
						101 Midsummer Boulevard,<br/>
						Milton Keynes<br/>
						MK9 1AA
					</td>
				</tr>
				<tr>
					<th scope="row">You (the borrower)</th>
					<td>
						Peter Smith</br>
					</br>
					Sarah Jane Smith</br>
				</td>
			</tr>
			<tr>
				<th scope="row">Charging clause</th>
				<td>
					<div class="text">
						You charge the property with full title guarantee and by way of
						legal mortgage with the payment of all moneys payable by you to
						us under the Mortgage Conditions.
					</div>
				</td>
			</tr>
			<tr>
				<th scope="row">Restriction</th>
				<td>
					<div class="text">
						You apply to the Chief Land Registrar to enter a restriction on the
						register to the effect that no disposition of the registered estate
						by the proprietor of the registered estate is to be registered
						without a written consent signed by the proprietor for the time
						being of the charge dated ____________________ in favour of
						Santander UK plc referred to in the Charges Register.”
					</div>
				</td>
			</tr>
			<tr>
				<th scope="row">Obligation</th>
				<td>
					<div class="text">
						We are obliged to make further advances to you on the terms set
						out in the Mortgage Conditions and we apply to the Chief Land
						Registrar for a note of that obligation to be entered on the register.
					</div>
				</td>
			</tr>
			<tr>
				<th scope="row">Additional provisions</th>
				<td>
					<div class="text">
						This mortgage incorporates our Flexible Offset Mortgage Terms and
						Conditions January 2015. You acknowledge that you have received a
						copy of the Mortgage Conditions.<br/><br/>This mortgage secures further advances.
					</div>
				</td>
			</tr>

			<tr>
				<th scope="row">Borrower electronic signature(s)</th>
				<td>
					<div class="text">
						<ul>
							<li>Signed by: <b>Sarah Jane Smith</b>
							</li>
							<li>Awaiting signature by: <b>Peter Smith</b>
							</li>
						</div>
					</td>
				</tr>
				<tr>
					<th scope="row">Registrar electronic signature</th>
					<td>
						<div class="text">
							Not Applied</br>
						</div>
					</td>
				</tr>
			</table>
<br/>
			<div class="column-full">
				<p>
					If you’re happy with these details, we’ll send you a code which you’ll need to enter on the next screen. <br/>Doing so <b>digitally signs your mortgage deed</b> and sends it back to your conveyancer.
				</p>
			<h2 class="heading-medium">Receiving your code</h2>
					<p>
						We will be sending your code by text message to your mobile number ending <b>0546</b></p>
					<a href="code-sending" class="button">Send my code</a>
			</div>
		</main>
	{{/content}}

	{{$bodyEnd}}
	  {{>includes/scripts}}
	  <script type="text/javascript" src="/public/lr-style-guide/lr-styleguide/js/styleguide.min.js"></script>
	{{/bodyEnd}}

{{/govuk_template}}
