{{<govuk_template}}

	{{$pageTitle}}
		Terms
	{{/pageTitle}}

	{{$head}}
		<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
		<link href="/public/lr-style-guide/lr-styleguide/css/styleguide.css" media="screen" rel="stylesheet" type="text/css" />
	{{/head}}

	{{$content}}
		<main id="content" role="main">
			<div class="inner-block">

				<h1 class="heading-large">Mortgage deed conditions</h1>

				<div class="text embedded-terms">
					{{>deed-journeys/includes/deed-simple}}
				</div>

				<form class="form">
					<div class="form-group">
						<fieldset>
					    <label class="block-label" for="checkbox-inline-1">
					      <input id="checkbox-inline-1" type="checkbox" name="checkbox-inline" value="Yes">
					      I have read and understood the mortgage deed conditions
					    </label>
					  </fieldset>
					</div>
					<div class="form-group">
						<a href="auth-code" class="button">Next</a>
					</div>
				</form>

			</div>
		</main>
	{{/content}}

	{{$bodyEnd}}
		<script type="text/javascript" src="/public/lr-style-guide/lr-styleguide/js/styleguide.min.js"></script>
	  <script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>
		<script type="text/javascript">
			// Use GOV.UK selection-buttons.js to set selected
			// and focused states for block labels
			var $blockLabels = $(".block-label input[type='radio'], .block-label input[type='checkbox']");
			new GOVUK.SelectionButtons($blockLabels);
		</script>
	{{/bodyEnd}}

{{/govuk_template}}
