{{<govuk_template}}

	{{$pageTitle}}
		UNHAPPY PATH
	{{/pageTitle}}

	{{$head}}
		<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
		<link href="/public/lr-style-guide/lr-styleguide/css/styleguide.css" media="screen" rel="stylesheet" type="text/css" />
	{{/head}}

	{{$content}}
		<main id="content" role="main">
			<div class="inner-block">

				<h1 class="heading-large">
					<span class="heading-secondary">Oh dear</span>
					OH DEAR
				</h1>

				<div class="text">
					<p>
						OH DEAR OH DEAR
					</p>
					<p>
						<a href="javascript:window.history.back();">Back</a>
					</p>
				</div>

			</div>
		</main>
	{{/content}}

	{{$bodyEnd}}
	  {{>includes/scripts}}
	  <script type="text/javascript" src="/public/lr-style-guide/lr-styleguide/js/styleguide.min.js"></script>
	{{/bodyEnd}}

{{/govuk_template}}
