{{<govuk_template}}

{{$head}}
	<link href="/public/lr-style-guide/lr-styleguide/css/styleguide.css" media="screen" rel="stylesheet" type="text/css">
  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css">
{{/head}}

{{$pageTitle}}
  View your mortgage deed
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
	{{>includes/beta_banner}}

	<h1 class="heading-xlarge">What we are building</h1>

	<div class="text">

		<p>
			Version of what we're building for sprint 23rd Mar to 5th Apr 2016
		</p>

		<h2 class="heading-medium">View mortgage deed flow</h2>
		<ul>
			<li><a href="/current_sprint/sign-my-mortgage">Viewing mortgage deed - happy path</a></li>
			<ul>
				<li><a href="/current_sprint/mortgage-deed">mortgage deed - nobody confirmed</a></li>
				<li><a href="/current_sprint/mortgage-deed-1-confirmed">mortgage deed - other borrower confirmed</a></li>
				<li><a href="/current_sprint/mortgage-deed-both-confirmed">mortgage deed - borrowers already confirmed</a></li>
			</ul>
		</ul>
		<h2 class="heading-medium">Unhappy paths</h2>
		<ul>
			<li><a href="/current_sprint/how-to-proceed?dob_day=31&dob_month=12&dob_year=99">Borrower reference / DOB does not match a deed</a></li>
			<li><a href="/current_sprint/how-to-proceed?dob_day=25&dob_month=12&dob_year=0000">Invalid date of birth</a></li>
			<li><a href="/current_sprint/confirming-mortgage-deed?auth_code=invalid">Invalid authentication code</a></li>
		</ul>
		<h2 class="heading-medium">Errors</h2>
		<ul>
			<li><a href="/current_sprint/server-errors/session-ended">Session has timed out or ended</a></li>
			<li><a href="/current_sprint/server-errors/deed-not-confirmed">Your deed has not been confirmed</a></li>
		</ul>

	</div>

</main>

{{/content}}

{{$bodyEnd}}
  {{>includes/scripts}}
  <script type="text/javascript" src="/public/lr-style-guide/lr-styleguide/js/styleguide.min.js"></script>
{{/bodyEnd}}

{{/govuk_template}}
