{{<layout-v1-1}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<p></p>

		<div class="intro">

			<div class="step-wrap" id="step-wrap">

				<section class="step step-1">

					<img class="icon" src="/public/images/v1/icon-crown.png">

					<div class="text-wrap">
						<!-- <strong class="new">New</strong> -->
						<h4>Before you verify this relationship</h4>

						<h3>you need to verify your identity</h3>

						<div class="actions">
							<a class="next track"
								href="step-3-enter-token"
								data-category="Intro page step 1 - Proceed button"
								data-action="Clicked the Proceed button">
								Proceed
							</a>
						</div>

						<details>

							<summary aria-controls="details-content-0" tabindex="0">
								<span class="summary">Can I use Government Gateway?</span>
							</summary>

							<div class="panel-indent" id="details-content-0" aria-expanded="false" >
								<p>
									You can't use Government Gateway with this service, it's being replaced by GOV.UK Verify.
								</p>
							</div>

						</details>

					</div>

				</section>
			</div>


		</div>
</main>

{{/content}}

{{/layout-v1-1}}
