{{<layout-v1-1}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

  <div class="inner-block">

		{{>includes/alpha_banner}}

		<h1>Sign your deed</h1>

		<div class="text">
			<p class="lede">You must electronically sign your mortgage deed.</p>
			<p>To use this service you’ll need:</p>
			<ul class="list-bullet">
				<li>Your existing GOV.UK Verify username and password</li>
				<li>the code from your lender</li>
				<li>to confirm all property and mortgage details are correct</li>
				<li>your mobile phone used to register for this service (Provided to your lender)</li>
			</ul>

			<p>
				<a href="verify-step-1" class="button button-get-started">Start now</a>
			</p>

			<details>

				<summary aria-controls="details-content-0" tabindex="0">
					<span class="summary">Why is the government involved in this?</span>
				</summary>

				<div class="panel-indent" id="details-content-0" aria-expanded="false" >
					<p>
						The Land Registry registers any interests affecting registered land, such as a change of mortgage. Find out more <a href="https://www.gov.uk/government/organisations/land-registry/about">here.</a></p>

					</p>
				</div>

			</details>
	
		</div>

  </div>

</main>

{{/content}}

{{/layout-v1-1}}
