{{<layout-v1-1}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

  <div class="inner-block">

		{{>includes/alpha_banner}}

		<h1 class="heading-xlarge">Sign your mortgage deed</h1>

		<div class="text">
			<p>Use this service to confirm all mortgage details provided by your lender are correct.</p>

			<p>When you’ve completed this service, which includes signing your mortgage deed, your lender will be able to continue the process.</p>

			<p>When everything is complete, the Land Registry will update title deeds to reflect the change.</p>

			<p>To do this you will need</p>

			<ul class="list-bullet">
				<li>To verify your identity on GOV.UK Verify</li>
				<li>the reference code from your lender or conveyancer</li>
			</ul>

			<p>
				<a href="step-2-verify" class="button button-get-started">Start now</a>
			</p>

			<details>

				<summary aria-controls="details-content-0" tabindex="0">
					<span class="summary">Why is the government involved in this?</span>
				</summary>

				<div class="panel-indent" id="details-content-0" aria-expanded="false" >
					<p>
						The Land Registry registers any interests affecting registered land, such as a change of mortgage. Find out more <a href="https://www.gov.uk/government/organisations/land-registry/about">here.</a></p>

					</p>
				</div>

			</details>
	
		</div>

	</div>

</main>

{{/content}}

{{/layout-v1-1}}
