{{<layout-v1-1}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
  <div class="inner-block">

		{{>includes/alpha_banner}}

    <div class="text">

      <div class="completion-box">
        <h1 class="heading-xlarge">Done</h1>
      </div>

			<p>You’ve confirmed the details of your mortgage and signed the deed.</p>
			<p>A confirmation email has been sent to name@place.co.uk, which you should keep for your records.</p>

			<div class="alert-box">
  			<p>Jennifer Spencer <b>still needs to complete this service</b> before your lender can continue.</p>
			</div>

			<h2 class="heading-medium">What happens next</h2>

			<p>When everyone has signed the deed, your lender will continue the process. The Land Registry will then update title deeds to reflect the change.</p>

      <p>If you have any questions about your mortgage transaction, please contact your lender &mdash; <b>Bank Of England Ltd</b></p>

    </div>

  </div>
</main>

{{/content}}

{{/layout-v1-1}}
