{{<layout-v1-1}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
  <div class="inner-block">

		{{>includes/alpha_banner}}


    <div class="callout callout--action-notice callout--generated-token">
      <h1>Complete</h1>
    </div>

    <div class="text">


			<p>You’ve confirmed the details of your mortgage and signed the deed.</p>
			<p>We’ve sent you a confirmation email to name@place.co.uk</p>

			{if}
			*Alert*
			Jennifer Spencer still needs to complete this service
			{/if}

			<h2 class="header-medium">What happens next</h2>

			<p>When everyone has completed this service, your lender will continue the process.</p>
			<p>When everything is complete, the Land Registry will update title deeds to reflect the change.</p>
  </div>

  </div>
</main>

{{/content}}

{{/layout-v1-1}}
