{{<layout-v1-1}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
	<div class="outer-block">
			<div class="inner-block">

				<h1 class="heading-large">Verify Relationship</h1>

				<div class="text">
					<p class="lede">Please check all the details carefully before verifying this relationship.</p>
				</div>

				<article class="legal-document--bounds">

					<section class="legal-document--item">

						<h2 class="heading-small">You are authorising:</h2>

						<p itemscope itemtype="http://schema.org/Corporation">
							<span itemprop="name">Bank of England Plc</span><br>
							<span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress" class="address-inline">
								<span itemprop="streetAddress">
									12 Trinity Place</span><br>
								<span itemprop="addressLocality">London</span><br>
								<span itemprop="postalCode">NW10 6TQ</span>
							</span>
							<dl class="definition-inline">
								<dt>Company registration number</dt>
								<dd>2347676</dd>
								<dt>Account number</dt>
								<dd>1007-789654</dd>
							</dl>
						</p>
					</section><!-- end item -->

					<section class="legal-document--item legal-document--bordered">

						<h3 class="heading-small">To make the following changes:</h3>
						<p class="text">Mortgage</p>

					</section><!-- end item -->


					<section class="legal-document--item legal-document--bordered">

						<h2 class="heading-small">On the following property:</h2>

						<div class="grid grid-1-2">
							<p itemscope itemtype="http://schema.org/PostalAddress">
								<span itemprop="streetAddress">
									Flat 18 Kingman Court<br>
									Verdant Road<br>
								</span>
								<span itemprop="addressLocality">London</span><br>
								<span itemprop="postalCode">SV19 9BT</span>
							</p>

							<dl class="definition-inline">
								<dt>Title number</dt>
								<dd>GHR67834</dd>
							</dl>
						</div>

					</section><!-- end item -->



				</article>


				<form action="step-5-borrower-confirmed" method="" class="form">
					<div class="form-group">
						<label for="check-1" class="block-label">
							<input id="check-1" type="checkbox" name="agree-execution">
							I have read the information and confirm it’s correct
						</label>
					</div>
					<div class="form-group">
						<button type="submit" class="button">Verify relationship</button>
					</div>
				</form>

			</div>
		</div>
</main>

{{/content}}

{{/layout-v1-1}}
