{{<layout-v1-1}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
	<div class="outer-block">
			<div class="inner-block">
				{{>includes/alpha_banner}}


				<div class="callout callout--action-notice callout--generated-token">


					<h1>
						Relationship verified
					</h1>

				</div>

				<div class="text">
					<p class="lede">
						You’ve verified your Relationship with Bank of England Plc.
					</p>
					<p>To complete this verification, all parties must also complete this process.</p>
				</div>


				<div class="text">
					<h2>What happens next</h2>

					<p>Your lender will be notified of the verification and will start preparing the deeds for the mortgage.</p>

					<p>Once your documents are ready to sign, you’ll be notified by text or email.</p>
				</div>
			</div>
		</div>

</main>

{{/content}}

{{/layout-v1-1}}
