{{<layout-v1-1}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
  <div class="inner-block">

		{{>includes/alpha_banner}}


    <div class="callout callout--action-notice callout--generated-token">
      <h1>Done</h1>
    </div>

    <div class="text">


			<p>You’ve confirmed the details of your mortgage and signed the deed.</p>
			<p>We’ve sent you a confirmation email to name@place.co.uk</p>

			{if}
			*Alert*
			Jennifer Spencer still needs to complete this service
			{/if}

			<h2 class="header-medium">What happens next</h2>

			<p>When everyone has signed the deed, your lender will continue the process. The Land Registry will then update title deeds to reflect the change.</p>

      <p>If you have any questions about your mortgage transaction, please contact your lender &mdash; Bank Of England Ltd</p>

  </div>

  </div>
</main>

{{/content}}

{{/layout-v1-1}}
