{{<govuk_template}}

{{$head}}
  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css">
{{/head}}

{{$pageTitle}}
  Identity verification
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
{{>includes/beta_banner}}
	<div class="grid-row">
		<div class="column-two-thirds">
 
			<h1 class="heading-xlarge">
				<!-- <span class="heading-secondary">Sign your mortgage deed</span> -->
				[Certified company] was unable to verify your identity.
			</h1>

			<div class="text">
				<p>
					There are a few reasons why this might happen, including:
				</p>
				<ul>
					<li>you’ve recently had a change of circumstances that your lender or conveyancer is not yet aware of</li>
					<li>you live outside the UK</li>
					<li>this is a new service and we are still improving how people can be verified</li>
				</ul>
			</div>

			<h2 class="heading-medium">What to do next</h2>
		 	<div class="text">
				<p>You can try the following:</p>
				<ul>
					<li>contact [certified company] for more information</li>
					<li>try another certified company</li>
					<li>contact your lender or conveyancer dealing with your new mortgage</li>
				</ul>
			</div>

		</div> <!-- column two thirds-->

		<div class="column-third" style="font-size:14px;">
			<!-- MattP Verify feedback -->
			<p>GDS Feedback</p> 
			<p>If matching fails, or if users can’t/won’t verify... there needs to be very robust content clearly indicating how the user proceeds with the transaction without GOV.UK Verify, and without the user being impacted either in terms of a successful transaction or lost time [to alleviate any concerns users have going through emotional/stressful transactions such as securing a mortgage]. There needs to be an adequate route that provides a proper path forward, with content explaining what to do next.
			</p>
			<hr>
			<p>To Do:</p>
			<p>This proposed content (left) needs consideration given the advice above</p>

		</div> <!-- column one third -->

	
	</div> <!-- grid row -->

 

</main>

{{/content}}

{{$bodyEnd}}
  {{>includes/scripts}}
  <script type="text/javascript" src="/public/lr-style-guide/lr-styleguide/js/styleguide.min.js"></script>
{{/bodyEnd}}

{{/govuk_template}}
