{{<govuk_template}}

{{$head}}
  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css">
{{/head}}

{{$pageTitle}}
  Unable to verify for mortgage service
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
{{>includes/beta_banner}}
	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-xlarge">

				Unable to match you to the mortgage transaction
			</h1>

			<div class="text">
				<p>
					We regret we have been unable to match your identity to a current mortgage transaction.
				</p>
				<p>There are a few reasons why this might happen, for example if you’ve recently had a change of circumstances.</p>
			</div>

			<h2 class="heading-medium">What happens next?</h2>
		 	<div class="text">
				<p>Your lender and conveyancer have been notified that you have not been able to digitally sign your mortgage deed.</p>
				<p>The person dealing with your mortgage will be in touch in the coming days to update you on what to do next.</p>
			</div>

		</div> <!-- column two thirds-->

		<div class="column-third" style="font-size:14px;">
			<!-- MattP Verify feedback -->
			<p>GDS Feedback</p> 
			<p>If matching fails, or if users can’t/won’t verify... there needs to be very robust content clearly indicating how the user proceeds with the transaction without GOV.UK Verify, and without the user being impacted either in terms of a successful transaction or lost time [to alleviate any concerns users have going through emotional/stressful transactions such as securing a mortgage]. There needs to be an adequate route that provides a proper path forward, with content explaining what to do next.
			</p>
			<hr>
			<p>To Do:</p>
			<p>This proposed content (left) needs consideration given the advice above</p>
		</div> <!-- column one third -->

	
	</div> <!-- grid row -->	

</main>

{{/content}}

{{$bodyEnd}}
  {{>includes/scripts}}
  <script type="text/javascript" src="/public/lr-style-guide/lr-styleguide/js/styleguide.min.js"></script>
{{/bodyEnd}}

{{/govuk_template}}
