{{<govuk_template}}

{{$head}}
  <link href="/public/stylesheets/application-v4.css" media="screen" rel="stylesheet" type="text/css">
{{/head}}

{{$pageTitle}}
  Sign your mortgage deed
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

<h1 class="heading-xlarge">Details confirmed</h1>

	<div class="text">
		<p class="lede">
			Now you've confirmed your details, you can view and digitally sign your
      mortgage deed. The steps below explain what you'll need to do next.
		</p>
	</div>
	<div class="text" class="verified-container">
		<ol class="list-plain">
			<li>
				<img class="verified-bullets-img" src="/public/images/icon-step-1-2x.png">
				<div class="verified-bullets">
					<h3 class="heading-small">Check your details</h3>
					<p>Check your personal details and the property address on the deed
          to confirm that they are correct</p>
				</div>
			</li>
			<li>
				<img class="verified-bullets-img" src="/public/images/icon-step-2-2x.png">
				<div class="verified-bullets">
					<h3 class="heading-small">Check your lender and read their clauses</h3>
					<p>Check the lender you instructed is displayed on the deed
          and read through their charging clauses and provisions</p>
				</div>
			</li>
			<li>
				<img class="verified-bullets-img" src="/public/images/icon-step-3-2x.png">
				<div class="verified-bullets">
					<h3 class="heading-small">Sign the deed</h3>
					<p>Use the button at the bottom of the deed to acknowledge that you
          have read the information on the deed and wish to sign it</p>
				</div>
			</li>
		</ol>
	</div>
	<div class="text">
		<p>
			<a href="view-deed" class="button">
				View your mortgage deed
			</a>
		</p>
	</div>

</main>

{{/content}}

{{$bodyEnd}}
{{>includes/scripts}}
<script type="text/javascript" src="/public/lr-style-guide/lr-styleguide/js/styleguide.min.js"></script>
{{/bodyEnd}}

{{/govuk_template}}
