{{<govuk_template}}

{{$pageTitle}}
Mortgage Deed viewed
{{/pageTitle}}

{{$head}}
  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css">
{{/head}}

{{$content}}
<main id="content" role="main">
  {{>includes/beta_banner}}

	<div class="grid-row">
    <div class="column-two-thirds">
  		<div class="deed-successful">
  			<h1 class="heading-large">Thank you for viewing your mortgage deed</h1>
  		</div>

			<a class="hack-pad-link" href="https://digitalmortgage.hackpad.com/Finished-Screen-bgM51hfN9z2#:h=What-Happens-Next">discuss on hackpad</a>
  		<h2 class="heading-medium">What happens next?</h2>
  		<p>The online deed you've viewed is not the legal deed.</p>
  		<ul>
  			<li>
  				You should sign and return your paper mortgage deed following the instructions you have received from your conveyancer
  			</li>
  			<li>
  				Land Registry will then update your title register to include the new mortgage
  			</li>
  		</ul>
  		<p>
  			The time this takes will vary depending on the complexity of the
  			transaction.
  		</p>

      <a class="hack-pad-link" href="https://digitalmortgage.hackpad.com/Finished-Screen-bgM51hfN9z2#:h=Feedback-and-Further-Information">discuss on hackpad</a>
  		<div class="division-standard-top">
				<p><a href="#">How could we improve this service?</a></p>
				<p><a href="#">More about the Land Registry</a></p>
  		</div>
    </div><!-- column-two-thirds -->
  </div>
</main>
{{/content}}

{{$bodyEnd}}
{{>includes/scripts}}
<script type="text/javascript" src="/public/lr-style-guide/lr-styleguide/js/styleguide.min.js"></script>
{{/bodyEnd}}

{{/govuk_template}}
