{{<govuk_template}}

{{$pageTitle}}
Mortgage Deed viewed
{{/pageTitle}}

{{$head}}
  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css">
{{/head}}

{{$content}}
<main id="content" role="main">
  {{>includes/beta_banner}}
  
	<div class="inner-block">
		<div class="deed-successful">
			<h3 class="heading-large">Thank you for viewing your mortgage deed</h3>
<!-- 			<p>
				You have viewed your mortgage deed.
			</p> -->
		</div>

		<h2 class="heading-medium">What happens next?</h2>
		<p>The online deed you've viewed is not the legal deed.</p>
		<!-- <p>When everyone has signed the paper deed:</p> -->
		<ul>
			<li>
				You should sign and return your paper mortgage deed following the instructions you have received from your conveyancer
			</li>
			<li>
				Land Registry will then update your title register to include etc.
			</li>
		</ul>
		<p>
			The time this takes will vary depending on the complexity of the
			transaction.
		</p>
		<div class="division-standard-top">
			<ul>
				<li><a href="#">What did you think of this service?</a> (Takes 30 seconds)</li>
				<li><a href="#">More about the Land Registry</a></li>
			</ul>
		</div>
	</div>
</main>
{{/content}}

{{$bodyEnd}}
{{>includes/scripts}}
<script type="text/javascript" src="/public/lr-style-guide/lr-styleguide/js/styleguide.min.js"></script>
{{/bodyEnd}}

{{/govuk_template}}
