{{<layout-v1}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
	<div class="outer-block">
				<div class="inner-block">
					{{>includes/alpha_banner}}
						<p><u><b>Create Case</b></u> > <u>Confirm Transaction</u> > <u>Create Mortgage</u> > <u>Sign Mortgage</u> > <u>Date and Submit</u></p>


					<div class="callout callout--action-notice callout--generated-token">

						<h1>
							Transaction code: <span class="title-flag">USNV</strong>
							</h1>

						</div>

						<div class="text">
							<h2 class="heading-medium">What happens next</h2>
							<p>You must tell your borrower(s) the code so they can enter it on GOV.UK</p>
							<p>The relationship will only be confirmed once all parties on the transaction have entered the unique code.</p>
						</div>
					</div>
				</div>
</main>

{{/content}}

{{/layout-v1}}
