{{<layout-v2}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
	<div class="inner-block">
		{{>includes/alpha_banner}}

    <div class="callout callout--action-notice callout--generated-token">
      <h1>Mortgage created</h1>
    </div>

    <div class="text">
      <h2 class="heading-medium">What happens next</h2>
			<p>Your borrower(s) now need to visit the GOV.UK website to sign their mortgage deed. When all borrowers have signed the mortgage deed, you will be able to submit it to Land Registry to update the register.</p>
		</div>


    <nav role="navigation">
      <a href="step-2-case-list">Back to case list</a>
    </nav>

	</div>
</main>

{{/content}}

{{/layout-v2}}
