{{<govuk_template}}

{{$head}}
  {{>includes/head}}
  <link rel="stylesheet" type="text/css" href="/public/stylesheets/alphagov-static.css">
  <link rel="stylesheet" type="text/css" href="/public/stylesheets/case-system-v1-2.css">
{{/head}}

{{$content}}

<main id="content" role="main">
	<div class="inner-block">

    {{>includes/alpha_banner}}

    <h1 class="heading-large">Confirm borrower(s) personal details</h1>
    <div class="text">
      <p class="lede text">Please check all the details carefully before confirming.</p>
    </div>

    <div class="legal-division--top">

      <h2 class="heading-large">Borrowers</h2>

      <h3 class="heading-medium collapse-top">Borrower 1</h3>

      <div class="grid-row">
        <div class="column-half">
          <dl class="definition-tabular--1-2--b">
            <dt>Name</dt>
            <dd>Sarah Jane Smith</dd>
          </dl>
        </div>
      </div>

      <div class="grid-row">
        <div class="column-half">
          <dl class="definition-tabular--1-2">
            <dt>Correspondance address(es)</dt>
            <dd>
              83 Lordship Park<br>
              London<br>
              N16 5UP
            </dd>
          </dl>
        </div>
      </div>

      <div class="grid-row">
        <div class="column-half">
          <dl class="definition-tabular--1-2">
            <dt>Email</dt>
            <dd>sarah@anemailaddress.co.uk</dd>
            <dt>Mobile phone number</dt>
            <dd>07964 123 321</dd>
          </dl>
        </div>
      </div>

      <h3 class="heading-medium">Borrower 2</h3>

      <div class="grid-row">
        <div class="column-half">
          <dl class="definition-tabular--1-2--b">
            <dt>Name</dt>
            <dd>Peter Smith</dd>
          </dl>
        </div>
      </div>

      <div class="grid-row" style="margin-bottom:10px;">
        <div class="column-quarter">
          Correspondance address(es):
        </div>
        <div class="column-quarter" style="padding-left:0px">
          <dd>
            83 Lordship Park<br>
            London<br>
            N16 5UP
          </dd>
        </div>
        <div class="column-quarter" style="padding-left:0px">
          12 Spring Road<br>
          Wakefield<br>
          Yorks<br>
          WK12 9AB
        </div>
      </div>

      <div class="grid-row">
        <div class="column-half">
          <dl class="definition-tabular--1-2">
            <dt>Email</dt>
            <dd>peter.smith@anemailaddress.co.uk</dd>
            <dt>Mobile phone number</dt>
            <dd>07964 123 321</dd>
          </dl>
        </div>
      </div>

    </div>




    <form action="step-6-mortgage-deed" method="get" class="form legal-division--top">
      <div class="form-group">
        <label for="check-1" class="block-label">
          <input id="check-1" type="checkbox" name="agree-execution">
          I confirm the above is correct
        </label>
      </div>
      <div class="form-group">
        <button type="submit" class="button">Confirm personal details</button>
      </div>
    </form>

  </div>
</main>

{{/content}}

{{$bodyEnd}}
  {{>includes/scripts}}
{{/bodyEnd}}

{{/govuk_template}}
