{{<govuk_template}}

	{{$pageTitle}}
		Deed V3.1 journeys
	{{/pageTitle}}

	{{$head}}
		<link href="/public/stylesheets/application-v4.css" media="screen" rel="stylesheet" type="text/css" />
	{{/head}}

	{{$content}}
		<main id="content" role="main">
			<div class="inner-block">
				<p>&lt; <a href="/">Back to index</a></p>
				<h1 class="heading-large">Deed MVP journeys</h1>
				<ul>
					<li><a href="/v4/deed-journeys/deed-transaction/property-details">Deed agreement “transaction”</a></li>
					<li><a href="/v4/deed-journeys/deed-document/deed">Deed agreement “document”</a></li>
				</ul>
			</div>
		</main>
	{{/content}}

{{/govuk_template}}
