{{<layout-v1-1}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
  <div class="inner-block">

		{{>includes/alpha_banner}}




    <div class="intro">

      <div class="step-wrap" id="step-wrap">
        <p><u>Create Case</u> > <u>Confirm Transaction</u> > <u>Create Mortgage</u> > <u><b>Sign Mortgage</b></u> > <u>Date and Submit</u></p>


        <section class="step step-1">

          <img class="icon" src="/public/images/v1/icon-crown.png">

          <div class="text-wrap">
            <!-- <strong class="new">New</strong> -->
            <h4>Before you sign this document</h4>

            <h3>you need to Log in</h3>
            <form method="get" class="form">

              <div class="form-group">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username">
              </div>

              <div class="form-group">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password">
              </div>


            </form>

            <div class="actions">
              <a class="next track" href="step-3-enter-deed-code">Proceed</a>
            </div>

          <details>

            <summary aria-controls="details-content-0" tabindex="0">
              <span class="summary">Can I use Government Gateway?</span>
            </summary>

            <div class="panel-indent" id="details-content-0" aria-expanded="false" >
              <p>
                You can't use Government Gateway with this service, it's being replaced by GOV.UK Verify.
              </p>
            </div>

          </details>

        </div>

      </section>
    </div>


  </div>

</div>
</main>

{{/content}}

{{/layout-v1-1}}
