{{<layout-v1-1}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
  <div class="inner-block">

		{{>includes/alpha_banner}}

    <p><u>Create Case</u> > <u>Confirm Transaction</u> > <u>Create Mortgage</u> > <u><b>Sign Mortgage</b></u> > <u>Date and Submit</u></p>


    <div class="callout callout--action-notice callout--generated-token">
      <h1>You've signed the mortgage deed</h1>
    </div>

    <div class="text">
      <p class="lede">You’ve signed the mortgage deed for this property. This will only be confirmed once all parties on the transaction have completed this process.</p>


      <h2 class="heading-medium">What happens next</h2>
      <p>Once you’ve signed the mortgage deed your lender will be notified and will complete the transaction.</p>
    </div>

  </div>
</main>

{{/content}}

{{/layout-v1-1}}
