{{<layout-v1-2}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

  <div class="inner-block">

		{{>includes/alpha_banner}}

		<h1 class="heading-xlarge">Identity verified</h1>

		<div class="text">


			<div class="text">
				<p>You have successfully verified your identity on GOV.UK Verify.</p>

				<p>please click the button below to continue to your mortgage deed.</p>

			<p>
				<a href="step-3-confirm-relationship" class="button button-get-started">Continue</a>
			</p>



		</div>

	</div>

</main>

{{/content}}

{{/layout-v1-2}}
