<!DOCTYPE html>
<html lang="">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <title>Index</title>

    <link rel="stylesheet" href="/public/govuk-verify-dummy/stylesheets/provider.css">
  </head>

  <body class="">
    <script type="text/javascript">document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    <header role="banner" id="header">
      <div class="inner">
        <a href="/" id="idp-logo" class="content">
          <script type="text/javascript">
          var provider = window.location.search.split('=')[1];
          document.write('<img src="/public/govuk-verify-dummy/images/' + provider + '.png" alt="">');
          </script>
        </a>
        <span style="float:right; font-size: 16px;">
          <a href="#">Contact us</a>
          <a style="display: inline-block; background:#005ea5; color: #fff; padding: 10px 14px; margin: 0 0 0 30px;" href="http://govuk-verify-test.herokuapp.com/view-driving-record/">Back to GOV.UK</a>
        </span>
      </div>
    </header>
    <!--end header-->


<main id="page-container" role="main">

  <h1 class="heading-xlarge">Security code</h1>

  <div class="grid-row">

    <div class="column-two-thirds">

      <form action="step-2-identity-verified" method="get">

        <div class="inner-block">

          <p>We've sent your security code to:</p>
          <p><strong>01234 567890</strong></p>
          <p>It may take a minute or so to arrive.</p>

          <div class="form-group">

            <label class="form-label">Security code</label>
            <input class="form-control" type="text" autocomplete="off">

          </div>

          <div class="form-group">

            <button class="button">Continue</button>

          </div>

        </div>

      </form>

    </div>

    <div class="column-third">

    </div>

  </div>

</main>

    <footer id="footer" role="contentinfo">
      <div class="inner" style="margin-top: 30px">

      </div>
    </footer>
    <!--end footer-->


  </body>
</html>
