{{<govuk_template}}

	{{$pageTitle}}
		Confirm your details
	{{/pageTitle}}

	{{$head}}
		<link href="/public/lr-style-guide/lr-styleguide/css/styleguide.css" media="screen" rel="stylesheet" type="text/css">
	  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css">
	{{/head}}

	{{$content}}
		<main id="content" role="main">
			<div class="inner-block">

				<h1 class="heading-xlarge">Sign in</h1>

				<div class="error-summary" role="group" aria-labelledby="error-summary-token-dob" tabindex="-1">
					<h1 class="heading-medium error-summary-heading" id="error-summary-token-dob">The information you entered was incorrect</h1>
					<p>Please check that you entered the token sent by email from your
					conveyancer and your date of birth in the correct format and try
					again. If you continue to experience problems please contact your
					conveyancer.</p>
				</div>

				<form class="form">
					<div class="form-group">
						<label class="form-label-bold" for="borrowerid">
							Your Borrower ID
							<span class="form-hint">Example: ABC1234</span>
						</label>
						<input type="text" class="form-control" id="borrowerid" name="borrowerid">
					</div>
					<div class="form-group">
		      			<div><a href="#">I don't have a reference number</a></div>
		    		</div>

					<div class="form-group">
						<a href="#" class="button">Continue</a>
					</div>
				</form>

			</div>
		</main>
	{{/content}}

	{{$bodyEnd}}
	  {{>includes/scripts}}
	  <script type="text/javascript" src="/public/lr-style-guide/lr-styleguide/js/styleguide.min.js"></script>
	{{/bodyEnd}}

{{/govuk_template}}
