{{<layout-v1-2}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
	<div class="inner-block">

	{{>includes/alpha_banner}}
	<h1 class="heading-xlarge">Land Charges Bankruptcy Search</h1>

	<form action="bankruptcy-step-2-results" method="get" class="form">

		<div class="form-group">
			<label for="lc-search" class="form-label">Name</label>
			<p class='form-hint'>E.g. Fred Bloggs</p>
			<input type="text" class="form-control" id="lc-search">
		</div>

		<button class="button final-btn">Search</button>

	</form>


</div>
</main>

{{/content}}

{{/layout-v1-2}}
