{{<govuk_template}}

{{$head}}
  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css">
{{/head}}

{{$pageTitle}}
  View your mortgage deed
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
  {{>includes/beta_banner}}

<h1 class="heading-xlarge">View your mortgage deed</h1>

	<div class="text">
		<p class="lede">
			Now you've signed in you can view an online version of your mortgage deed. You should:
		</p>
	</div>
	<div class="text" class="verified-container">
		<ol class="list-plain">
			<li>
				<img class="verified-bullets-img" src="/public/images/icon-step-1-2x.png">
				<div class="verified-bullets">
					<h3 class="heading-small">Read your mortgage deed carefully</h3>
					<p>Compare the online version of the deed with the paper version you have received from your conveyancer. If you spot any mistakes you should let your conveyancer know.</p>
				</div>
			</li>

			<li>
				<img class="verified-bullets-img" src="/public/images/icon-step-2-2x.png">
				<div class="verified-bullets">
					<h3 class="heading-small">Sign your paper mortgage deed</h3>
					<p>The online deed is not the legal mortgage. You should still sign and return your paper mortgage deed following the instructions you have from your conveyancer.</p>
				</div>
			</li>
<!-- 			<li>
				<img class="verified-bullets-img" src="/public/images/icon-step-3-2x.png">
				<div class="verified-bullets">
					<h3 class="heading-small">Use the code to sign your mortgage deed</h3>
					<p>Enter your code to sign the deed. Doing so means that you <b style="font-weight:800;">don't need to sign a paper document</b>, or get your signature witnessed.</p>
				</div>
			</li> -->
		</ol>
	</div>
	<div class="text">
		<p>
			<a href="mortgage-deed" class="button">
				Continue
			</a>
		</p>
	</div>

</main>

{{/content}}

{{$bodyEnd}}
{{>includes/scripts}}
<script type="text/javascript" src="/public/lr-style-guide/lr-styleguide/js/styleguide.min.js"></script>
{{/bodyEnd}}

{{/govuk_template}}
