{{<govuk_template}}

{{$head}}
	<link href="/public/lr-style-guide/lr-styleguide/css/styleguide.css" media="screen" rel="stylesheet" type="text/css">
  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css">
{{/head}}

{{$pageTitle}}
  View your mortgage deed
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
	{{>includes/beta_banner}}

	<h1 class="heading-xlarge">What we are building</h1>

	<div class="text">

		<p>
			Version of what we're building - for Sprint - from 27th Jan to 9th Feb 2016
		</p>

		<h2 class="heading-medium">View mortgage deed flow</h2>
		<ul>
			<li><a href="/building-v1-2/sign-my-mortgage">Viewing mortgage deed - happy path</a></li>
		</ul>

		<h2 class="heading-medium">Unhappy paths</h2>
		<ul>
			<li><a href="/building-v1-2/deed-not-found-error/borrower-reference">borrower reference / DOB does not match a deed</a></li>
			<li><a href="/building-v1-2/incorrect-dob/date-of-birth">invalid date of birth</a></li>
		</ul>

	</div>

</main>

{{/content}}

{{$bodyEnd}}
  {{>includes/scripts}}
  <script type="text/javascript" src="/public/lr-style-guide/lr-styleguide/js/styleguide.min.js"></script>
{{/bodyEnd}}

{{/govuk_template}}
