{{<layout-v1}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
  <div class="inner-block">

		{{>includes/alpha_banner}}

    <form action="step-7-confirmation" method="get" class="form">
      <p><u>Create Case</u> > <u>Confirm Transaction</u> > <u>Create Mortgage</u> > <u><b>Sign Mortgage</b></u> > <u>Date and Submit</u></p>


      <h1 class="form-title heading-large">Sign deed</h1>

      <p>A security code has been sent to your mobile phone number ending in xxxx xxx 6462.</p>
      <p>Enter this code below to finish signing this deed.</p>

      <div class="form-group">
        <label for="2-factor-code" class="form-label">Security code</label>
        <input type="text" class="form-control form-control--shorten" id="2-factor-code">
      </div>

      <div class="form-group">
        <button type="submit" class="button">Submit code</button>
      </div>

    </form>

</div>
</main>

{{/content}}

{{/layout-v1}}
