{{<govuk_template}}

	{{$pageTitle}}
		Your mortgage deed
	{{/pageTitle}}

	{{$head}}
	  <link href="/public/stylesheets/application-v4.css" media="screen" rel="stylesheet" type="text/css">
  	<link href="/public/lr-style-guide/lr-styleguide/css/styleguide.css" media="screen" rel="stylesheet" type="text/css" />
  	 <link href="/public/stylesheets/shame-v4.css" media="screen" rel="stylesheet" type="text/css" />
	{{/head}}

	{{$content}}
	<main id="content" role="main">
		<div class="grid-row">

			<div class="column-two-thirds">

			    <article class="deed-document--bounds">

			    	<h1 class="heading-large">Digital Mortgage deed</h1>

			    	<h2 class="heading-medium">Property</h2>

			      	<p itemscope itemtype="http://schema.org/PostalAddress">
			        	<span itemprop="streetAddress">83 Lordship Park<br>
			        	</span>
			        	<span itemprop="addressLocality">London</span><br>
			        	<span itemprop="postalCode">N16 5UP</span>
			      	</p>

			      	<dl class="definition-inline">
			        	<dt><b>Title number</b></dt>
			        	<dd>GHR67832</dd>
			      	</dl>

			      	<h2 class="heading-medium">Lender</h2>

			      	<p itemscope itemtype="http://schema.org/Corporation">
			        	<span itemprop="name">Bank of England Plc</span><br>
			        	<span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress" class="address-inline">
			          		<span itemprop="streetAddress">12 Trinity Place, Regents Street,</span>
			          		<span itemprop="addressLocality">London</span>
			          		<span itemprop="postalCode">NW10 6TQ</span>
			        	</span>
			        </p>

		        	<dl class="definition-inline">
		          		<dt>Company registration number</dt>
		          		<dd>2347676</dd>
		        	</dl>



			      	<h2 class="heading-medium">Borrower</h2>

			      	<ul>
			      		<li><b>Peter Smith</b></li>
			      		<li><b>Sarah Jane Smith</b></li>
			      	</ul>


			      <div class="text">

			        <h2 class="heading-medium">Charging clause:</h2>
			        <p>The borrower, with full title guarantee, charges to the lender the property by way of legal mortgage with payment of all money secured by the charge.</p>

			        <h2 class="heading-medium">Additional provisions:</h2>
			        <ol class="list-number">
			          <li>
			            <p>This Mortgage Deed incorporates the <a href="#" rel="external">Lenders Mortgage Conditions and Explanation 2006</a>, a copy of which the borrower has received.</p>
			          </li>
			          <li>
			            <p>The lender is obliged to make further advances and applies for the obligation to be entered in the register.</p>
			          </li>
			          <li>
			            <p>The borrower applies to enter a restriction in the register that no disposition of the registered estate by the proprietor of the registered estate is to be registered without a written consent signed by the proprietor for the time being of the charge dated [the date of this charge] in favour of Bank of England Plc referred to in the charges register.</p>
			          </li>
			        </ol>

			      </div>
<!-- 		        	<h2 class="heading-medium">Charging clause</h2>
		        	<p>The Borrower with full title guarantee charges by way of Legal Mortgage the Property, subject to any prior charges, with the payment and discharge to the Lender of all monies (whether by way of principal interest charges or otherwise) now and from time to time remaining or becoming due and unpaid to the Lender by the Borrower and by way of further security for such monies, assigns to the Lender all his beneficial interest in the Property and the proceeed of sale of the Property to hold the same for the Lender absolutely provided that when all monies secured by this Legal Charge have been paid off, the Lender will at the request of the Borrower assign to the Borrower such beneficial interest.</p> -->


<!-- 		        	<h2 class="heading-medium">Restriction</h2>
		        	<p>The Borrower hereby applies to the Registrar for a restriction in the following terms to be entered on the register of the Borrower's title relating to the Property. "No disposition of the registered estate by the proprietor of the registered estate is to be registered without a written consent signed by the proprietor for the time being of the charge date [date of this charge] in favour of Bank of England PLC referred to in the charges register".</p> -->

<!-- 					<h2 class="heading-medium">Obligation</h2>
		        	<p>The Lender is obliged to make further advances to the Borrower on the terms set out in the Mortgage Conditions and the Lender applies to the Chief Land Registrar for a note of that obligation to be entered on the register.</p> -->


<!-- 		        	<h2 class="heading-medium">Additional provisions</h2>
		        	<ul>
		          		<li>
		            		<p>This Mortgage is capable of securing further advances.</p>
		          		</li>
		          		<li>
		            		<p>A person who is not a party to this Mortgage shall have no right under the Contracts (Rights of Third Parties) Act 1999 to enforce any term of the Mortgage.  This clause does not affect any right or remedy of any person which exists or is available otherwise than persuant to that Act.</p>
		          		</li>
		          		<li>
		            		<p>This Mortgage shall be governed by and construed in accordance with English Law.</p>
		          		</li>
		        	</ul> -->

		        	<h2 class="heading-medium">Effective date and time</h2>
		        		<p>This charge takes effect when the registrar receives notification from [name of conveyancer preparing the charge] that the charge is to take effect.</p>

		        		<p style="color: #6f777b;">[Effective date and time will be shown here]</p>


					<h2 class="heading-medium">Borrower's digital signature(s)</h2>

		        	<p>Digitally signed by <b>Sarah Jane Smith</b></p>

		        	<p style="color: #6f777b;">[Awaiting digital signature by Peter Smith]</p>


					<h2 class="heading-medium">Registrar's digital signature</h2>

		        	<p style="color: #6f777b;">[Registrar's digital signature will be applied when the charge takes effect]</p>


			        <div class="text deed-form-ref">
			        	<h2 class="visuallyhidden">Digital Mortgage Deed form Reference</h2>	
			      		<p>Form of digital mortgage deed filed at HM Land Registry under reference EMD1118</p>
			        </div>


			    </article>


			</div> <!-- end column-two-thirds -->
		</div> <!-- end grid-row -->

		<div class="grid-row">

			<div style="margin-left:30px;" class="column-two-thirds">
				<div class="text">
					<h2 class="visuallyhidden">Signing your Mortgage</h2>
					<p>If you're ready to sign your mortgage, we'll send you a code which you'll need to enter on the next screen.</p>
					<p>Doing so <b>digitally signs your mortgage deed</b> and sends it back to your conveyancer.</p>
					<p>If you do not wish to sign the mortgage deed (for instance if you thik there is a mistake or you want further explanation) you should contact your conveyancer.</p>
					<a href="sign-deed#sign-here" class="button">Send my code</a>
					<!-- <a href="sign-deed#registrar-sig" class="button">Send my code</a> -->
					<!-- <a href="sign-deed" class="button">Send my code</a> -->
				</div>
			</div>

		</div>

	</main>
	{{/content}}

	{{$bodyEnd}}
	  {{>includes/scripts}}
	  <script type="text/javascript" src="/public/lr-style-guide/lr-styleguide/js/styleguide.min.js"></script>
	{{/bodyEnd}}

{{/govuk_template}}
