{{<layout-v1}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
	<div class="outer-block">
			<div class="inner-block">
				{{>includes/alpha_banner}}

				<form class="form" action="{{next_page}}" method="">
					<p><u>Create Case</u> > <u>Confirm Transaction</u> > <u>Create Mortgage</u> > <u><b>Sign Mortgage</b></u> > <u>Date and Submit</u></p>


					<h1 class="heading-large">Enter deed code</h1>

					<div class="text">
						<p class="lede">This is the code that was emailed to you.</p>
						<p class="panel-indent">If you haven’t received a code, or have lost it, contact your lender</p>

						<div class="form-group">
							<label class="form-label" for="token">Enter your code:</label>
							<p class="form-hint">Example: WDDF</p>
							<input type="text" class="form-control" id="token" name="token">
						</div>
					</div>

					<div class="form-group">
						<input type="submit" class="button" value="Submit">
					</div>

				</form>

			</div>
		</div>

</main>

{{/content}}

{{/layout-v1}}
