@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

%contain-floats:after {
  content: "";
  display: block;
  clear: both; }





@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

%contain-floats:after {
  content: "";
  display: block;
  clear: both; }

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

%contain-floats:after {
  content: "";
  display: block;
  clear: both; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

/* Borrowed from http://meyerweb.com/eric/tools/css/reset/ */
div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark {
  border: none;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, p, blockquote, pre, small, strike, strong, sub, sup, tt, var, b, u, i, center, input, textarea, table, caption, tbody, tfoot, thead, tr, th, td {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  font-weight: normal; }

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-y: scroll;
  min-height: 100%;
  background: #DDD;
  color: #4A4A4A; }

html, button, input, select, textarea {
  font-family: Arial, sans-serif; }

body {
  margin: 0;
  background: #FFFFFF;
  font-family: Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none; }
  @media (max-width: 640px) {
    body {
      font-size: 16px;
      line-height: 1.25; } }

.lt-ie9 body {
  width: 960px; }

.link {
  color: #005ea5;
  text-decoration: underline; }

.link:visited {
  color: #4c2c92; }

.link:hover {
  color: #2e8aca; }

.link:active {
  color: #005ea5; }

.link-back {
  margin-top: 1.25em;
  display: -moz-inline-stack;
  display: inline-block; }

.skiplink {
  position: absolute;
  left: -9999em; }

.skiplink:focus {
  position: static; }

.js-hidden {
  display: none; }

.font-xxlarge {
  font-family: Arial, sans-serif;
  font-size: 80px;
  line-height: 1;
  font-weight: 400;
  text-transform: none; }
  @media (max-width: 640px) {
    .font-xxlarge {
      font-size: 53px;
      line-height: 1.03774; } }

.font-xlarge {
  font-family: Arial, sans-serif;
  font-size: 48px;
  line-height: 1.04167;
  font-weight: 400;
  text-transform: none; }
  @media (max-width: 640px) {
    .font-xlarge {
      font-size: 32px;
      line-height: 1.09375; } }

.font-large {
  font-family: Arial, sans-serif;
  font-size: 36px;
  line-height: 1.11111;
  font-weight: 400;
  text-transform: none; }
  @media (max-width: 640px) {
    .font-large {
      font-size: 24px;
      line-height: 1.04167; } }

.font-medium {
  font-family: Arial, sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none; }
  @media (max-width: 640px) {
    .font-medium {
      font-size: 18px;
      line-height: 1.2; } }

.font-small {
  font-family: Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none; }
  @media (max-width: 640px) {
    .font-small {
      font-size: 16px;
      line-height: 1.25; } }

.font-xsmall {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none; }
  @media (max-width: 640px) {
    .font-xsmall {
      font-size: 14px;
      line-height: 1.14286; } }

.bold-xxlarge {
  font-family: Arial, sans-serif;
  font-size: 80px;
  line-height: 1;
  font-weight: 700;
  text-transform: none; }
  @media (max-width: 640px) {
    .bold-xxlarge {
      font-size: 53px;
      line-height: 1.03774; } }

.bold-xlarge {
  font-family: Arial, sans-serif;
  font-size: 48px;
  line-height: 1.04167;
  font-weight: 700;
  text-transform: none; }
  @media (max-width: 640px) {
    .bold-xlarge {
      font-size: 32px;
      line-height: 1.09375; } }

.bold-large {
  font-family: Arial, sans-serif;
  font-size: 36px;
  line-height: 1.11111;
  font-weight: 700;
  text-transform: none; }
  @media (max-width: 640px) {
    .bold-large {
      font-size: 24px;
      line-height: 1.04167; } }

.bold-medium {
  font-family: Arial, sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 700;
  text-transform: none; }
  @media (max-width: 640px) {
    .bold-medium {
      font-size: 18px;
      line-height: 1.2; } }

.bold-small {
  font-family: Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 700;
  text-transform: none; }
  @media (max-width: 640px) {
    .bold-small {
      font-size: 16px;
      line-height: 1.25; } }

.bold-xsmall {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 700;
  text-transform: none; }
  @media (max-width: 640px) {
    .bold-xsmall {
      font-size: 14px;
      line-height: 1.14286; } }

.heading-xlarge {
  font-family: Arial, sans-serif;
  font-size: 48px;
  line-height: 1.04167;
  font-weight: 700;
  text-transform: none;
  margin-top: 0.46875em;
  margin-bottom: 0.9375em; }
  @media (max-width: 640px) {
    .heading-xlarge {
      font-size: 32px;
      line-height: 1.09375; } }
  @media (min-width: 641px) {
    .heading-xlarge {
      margin-top: 0.625em;
      margin-bottom: 1.25em; } }
  .heading-xlarge .heading-secondary {
    font-family: Arial, sans-serif;
    font-size: 27px;
    line-height: 1.11111;
    font-weight: 400;
    text-transform: none;
    padding-top: 8px;
    padding-bottom: 7px;
    display: block;
    color: #6f777b; }
    @media (max-width: 640px) {
      .heading-xlarge .heading-secondary {
        font-size: 20px;
        line-height: 1.11111; } }
    @media (min-width: 641px) {
      .heading-xlarge .heading-secondary {
        padding-top: 4px;
        padding-bottom: 6px; } }

.heading-large {
  font-family: Arial, sans-serif;
  font-size: 36px;
  line-height: 1.11111;
  font-weight: 700;
  text-transform: none;
  margin-top: 1.04167em;
  margin-bottom: 0.41667em; }
  @media (max-width: 640px) {
    .heading-large {
      font-size: 24px;
      line-height: 1.04167; } }
  @media (min-width: 641px) {
    .heading-large {
      margin-top: 1.25em;
      margin-bottom: 0.55556em; } }
  .heading-large .heading-secondary {
    font-family: Arial, sans-serif;
    font-size: 24px;
    line-height: 1.25;
    font-weight: 400;
    text-transform: none;
    padding-top: 9px;
    padding-bottom: 6px;
    display: block;
    color: #6f777b; }
    @media (max-width: 640px) {
      .heading-large .heading-secondary {
        font-size: 18px;
        line-height: 1.2; } }
    @media (min-width: 641px) {
      .heading-large .heading-secondary {
        padding-top: 6px;
        padding-bottom: 4px; } }

.heading-medium {
  font-family: Arial, sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 700;
  text-transform: none;
  margin-top: 1.25em;
  margin-bottom: 0.5em; }
  @media (max-width: 640px) {
    .heading-medium {
      font-size: 18px;
      line-height: 1.2; } }
  @media (min-width: 641px) {
    .heading-medium {
      margin-top: 1.875em;
      margin-bottom: 0.83333em; } }

.heading-small {
  font-family: Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 700;
  text-transform: none;
  margin-top: 0.625em;
  margin-bottom: 0.3125em; }
  @media (max-width: 640px) {
    .heading-small {
      font-size: 16px;
      line-height: 1.25; } }
  @media (min-width: 641px) {
    .heading-small {
      margin-top: 1.05263em; } }

p {
  margin-top: 0.3125em;
  margin-bottom: 1.25em; }

strong {
  font-weight: bold; }

.inner {
  max-width: 960px;
  margin: 0 15px; }
  @media (min-width: 641px) {
    .inner {
      margin: 0 30px; } }
  @media (min-width: 1020px) {
    .inner {
      margin: 0 auto; } }
  .inner:after {
    content: "";
    display: block;
    clear: both; }

#page-container {
  max-width: 960px;
  margin: 0 15px;
  padding-bottom: 120px; }
  @media (min-width: 641px) {
    #page-container {
      margin: 0 30px; } }
  @media (min-width: 1020px) {
    #page-container {
      margin: 0 auto; } }
  #page-container:after {
    content: "";
    display: block;
    clear: both; }
  @media (min-width: 769px) {
    #page-container {
      padding-bottom: 240px; } }

.grid-row {
  margin: 0 -15px; }
  .grid-row:after {
    content: "";
    display: block;
    clear: both; }

.column-quarter {
  padding: 0 15px;
  box-sizing: border-box; }
  @media (min-width: 641px) {
    .column-quarter {
      float: left;
      width: 25%; } }

.column-half {
  padding: 0 15px;
  box-sizing: border-box; }
  @media (min-width: 641px) {
    .column-half {
      float: left;
      width: 50%; } }

.column-third {
  padding: 0 15px;
  box-sizing: border-box; }
  @media (min-width: 641px) {
    .column-third {
      float: left;
      width: 33.33333%; } }

.column-two-thirds {
  padding: 0 15px;
  box-sizing: border-box; }
  @media (min-width: 641px) {
    .column-two-thirds {
      float: left;
      width: 66.66667%; } }

#header {
  background: #FFF;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2); }

#idp-logo img, #idp-logo span {
  float: left; }

#idp-logo img {
  margin: 15px 15px 15px 0; }

#footer {
  min-height: 10em; }

.button {
  background-color: #00823b;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  padding: 0.3em 0.6em 0.2em 0.6em;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 2px 0 #003518;
  -moz-box-shadow: 0 2px 0 #003518;
  box-shadow: 0 2px 0 #003518;
  font-size: 1em;
  line-height: 1.25;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: #fff;
  margin: 0 15px 15px 0;
  padding: 0.625em 0.9375em 0.3125em 0.9375em;
  vertical-align: top; }
  .button:visited {
    background-color: #00823b; }
  .button:hover, .button:focus {
    background-color: #00692f; }
  .button:active {
    top: 2px;
    -webkit-box-shadow: 0 0 0 #00823b;
    -moz-box-shadow: 0 0 0 #00823b;
    box-shadow: 0 0 0 #00823b; }
  .button.disabled, .button[disabled="disabled"], .button[disabled] {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5; }
    .button.disabled:hover, .button[disabled="disabled"]:hover, .button[disabled]:hover {
      cursor: default;
      background-color: #00823b; }
    .button.disabled:active, .button[disabled="disabled"]:active, .button[disabled]:active {
      top: 0;
      -webkit-box-shadow: 0 2px 0 #003518;
      -moz-box-shadow: 0 2px 0 #003518;
      box-shadow: 0 2px 0 #003518; }
  .button:link, .button:hover, .button:focus, .button:visited {
    color: #fff; }
  .button:before {
    content: "";
    height: 110%;
    width: 100%;
    display: block;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0; }
  .button:active:before {
    top: -10%;
    height: 120%; }
  .button[rel="external"]:after {
    display: none;
    content: none;
    margin-left: 0;
    margin-right: 0; }

.button::-moz-focus-inner {
  border: 0;
  padding: 0; }

.button:focus {
  outline: 3px solid #ffbf47; }

.button[disabled="disabled"] {
  background: #00823b; }

.button[disabled="disabled"]:focus {
  outline: none; }

.button-get-started {
  font-family: Arial, sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 700;
  text-transform: none;
  background-image: url("../images/icons/icon-pointer.png");
  background-repeat: no-repeat;
  background-position: 100% 50%;
  padding: 0.4375em 2.5625em 0.25em 1em; }
  @media (max-width: 640px) {
    .button-get-started {
      font-size: 18px;
      line-height: 1.2; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20/10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .button-get-started {
      background-image: url("../images/icons/icon-pointer-2x.png");
      background-size: 30px 19px; } }

details {
  display: block; }

details summary {
  display: inline-block;
  color: #005ea5;
  cursor: pointer;
  position: relative;
  margin-bottom: 0.3125em; }

details summary:hover {
  color: #2e8aca; }

details summary:focus {
  outline: 3px solid #ffbf47; }

details .summary {
  text-decoration: underline; }

details .arrow {
  margin-right: 0.35em; }

details .panel-indent {
  margin-top: 0; }

.form-group {
  float: left;
  width: 100%;
  clear: both;
  margin-bottom: 15px; }
  .form-group:after {
    content: "";
    display: block;
    clear: both; }
  @media (min-width: 641px) {
    .form-group {
      margin-bottom: 30px; } }

.form-group-related {
  margin-bottom: 10px; }
  @media (min-width: 641px) {
    .form-group-related {
      margin-bottom: 20px; } }

.form-group-compound {
  margin-bottom: 10px; }

fieldset {
  width: 100%;
  float: left;
  clear: both; }

.form-title {
  margin-bottom: 30px; }
  @media (min-width: 641px) {
    .form-title {
      margin-bottom: 45px; } }

.form-label {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  display: block;
  margin-bottom: 5px; }
  @media (max-width: 640px) {
    .form-label {
      font-size: 14px;
      line-height: 1.14286; } }

.form-label-bold {
  font-family: Arial, sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 700;
  text-transform: none;
  display: block;
  margin-bottom: 0; }
  @media (max-width: 640px) {
    .form-label-bold {
      font-size: 18px;
      line-height: 1.2; } }
  .form-label-bold .form-hint {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 400;
    text-transform: none; }
    @media (max-width: 640px) {
      .form-label-bold .form-hint {
        font-size: 14px;
        line-height: 1.14286; } }

.form-block {
  float: left;
  width: 100%; }
  .form-block:after {
    content: "";
    display: block;
    clear: both; }

.form-hint {
  display: block;
  color: #6f777b;
  margin-bottom: 5px; }
  @media (min-width: 641px) {
    .form-hint {
      margin-top: 8px; } }

.form-control {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4px;
  background-color: #fff;
  border: 1px solid #bfc1c3;
  -webkit-appearance: none;
  border-radius: 0; }
  @media (max-width: 640px) {
    .form-control {
      font-size: 14px;
      line-height: 1.14286; } }
  @media (min-width: 641px) {
    .form-control {
      width: 50%; } }

.form-select {
  font-family: Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none; }
  @media (max-width: 640px) {
    .form-select {
      font-size: 16px;
      line-height: 1.25; } }

.form-control-3-4 {
  width: 100%; }
  @media (min-width: 641px) {
    .form-control-3-4 {
      width: 75%; } }

.form-control-1-2 {
  width: 100%; }
  @media (min-width: 641px) {
    .form-control-1-2 {
      width: 50%; } }

.form-control-1-4 {
  width: 25%; }

.form-control-1-8 {
  width: 12.5%; }

.form-control-1-16 {
  width: 6.25%; }

.form-radio {
  display: block;
  margin: 10px 0; }

.form-radio input {
  vertical-align: middle;
  margin: -4px 5px 0 0; }

.form-checkbox {
  display: block;
  margin: 15px 0; }

.form-checkbox input {
  vertical-align: middle;
  margin: -2px 5px 0 0; }

@media (max-width: 640px) {
  .form .button {
    width: 100%; } }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.validation-summary {
  border: 3px solid #df3034;
  padding: 15px 30px;
  margin-bottom: 30px; }

.validation-summary ul {
  margin-top: 10px; }

.validation-summary li, .validation-summary p {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none; }
  @media (max-width: 640px) {
    .validation-summary li, .validation-summary p {
      font-size: 14px;
      line-height: 1.14286; } }

.validation-summary p {
  margin-top: 15px;
  margin-bottom: 5px; }

.validation-summary a {
  color: #df3034; }

.validation-summary .heading-small {
  margin-top: 15px; }

.validation-message {
  display: block;
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  color: #df3034; }
  @media (max-width: 640px) {
    .validation-message {
      font-size: 14px;
      line-height: 1.14286; } }

.form-date label {
  display: block;
  margin-bottom: 5px; }

.form-date .form-group {
  width: 50px;
  float: left;
  margin-right: 20px;
  margin-bottom: 0;
  clear: none; }

.form-date .form-group-year {
  width: 70px; }

.form-date .form-group input {
  width: 100%; }

.touch .form-date {
  display: none; }

.no-touch .native-date-picker {
  display: none; }

.touch .native-date-picker {
  display: block; }

.touch input[type="date"] {
  min-height: 36px; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.block-label {
  display: block;
  float: none;
  clear: left;
  position: relative;
  background: #dee0e2;
  border: 1px solid #dee0e2;
  padding: 18px 30px 15px 45px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer; }
  @media (min-width: 641px) {
    .block-label {
      float: left;
      margin-top: 5px;
      margin-bottom: 5px; } }
  .block-label input {
    position: absolute;
    top: 18px;
    left: 15px;
    cursor: pointer; }
  .block-label:hover {
    border-color: #0b0c0c; }

@media (min-width: 641px) {
  .inline .block-label {
    clear: none;
    margin-right: 15px; } }

.js-enabled label.selected {
  background: #fff;
  border-color: #0b0c0c; }

.js-enabled label.focused {
  outline: 3px solid #ffbf47; }

.js-enabled .focused input:focus {
  outline: none; }

.icon {
  background-position: 0 0;
  background-repeat: no-repeat; }

.icon-calendar {
  background-image: url("../images/icons/icon-calendar.png");
  width: 27px;
  height: 27px; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20/10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .icon-calendar {
      background-image: url("../images/icons/icon-calendar-2x.png");
      background-size: 100%; } }

.icon-download {
  background-image: url("../images/icons/icon-file-download.png");
  width: 30px;
  height: 39px; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20/10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .icon-download {
      background-image: url("../images/icons/icon-file-download-2x.png");
      background-size: 100%; } }

.icon-important {
  background-image: url("../images/icons/icon-important.png");
  width: 34px;
  height: 34px; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20/10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .icon-important {
      background-image: url("../images/icons/icon-important-2x.png");
      background-size: 100%; } }

.icon-information {
  background-image: url("../images/icons/icon-information.png");
  width: 27px;
  height: 27px; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20/10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .icon-information {
      background-image: url("../images/icons/icon-information-2x.png");
      background-size: 100%; } }

.icon-locator {
  background-image: url("../images/icons/icon-locator.png");
  width: 26px;
  height: 36px; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20/10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .icon-locator {
      background-image: url("../images/icons/icon-locator-2x.png");
      background-size: 100%; } }

.icon-search {
  background-image: url("../images/icons/icon-search.png");
  width: 30px;
  height: 22px;
  background-color: black; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20/10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .icon-search {
      background-image: url("../images/icons/icon-search-2x.png");
      background-size: 100%; } }

.icon-pointer {
  background-image: url("../images/icons/icon-pointer.png");
  width: 30px;
  height: 19px;
  background-color: black; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20/10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .icon-pointer {
      background-image: url("../images/icons/icon-pointer-2x.png");
      background-size: 100%; } }

.icon-pointer-black {
  background-image: url("../images/icons/icon-pointer-black.png");
  width: 23px;
  height: 23px; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20/10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .icon-pointer-black {
      background-image: url("../images/icons/icon-pointer-black-2x.png");
      background-size: 100%; } }

.icon-step-1 {
  background-image: url("../images/icons/icon-steps/icon-step-1.png");
  width: 23px;
  height: 23px; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20/10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .icon-step-1 {
      background-image: url("../images/icons/icon-steps/icon-step-1-2x.png");
      background-size: 100%; } }

.icon-step-2 {
  background-image: url("../images/icons/icon-steps/icon-step-2.png");
  width: 23px;
  height: 23px; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20/10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .icon-step-2 {
      background-image: url("../images/icons/icon-steps/icon-step-2-2x.png");
      background-size: 100%; } }

.icon-step-3 {
  background-image: url("../images/icons/icon-steps/icon-step-3.png");
  width: 23px;
  height: 23px; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20/10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .icon-step-3 {
      background-image: url("../images/icons/icon-steps/icon-step-3-2x.png");
      background-size: 100%; } }

.icon-step-4 {
  background-image: url("../images/icons/icon-steps/icon-step-4.png");
  width: 23px;
  height: 23px; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20/10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .icon-step-4 {
      background-image: url("../images/icons/icon-steps/icon-step-4-2x.png");
      background-size: 100%; } }

.icon-step-5 {
  background-image: url("../images/icons/icon-steps/icon-step-5.png");
  width: 23px;
  height: 23px; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20/10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .icon-step-5 {
      background-image: url("../images/icons/icon-steps/icon-step-5-2x.png");
      background-size: 100%; } }

.icon-step-6 {
  background-image: url("../images/icons/icon-steps/icon-step-6.png");
  width: 23px;
  height: 23px; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20/10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .icon-step-6 {
      background-image: url("../images/icons/icon-steps/icon-step-6-2x.png");
      background-size: 100%; } }

.icon-step-7 {
  background-image: url("../images/icons/icon-steps/icon-step-7.png");
  width: 23px;
  height: 23px; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20/10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .icon-step-7 {
      background-image: url("../images/icons/icon-steps/icon-step-7-2x.png");
      background-size: 100%; } }

.icon-step-8 {
  background-image: url("../images/icons/icon-steps/icon-step-8.png");
  width: 23px;
  height: 23px; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20/10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .icon-step-8 {
      background-image: url("../images/icons/icon-steps/icon-step-8-2x.png");
      background-size: 100%; } }

.icon-step-9 {
  background-image: url("../images/icons/icon-steps/icon-step-9.png");
  width: 23px;
  height: 23px; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20/10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .icon-step-9 {
      background-image: url("../images/icons/icon-steps/icon-step-9-2x.png");
      background-size: 100%; } }

.icon-step-10 {
  background-image: url("../images/icons/icon-steps/icon-step-10.png");
  width: 23px;
  height: 23px; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20/10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .icon-step-10 {
      background-image: url("../images/icons/icon-steps/icon-step-10-2x.png");
      background-size: 100%; } }

.icon-step-11 {
  background-image: url("../images/icons/icon-steps/icon-step-11.png");
  width: 23px;
  height: 23px; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20/10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .icon-step-11 {
      background-image: url("../images/icons/icon-steps/icon-step-11-2x.png");
      background-size: 100%; } }

.icon-step-12 {
  background-image: url("../images/icons/icon-steps/icon-step-12.png");
  width: 23px;
  height: 23px; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20/10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .icon-step-12 {
      background-image: url("../images/icons/icon-steps/icon-step-12-2x.png");
      background-size: 100%; } }

.icon-step-13 {
  background-image: url("../images/icons/icon-steps/icon-step-13.png");
  width: 23px;
  height: 23px; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20/10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .icon-step-13 {
      background-image: url("../images/icons/icon-steps/icon-step-13-2x.png");
      background-size: 100%; } }

ul, ol {
  list-style-type: none;
  padding: 0; }

.list-bullet {
  list-style-type: disc;
  margin-left: 20px; }

.list-number {
  list-style-type: decimal;
  margin-left: 25px; }

.list-bullet, .list-number {
  margin-top: 5px;
  margin-bottom: 20px; }

.list li, .list-bullet li, .list-number li {
  margin-bottom: 5px; }

.list-intro {
  margin-top: 15px;
  margin-bottom: 0; }

.panel-indent {
  clear: both;
  border-left: 4px solid #bfc1c3;
  padding: 10px 0 10px 15px;
  margin: 30px 15px 45px 0; }
  .panel-indent:after {
    content: "";
    display: block;
    clear: both; }

.panel-indent legend {
  margin-top: 0; }

.panel-indent p:only-child, .panel-indent p:last-child {
  margin-bottom: 0; }

.panel-indent .form-group:last-child {
  margin-bottom: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%; }

table th, table td {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  padding: 0.875em 1.25em 0.625em 0;
  text-align: left;
  color: #0b0c0c;
  border-bottom: 1px solid #bfc1c3; }
  @media (max-width: 640px) {
    table th, table td {
      font-size: 14px;
      line-height: 1.14286; } }

table th {
  font-weight: 700; }

.optional {
  display: none; }

body {
  background-color: #F0F0F0; }

#page-container {
  border-radius: 10px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  padding: 30px;
  background: #fff;
  margin-top: 30px; }

.heading-xlarge {
  margin-top: 1em;
  margin-bottom: 1em; }

.intro {
  margin-bottom: 1em; }

select {
  font-size: 19px; }

.form-label {
  font-size: 19px; }

.form-label-bold {
  margin: 1em 0 0.5em 0; }

.invalid {
  color: #b10e1e;
  font-weight: bold; }

.requirement {
  margin-left: 0;
  padding-left: 22px;
  list-style: none;
  background-repeat: no-repeat;
  background-position: 0 3px;
  background-size: 14px 14px;
  background-image: url("/public/images/circle.png"); }

.requirement.valid {
  background-image: url("/public/images/tick.png");
  color: #00823B; }

.requirement.invalid {
  background-image: url("/public/images/cross.png"); }

.help {
  font-size: 16px; }

.error-summary {
  color: #b10e1e;
  display: none; }
  .error-summary p {
    margin-bottom: 0; }

.form-control-long {
  width: 320px; }

.set-wide-block-labels .block-label {
  min-width: 50%; }

.column-two-thirds p {
  width: 80%; }

.verify {
  font-size: 16px;
  border: 1px solid #999;
  border-radius: 10px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  padding: 20px; }
  .verify .logo-wrap {
    text-align: center;
    margin: 0 0 20px 0; }
    .verify .logo-wrap img {
      max-width: 175px;
      max-height: 80px;
      margin: 10px 0; }
  .verify li {
    margin: 1em 0 1em 1em;
    list-style: disc; }

details {
  margin-top: 1em;
  font-size: 16px; }
  details summary {
    cursor: pointer;
    text-decoration: underline; }

h2 {
  font-weight: bold;
  font-size: 22px;
  margin: 1em 0; }