{{<layout-v2}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
	<div class="inner-block">

		{{>includes/alpha_banner}}

		<h1 class="heading-large">How would you like to receive your code?</h1>

		<div class="text">
			<p>As part of the signing process, we will send you a security code which
				you must enter to sign the deed. The contact details below have been
				supplied by your lender and/or conveyancer.
			<p>If you cannot use any of the options below, please contact your
				conveyancer.</p>
    </div>

    <div class="form">
      <div class="form-group">
        <label class="block-label" for="radio-1">
          <input id="radio-1" type="radio" name="radio-group" value="1">
          By text message, to my mobile number ending <b>0546</b>
        </label>
        <label class="block-label" for="radio-2">
          <input id="radio-3" type="radio" name="radio-group" value="3">
          By email, to <b>peter.smith@gmail.com</b>
        </label>
        <label class="block-label" for="radio-3">
          <input id="radio-4" type="radio" name="radio-group" value="4">
          By email, to <b>peter.smith@workmail.com</b>
        </label>
      </div>
      <div class="form-group">
        <a type="submit" class="button" href="step-4-mortgage-deed">Get authentication code</a>
      </div>
    </div>

	</div>
</main>

{{/content}}

{{/layout-v2}}
