{{<layout-v2}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
  <div class="inner-block">

		{{>includes/alpha_banner}}
		<div class="completion-box">
			<h1 class="heading-xlarge">You have signed the deed</h1>
		</div>
    <div class="text">

			<p>You’ve confirmed the details of your mortgage and signed the deed.</p>
			<p>
				A confirmation email has been sent to <b>peter.smith@gmail.com</b>,
				that you should keep for your records.
			</p>

			<p>
				If you would like a copy of your application, you can
				<a href="#">download a copy of your mortgage deed (PDF file, opens in a
				new window or tab)</a>. This is not a required step.
			</p>

			<div class="alert-box">
  			<p>
					Sarah Jane Smith <b>still needs to complete this service</b> before
					your lender can continue.
				</p>
				<p>
					<a href="step-1-citizen-signs-deed">Back to start</a>
				</p>
			</div>

			<h2 class="heading-medium">What happens next</h2>

			<p>
				When everyone has signed the deed:
			</p>
			<ul class="list-bullet">
				<li>
					your conveyancer will attach any required supporting documents and
					submit the mortgage to the Land Registry
				</li>
				<li>
					the Land Registry will then update your title deeds to reflect the
					change
				</li>
			</ul>

			<p>
				The time this takes will vary depending on the complexity of the
				transaction, and your lender or conveyancer will contact you if there
				are any delays.
			</p>

      <div class="divider">
        <p><a href="#">What did you think of this service?</a> (Takes 30 seconds)</p>
        <p><a href="#">More about the land registry</a></p>
      </div>

    </div>

  </div>
</main>

{{/content}}

{{/layout-v2}}
