{{<layout-v2}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

  <div class="inner-block">

		{{>includes/alpha_banner}}

		<h1 class="heading-xlarge">Identity verified</h1>

		<div class="text">
			<p>You have successfully verified your identity on GOV.UK Verify.</p>

			<p>As part of the signing process your conveyancer and/or lender has supplied us with personal information about you (date of birth, gender and contact details).</p>
			<p>In addition, we will hold details supplied to us by GOV.UK Verify for fraud prevention and detection.</p>

			<p>
				<a href="step-3-select-delivery" class="button button-get-started">Continue to mortgage deed</a>
			</p>
		</div>

	</div>

</main>

{{/content}}

{{/layout-v2}}
