{{<layout-v2}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

  <div class="inner-block">

		{{>includes/alpha_banner}}

		<h1 class="heading-xlarge">Identity verified</h1>

		<div class="text">
			<p>You have successfully verified your identity using GOV.UK Verify.</p>
			<p>
				<a href="step-3-select-delivery" class="button button-get-started">Continue to mortgage deed</a>
			</p>
		</div>

	</div>

</main>

{{/content}}

{{/layout-v2}}
