{{<layout-v2}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

  <div class="inner-block">

		{{>includes/alpha_banner}}

		<div class="text">

			<h1 class="heading-xlarge">Sign your mortgage deed</h1>

			<p>Use this service to confirm your mortgage details are correct, and sign
				your mortgage deed. Your conveyancer wil then ensure the Land Registry is
				updated. </p>

			<p>To do this you will need:</p>

			<ul class="list-bullet">
				<li>To verify your identity on GOV.UK Verify</li>
				<li>The phone number and/or email address you provided to your lender</li>
			</ul>

			<p>
				Any information you provide during this process will be stored by
				GOV.UK for fraud prevention purposes.
			</p>

			<p>
				<a href="http://govuk-verify-test.herokuapp.com/intro?requestId=sign-mortgage" class="button button-get-started">Start now</a>
			</p>

			<details>
				<summary>
					Why is the government involved in this?
				</summary>
				<p>The Land Registry registers any interests affecting registered land,
					such as a change of mortgage. Find out more
					<a href="https://www.gov.uk/government/organisations/land-registry/about">here.</a>
				</p>
			</details>

		</div>

	</div>

</main>

{{/content}}

{{/layout-v2}}
