{{<govuk_template}}

{{$pageTitle}}
  GOV.UK prototyping kit
{{/pageTitle}}

{{$head}}
  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css">
{{/head}}

{{$content}}

<main id="wrapper" role="main">

  <div id="content">
{{>includes/beta_banner}}


    <div class="inner-block">

      	<h1 class="heading-xlarge">Sorry, we are experiencing technical problems:</h1>

		    <p class="text">
            Please try again in a few moments.
        </p>

        <p class="text">
            If this problem persists <a href="#">then contact us</a> (01897 6363636)
        </p>


    </div>

  </div>

</main>

{{/content}}

{{/govuk_template}}
