{{<govuk_template}}

{{$head}}
  {{>includes/head}}
  <link rel="stylesheet" type="text/css" href="/public/stylesheets/alphagov-static.css">
{{/head}}


{{$pageTitle}}
  GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	{{>includes/alpha_banner}}

	<h1 class="heading-xlarge">Create a new case</h1>

	<div class="text">
		<p>To use this service you’ll need to confirm:</p>
		<ul class="list-bullet">
			<li>the address of the property or land</li>
			<li>the full details of the borrower(s)</li>
		</ul>
		<p>When complete, you will be able to send an electronic mortgage deed.</p>
	</div>

	<p>
		<a href="create-reference" class="button button-get-started">Start now</a>
	</p>

  <a href="case-list">Cancel</a>

</main>

{{/content}}

{{$bodyEnd}}
  {{>includes/scripts}}
{{/bodyEnd}}

{{/govuk_template}}
