{{<govuk_template}}

{{$head}}
  {{>includes/head}}
{{/head}}


{{$pageTitle}}
  GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	{{>includes/alpha_banner}}

	<h1 class="heading-xlarge">
		Create a new case
	</h1>

	<div class="text">

		<form class="form" action="case-base" method="get">

			<div class="form-group">
				<label class="form-label" for="ref">
					Create a case reference (optional)
					<span class="form-hint">or leave blank to have one created for you</span>
				</label>
				<input type="text" class="form-control" id="ref" name="ref">
			</div>

			<div class="form-group">
				<input type="submit" class="button" value="Next">
			</div>

			<p><a href="case-list">Cancel</a></p>

		</form>

	</div>

</main>

{{/content}}

{{$bodyEnd}}
  {{>includes/scripts}}
{{/bodyEnd}}

{{/govuk_template}}
