{{<layout-v2}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
	<div class="inner-block">

	{{>includes/alpha_banner}}

	<h1 class="heading-large">Login</h1>

	<form action="case-list" method="get" class="form">

		<div class="form-group">
			<label for="username" class="form-label">Username</label>
			<input type="text" class="form-control" id="username">
		</div>

		<div class="form-group">
			<label for="password" class="form-label">Password</label>
			<input type="password" class="form-control" id="password">
		</div>

		<div class="form-group">
			<button type="submit" class="button">Login</button>
		</div>

	</form>

</div>
</main>

{{/content}}

{{/layout-v2}}
