{{<govuk_template}}

{{$head}}
	<link href="/public/lr-style-guide/lr-styleguide/css/styleguide.css" media="screen" rel="stylesheet" type="text/css">
  <link href="/public/stylesheets/application-v3-1.css" media="screen" rel="stylesheet" type="text/css">
{{/head}}

{{$pageTitle}}
  Case
{{/pageTitle}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$propositionHeader}}
  <div class="account">
    <div>Andrew Turner (Ross Clulow Solicitors)</div>
    <a href="#">My account</a>
    <a href="login">Sign out</a>
  </div>
{{/propositionHeader}}

{{$content}}

<main id="content" role="main">

  <div class="global-breadcrumb">
    <nav role="navigation">
      <ol>
        <li><a href="case-list">Case list</a></li>
	      <li>
          {{^case_reference}}New case{{/case_reference}}
          {{#case_reference}}{{case_reference}}{{/case_reference}}
        </li>
      </ol>
    </nav>
  </div><!-- global-breadcrumb -->

	{{^conveyancer_returns}}
		{{^completion_date}}
			{{#deed_created}}
				<div class="service-notice text">
					<div class="bold-small">Deed created</div>
					<p>
						If you edit details in this case, you will need to create a new deed.
					</p>
				</div>
			{{/deed_created}}
		{{/completion_date}}
	{{/conveyancer_returns}}

  {{^case_reference}}
  <h1 class="heading-xlarge">
    New case
    <a href="case-reference" class="font-xsmall" style="margin-left:8px;">
      add a case reference (optional)
    </a>
  </h1>
  {{/case_reference}}
  {{#case_reference}}
  <h1 class="heading-xlarge">
    <span class="heading-secondary">Case</span>
    {{case_reference}}
		{{^deed_signed}}
	    <a href="case-reference" class="font-xsmall" style="margin-left:8px;">
	      edit case reference
	    </a>
		{{/deed_signed}}
  </h1>
  {{/case_reference}}

	<div class="text">
		<dl class="definition-tabular-bold">
	    <dt>Task</dt>
	    <dd>Remortgage</dd>
	    <dt>Status</dt>
	    <dd>
				{{^case_status}}
					Draft
				{{/case_status}}
				{{#case_status}}
					{{{case_status}}}
				{{/case_status}}
			</dd>
			{{#completion_date}}
				<dt>Completion</dt>
				<dd>{{completion_date}}</dd>
			{{/completion_date}}
	  </dl>
	</div>

  <h2 class="heading-large division-primary-top">
    Property
    {{#property}}
			{{^deed_signed}}
      	<a href="case-find-property" class="font-xsmall" style="margin-left:8px;">select a different property</a>
			{{/deed_signed}}
    {{/property}}
  </h2>
  {{#property}}
    <p>
      83 Lordship Park<br>
      London<br>
      N16 5UP
    </p>

    <dl class="definition-inline">
      <dt>Title number</dt>
      <dd>GHR67832</dd>
    </dl>
  {{/property}}
  {{^property}}
    <p><a href="case-find-property">Add a property to this case</a></p>
  {{/property}}

  <h2 class="heading-large division-secondary-top">
    Borrowers
    {{#borrower_1}}
			{{^deed_signed}}
      	<a href="case-add-borrower" class="font-xsmall" style="margin-left:8px;">add another borrower to this case</a>
			{{/deed_signed}}
    {{/borrower_1}}
  </h2>

  {{#borrower_1}}
    <h3 class="heading-medium">
      Sarah Jane Smith
			{{^deed_signed}}
      	<a href="#" class="font-xsmall" style="margin-left:8px;">edit borrower details</a>
			{{/deed_signed}}
    </h3>

    <dl class="definition-tabular-bold">
      <dt>Date of birth</dt>
      <dd>26 May 1988</dd>
      <dt>Gender</dt>
      <dd>Female</dd>
    </dl>

    <h4 class="heading-small">Current address</h4>
    83 Lordship Park<br>
    London<br>
    N16 5UP

    <h4 class="heading-small">Contact information</h4>
    <dl class="definition-tabular-bold">
      <dt>Email address</dt>
      <dd>sarah.smith@gmail.com</dd>
      <dt>Mobile phone number</dt>
      <dd>07964 123 321</dd>
    </dl>

		{{#deed_signed}}
			<h4 class="heading-small">Signed</h4>
			<div class="grid-row">
				<div class="column-third">
					<img src="/public/images/signature-sarah.svg" class="outline-yellow">
				</div>
			</div>
		{{/deed_signed}}
  {{/borrower_1}}

  {{#borrower_2}}
    <div class="text division-standard-top"></div>

    <h3 class="heading-medium collapse-top">
      Peter James Smith
			{{^deed_signed}}
      	<a href="#" class="font-xsmall" style="margin-left:8px;">edit borrower details</a>
			{{/deed_signed}}
    </h3>

    <dl class="definition-tabular-bold">
      <dt>Date of birth</dt>
      <dd>7 January 1972</dd>
      <dt>Gender</dt>
      <dd>Male</dd>
    </dl>

    <h4 class="heading-small">Current address</h4>
    <div class="grid-row">
      <div class="column-quarter">
        83 Lordship Park<br>
        London<br>
        N16 5UP
      </div>
      <!--<div class="column-quarter" style="padding-left:0px">
        12 Spring Road<br>
        Wakefield<br>
        Yorks<br>
        WK12 9AB
      </div>-->
    </div>

    <h4 class="heading-small">Contact information</h4>
    <dl class="definition-tabular-bold">
      <dt>Email address</dt>
      <dd>peter.smith@gmail.com</dd>
      <dt>Mobile phone number</dt>
      <dd>07700 900 546</dd>
    </dl>

		{{#deed_signed}}
			<h4 class="heading-small">Signed</h4>
			<div class="grid-row">
				<div class="column-third">
					<img src="/public/images/signature-peter.svg" class="outline-yellow">
				</div>
			</div>
		{{/deed_signed}}
  {{/borrower_2}}

	{{^deed_signed}}
	  {{#borrower_1}}
	    <div class="text division-standard-top">
	      <p><a href="case-add-borrower">Add another borrower to this case</a></p>
	    </div>
	  {{/borrower_1}}
	  {{^borrower_1}}
	    <p><a href="case-add-borrower">Add a borrower to this case</a></p>
	  {{/borrower_1}}
	{{/deed_signed}}

	<div class="division-secondary-top">
		<h2 class="heading-large collapse-top">
			Mortgage
			{{#md_ref}}
				{{^deed_signed}}
	      	<a href="create-mortgage-md-ref" class="font-xsmall" style="margin-left:8px;">select a different mortgage</a>
				{{/deed_signed}}
	    {{/md_ref}}
		</h2>
		{{^md_ref}}
  		<p><a href="create-mortgage-md-ref">Add a mortgage</a></p>
		{{/md_ref}}
		{{#md_ref}}
			<dl class="definition-inline">
				<dt>MD reference</dt>
				<dd><b>{{md_ref}}</b></dd>
			</dl>
			<p>
				<b>Bank of England PLC</b><br>
				12 Trinity Place<br>
				Regents Street<br>
				London<br>
				NW10 6TQ
			</p>
		{{/md_ref}}
	</div>

	<div class="division-secondary-top">
		<h2 class="heading-large collapse-top">
			Mortgage value
			{{#mortgage_value}}
				{{^deed_signed}}
	      	<a href="case-mortgage-value" class="font-xsmall" style="margin-left:8px;">edit mortgage value</a>
				{{/deed_signed}}
	    {{/mortgage_value}}
		</h2>
		<div class="text">
			{{^mortgage_value}}
	  		<p><a href="case-mortgage-value">Add mortgage value</a></p>
			{{/mortgage_value}}
			{{#mortgage_value}}
				<dl class="definition-tabular-bold">
					<dt>Value</dt>
					<dd>£{{mortgage_value}}</dd>
					<dt>Charge</dt>
					<dd>£{{mortgage_charge}}</dd>
				</dl>
			{{/mortgage_value}}
		</div>
	</div>

  <div class="division-primary-top">
		{{^deed_created}}
		<p>
			<a href="create-mortgage-deed" class="button"
				{{^deed_available}} disabled="disabled"{{/deed_available}}
			>
				Create mortgage deed
			</a>
		</p>
		{{/deed_created}}
		{{#deed_created}}
			<p>
				<a href="#">View mortgage deed</a>
			</p>
			{{#applied}}
	    	<p><a href="#">View proof of application</a></p>
			{{/applied}}
			{{^completion_date}}
				<p>
					<a href="case-confirm-completion" class="button"
						{{^deed_signed}} disabled="disabled"{{/deed_signed}}
					>
						Complete mortgage
					</a>
				</p>
			{{/completion_date}}
			{{#completion_date}}
				{{^applied}}
					<p>
						<a href="case-apply-deed" class="button">
							Apply to register
						</a>
					</p>
				{{/applied}}
			{{/completion_date}}
		{{/deed_created}}
    <p><a href="case-list">Back to case list</a></p>
		{{^applied}}
    	<p><a href="#" class="font-xsmall">Delete this case</a></p>
		{{/applied}}
  </div>
</main>

{{/content}}

{{$bodyEnd}}
  {{>includes/scripts}}
  <script type="text/javascript" src="/public/lr-style-guide/lr-styleguide/js/styleguide.min.js"></script>
{{/bodyEnd}}

{{/govuk_template}}
