{{<govuk_template}}

{{$head}}
	<link href="/public/lr-style-guide/lr-styleguide/css/styleguide.css" media="screen" rel="stylesheet" type="text/css">
  <link href="/public/stylesheets/application-v3-1.css" media="screen" rel="stylesheet" type="text/css">
{{/head}}

{{$pageTitle}}
  Create a new case
{{/pageTitle}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$propositionHeader}}
  <div class="account">
    <div>Andrew Turner (Ross Clulow Solicitors)</div>
    <a href="#">My account</a>
    <a href="login">Sign out</a>
  </div>
{{/propositionHeader}}

{{$content}}

<main id="content" role="main">
	<div class="inner-block">
	  <div class="global-breadcrumb">
	    <nav role="navigation">
	      <ol>
	        <li><a href="case-list">Case list</a></li>
		      <li>
						<a href="case">
	          {{^case_reference}}New case{{/case_reference}}
	          {{#case_reference}}{{case_reference}}{{/case_reference}}
						</a>
	        </li>
		      <li>Add a property</li>
	      </ol>
	    </nav>
	  </div><!-- global-breadcrumb -->

	 	<h1 class="heading-xlarge">
      	<span class="heading-secondary">Add property</span>
      	Look up property
    	</h1>

    	<form action="case-find-property" method="get" class="form">
			<div class="form-group">
				<label class="form-label" for="title_number">
					Title number
					<span class="form-hint">eg DN23006</span>
				</label>
				<input type="text" class="form-control" id="title_number" name="title_number">
				<button type="submit" class="button">Search</button>
			</div>
    	</form>

		{{#title_number}}
			<h2 class="font-xsmall expand-bottom-half">1 result found</h2>

			<ol class="search-results-listing">
				<li>
					<h3 class="heading-small">
						Title Number {{title_number}}
					</h3>
					<div class="font-xsmall">
						<b>83 Lordship Park</b><br>
						London<br>
						N16 5UP
					</div>
					<div>
						<a href="case-property-handler"><b>Select this property</b></a>
					</div>
				</li>
			</ol>
		{{/title_number}}

	</div>

</main>



{{/content}}

{{$bodyEnd}}
  {{>includes/scripts}}
  <script type="text/javascript" src="/public/lr-style-guide/lr-styleguide/js/styleguide.min.js"></script>
{{/bodyEnd}}

{{/govuk_template}}
