{{<govuk_template}}

{{$pageTitle}}
	Sign in
{{/pageTitle}}

{{$head}}
	<link href="/public/lr-style-guide/lr-styleguide/css/styleguide.css" media="screen" rel="stylesheet" type="text/css" />
	<link href="/public/stylesheets/application-v3-1.css" media="screen" rel="stylesheet" type="text/css">
{{/head}}

{{$content}}

<main id="content" role="main">

	<form action="case-list" method="get" class="form">

		<h1 class="heading-large">Sign in</h1>

		<div class="form-group">
			<label for="username" class="form-label">Username</label>
			<input type="text" class="form-control" id="username">
		</div>

		<div class="form-group">
			<label for="password" class="form-label">Password</label>
			<input type="password" class="form-control" id="password">
		</div>

		<div class="form-group">
			<button type="submit" class="button">Sign in</button>
		</div>

	</form>

</main>

{{/content}}

{{$bodyEnd}}
  {{>includes/scripts}}
  <script type="text/javascript" src="/public/lr-style-guide/lr-styleguide/js/styleguide.min.js"></script>
{{/bodyEnd}}

{{/govuk_template}}
