{{<govuk_template}}

{{$head}}
  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css">
{{/head}}

{{$pageTitle}}
  Sign your mortgage deed
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

<h1 class="heading-xlarge">View and sign your mortgage deed</h1>

	<div class="text">
		<p class="lede">
			Now you've signed in, you can view and digitally sign your mortgage deed. You'll need to:
		</p>
	</div>
	<div class="text" class="verified-container">
		<ol class="list-plain">
			<li>
				<img class="verified-bullets-img" src="/public/images/icon-step-1-2x.png">
				<div class="verified-bullets">
					<h3 class="heading-small">Read your mortgage details</h3>
					<p>Check the details of your mortgage deed and read through the legal clauses carefully.</p>
				</div>
			</li>
			<li>
				<img class="verified-bullets-img" src="/public/images/icon-step-2-2x.png">
				<div class="verified-bullets">
					<h3 class="heading-small">Request a code</h3>
					<p>When you're ready to sign, we'll send an authentication code to the mobile phone number you provided during your application.</p>
				</div>
			</li>
			<li>
				<img class="verified-bullets-img" src="/public/images/icon-step-3-2x.png">
				<div class="verified-bullets">
					<h3 class="heading-small">Use the code to sign your mortgage deed</h3>
					<p>Enter your code to sign the deed. Doing so means that you <b style="font-weight:800;">don't need to sign a paper document</b>, or get your signature witnessed.</p>
				</div>
			</li>
		</ol>
	</div>
	<div class="text">
		<p>
			<a href="view-deed" class="button">
				Continue to mortgage
			</a>
		</p>
	</div>

</main>

{{/content}}

{{$bodyEnd}}
{{>includes/scripts}}
<script type="text/javascript" src="/public/lr-style-guide/lr-styleguide/js/styleguide.min.js"></script>
{{/bodyEnd}}

{{/govuk_template}}
