{{<govuk_template}}

{{$pageTitle}}
	MVP Prototype
{{/pageTitle}}

{{$head}}
	<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
{{/head}}

{{$content}}

<main id="content" role="main">
	<h1 class="heading-xlarge">
		Changes Notes for v4.1
	</h1>

  <ul>
    <li>Added new flow for returning the borrower to the enter their token page
    and to display an error message when the borrower enters either their
    borrower token or their date of birth incorrectly. This differs from the
    recommened GDS approach of informing the user when an error is encountered
    on each page as we thought this method was more secure as it is the main way
    in to view the deed. We think this might be confusing for the borrowers
    though so we will test this in the next user research session.</li>
  </ul>
</main>

{{/content}}

{{$bodyEnd}}
  {{>includes/scripts}}
{{/bodyEnd}}

{{/govuk_template}}
