{{<govuk_template}}

{{$pageTitle}}
	HTML prototypes
{{/pageTitle}}

{{$head}}
	<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
	<link href="/public/lr-style-guide/lr-styleguide/css/styleguide.css" media="screen" rel="stylesheet" type="text/css" />
{{/head}}

{{$content}}

<main id="content" role="main">

	<h1 class="heading-xlarge">HTML Prototypes</h1>

	<h2 class="heading-medium">Private beta versions</h2>
	<ul>
		<li>
			<a href="/v3">Version 3</a>
		</li>
		<li>
			<a href="/v2">Version 2</a>
		</li>
		<li>
			<a href="/deed-journeys"><strike>Alternate deed journeys</strike></a>
		</li>
	</ul>

	<h3 class="heading-medium">Previous Versions</h3>
	<p>
		Historical versions along with the dates they were active.
	</p>
	<ul>
		<li>
			<a href="/v1-2">v1.2: 28/02/2015 - 24/07/2015</a>
		</li>
		<li>
			<a href="/v1-1">v1.1: 14/02/2015 - 27/02/2015</a>
		</li>
		<li>
			<a href="/v1">v1: 05/01/2015 - 13/02/2015</a>
		</li>
	</ul>


</main>

{{/content}}

{{$bodyEnd}}
  {{>includes/scripts}}
{{/bodyEnd}}

{{/govuk_template}}
