{{<govuk_template}}

{{$pageTitle}}
	MVP Prototype
{{/pageTitle}}

{{$head}}
	<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
{{/head}}

{{$content}}

<main id="content" role="main">
	<h1 class="heading-xlarge">Digital mortgage prototypes</h1>

	<details>
		<summary class="heading-medium">I want to see the end vision for the service</summary>
		<h3 class="heading-small">Main journey for the service vision</h3>
		<ul>
			<li><a href="/citizen"><b>Full Journey</b> Including Verify</a></li>
			<li><a href="/citizen/identity-verified"><b>Happy Path</b> Journey AFTER Verify</a></li>
		</ul>

		<h3 class="heading-small">Other journeys for the service vision</h3>
		<ul>
			<li><a href="/citizen/identity-unverified"><b>Sad Path</b> Part Journey AFTER Verify</a>
			<span style="color:grey; font-size:14px;">(can't be verified)</span></li>
			<li><a href="/citizen/unable-to-match"><b>Sad Path</b> Part Journey AFTER Verify</a>
			<span style="color:grey; font-size:14px;">(can't match to a mortgage)</span></li>
			<li><a href="/deed-journeys/deed-transaction/deed-agreed_single"><b>Deed Signed</b> by a single individual</a></li>
			<li><a href="/deed-journeys/deed-transaction/deed-agreed"><b>Deed Signed</b> by 2nd individual of a couple</a></li>
		</ul>
	</details>

	<details>
		<summary class="heading-medium">I want to see prototypes for what is in development</summary>
		<h3 class="heading-small">Ten Week Commitment</h3>
		<ul>
			<li>Put prototype for ten week commitment in here</li>
		</ul>
		<h3 class="heading-small">Sprint Prototypes</h3>
		<ul>
			<li><a href="/next_sprint">What we are building for next sprint</a>
			<span style="color:grey; font-size:14px;">(23rd Mar to 5th Apr 2016)</span></li>
			<li><a href="/current_sprint">What we are building for the current sprint</a>
			<span style="color:grey; font-size:14px;">(9th Mar to 22nd Mar 2016)</span></li>
			<li><a href="/last_sprint">What we built last sprint</a>
			<span style="color:grey; font-size:14px;">(24th Feb to 8th Mar 2016)</span></li>
		</ul>
	</details>

	<details>
	<summary class="heading-medium">I want to see previous prototype versions</summary>
	<div class="text">
		<p>
			You can view the code for previous versions of the protoype by switching to
			the appropriate branch on github. If you would like to see it running then
			speak to your friendly service designer =)
		</p>
	</div>
	</details>

</main>

{{/content}}

{{$bodyEnd}}
  {{>includes/scripts}}
{{/bodyEnd}}

{{/govuk_template}}
