{{<govuk_template}}

{{$pageTitle}}
	MVP Prototype
{{/pageTitle}}

{{$head}}
	<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
{{/head}}

{{$content}}

<main id="content" role="main">
	<h1 class="heading-xlarge">Digital mortgage prototypes</h1>

	<details>
		<summary class="heading-medium">I'm a stakeholder and I want to see the service vision</summary>
		<h3 class="heading-small">Main journey for the live milestone</h3>
		<ul>
			<li><a href="/citizen"><b>Full Journey</b> Including Verify</a></li>
			<li><a href="/citizen/identity-verified"><b>Happy Path</b> Journey AFTER Verify</a></li>
		</ul>

		<h3 class="heading-small">Other journeys for the live milestone</h3>
		<ul>
			<li><a href="/citizen/identity-unverified"><b>Sad Path</b> Part Journey AFTER Verify</a> - can't be verified</li>
			<li><a href="/citizen/unable-to-match"><b>Sad Path</b> Part Journey AFTER Verify</a> - can't match to a mortgage</li>
			<li><a href="/deed-journeys/deed-transaction/deed-agreed_single"><b>Deed Signed</b> by a single individual</a></li>
			<li><a href="/deed-journeys/deed-transaction/deed-agreed"><b>Deed Signed</b> by 2nd individual of a couple</a></li>
		</ul>
	</details>

	<details>
		<summary class="heading-medium">I'm a development team member and I want to see the latest development prototypes</summary>
		<ul>
			<li><a href="/building">What we are building for next sprint</a>
			<span style="color:grey; font-size:14px;">(24th Feb to 8th Mar 2016)</span></li>
			<li><a href="/building-v1-3">What we are building for the current sprint</a>
			<span style="color:grey; font-size:14px;">(10th Feb to 23rd Feb 2016)</span></li>
			<li><a href="/building-v1-2">What we built last sprint</a>
			<span style="color:grey; font-size:14px;">(27th Jan to 9th Feb 2016)</span></li>
		</ul>
		<ul>
			<li><a href="/v4-2-proposed">signing inc verify proposition (in progress)</a>
			<span style="color:grey; font-size:14px;">(work in progress)</span></li>
		</ul>
	</details>

	<details>
	<summary class="heading-medium">I want to look at previous prototype versions</summary>
	<ul>
		<li><a href="/historic">Older prototype versions</a></li>
	</ul>
	</details>

</main>

{{/content}}

{{$bodyEnd}}
  {{>includes/scripts}}
{{/bodyEnd}}

{{/govuk_template}}
