{{<govuk_template}}

	{{$pageTitle}}
		Confirm your mortgage deed
	{{/pageTitle}}

	{{$head}}
	<link href="/public/lr-style-guide/lr-styleguide/css/styleguide.css" media="screen" rel="stylesheet" type="text/css" />
	<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css">
	{{/head}}

	{{$content}}
		<main id="content" role="main">

			{{>includes/beta_banner}}

			<div class="grid-row">
				<div class="column-two-thirds">

					<div class="error-summary" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

						<a class="hack-pad-link" href="https://digitalmortgage.hackpad.com/Enter-Authentication-Code-Screen-BFqKfPR8Y7u#:h=Error:-Invalid-Authentication-">discuss on hackpad</a>
				    <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
				      Unable to confirm your deed
				    </h1>

				    <p>
				     The authentication code you entered was incorrect, it may have already
						 been used or may have been mistyped.
				    </p>

				    <div class="error-summary-list">
				      <a href="#authentication-code">Please enter the authentication code sent to your mobile phone</a>
				    </div>

			  	</div>

					<h1 class="heading-xlarge">Confirm your mortgage deed</h1>

					<a class="hack-pad-link" href="https://digitalmortgage.hackpad.com/Enter-Authentication-Code-Screen-BFqKfPR8Y7u#:h=Explanation-Text">discuss on hackpad</a>
					<p>
						We have just sent your authentication code by text message to your mobile
						number ending <span style="font-weight: bold;">0546</span>
					</p>

					<a class="hack-pad-link" href="https://digitalmortgage.hackpad.com/Enter-Authentication-Code-Screen-BFqKfPR8Y7u#:h=Authentication-Code-Entry">discuss on hackpad</a>
					<form class="form">
						<div class="form-group error">

							<fieldset>
	      				<legend id="authentication-code">
	      				<label class="form-label-bold" for="auth-code">
									Enter your authentication code
									<span class="form-hint">For example, c6e78a2</span>
								</label>
	      				<span class="error-message">
	      					Please enter the authentication code sent to your mobile phone
	        			</span>
	        			</legend>
							</fieldset>

							<input type="text" class="form-control" id="auth-code" name="auth-code">

						</div>

						<div class="form-group">
							<a href="deed-agreed-single" class="button">Confirm mortgage</a>
						</div>

					</form>
				</div>
			</div>
		</main>
	{{/content}}

	{{$bodyEnd}}
	  {{>includes/scripts}}
	  <script type="text/javascript" src="/public/lr-style-guide/lr-styleguide/js/styleguide.min.js"></script>
	{{/bodyEnd}}

{{/govuk_template}}
