<ol>
  <li>
    <p>
      This mortgage incorporates the Mortgage Conditions and Explanations, a
      copy of which has been received by the Borrower, and the rules (for the
      time being) of the Society.
    </p>
  </li>
  <li>
    <p>
      The Borrower charges (by way of legal mortgage and with full title
      guarantee) the property with payment of all monies payable by the Borrower
      to the Society.
    </p>
  </li>
  <li>
    <p>
      The Society has power under the mortgage conditions to make further advances
      secured by the mortgage.
    </p>
  </li>
  <li>
    <p>
      The Borrower and the Society shall jointly apply to the Chief Land Registrar
      to enter the following restriction in the Proprietorship Register of the
      title number referred to:
    </p>
    <p>
      “No disposition of the registered estate by the proprietor of the registered
      estate or by the proprietor of any registered charge, is to be registered
      without a written consent signed by the proprietor for the time being of
      the charge dated ... ... ... in favour of the Society referred to in the
      Charge Register.”
    </p>
  </li>
</ol>
